<div class="modal-content" id="Admission">
    <h5>Crew Name:</h5>
    <div class="modal-body">
        <form>
            <table id="RanksMastertable" class="display" style="width:30%">
                <thead>
                    <tr>
                        <th>Active from</th>
                        <th>Active to</th>
                        <th>Duration</th>
                        @*<th>Edit</th>*@
                        @*<th>Delete</th>*@
                    </tr>
                </thead>
            </table>
        </form>
    </div>
</div>
