@model TM.RestHour.Models.Vessel
@*@model TM.Base.Common.MentalHealthPOCO*@
@{
    ViewBag.Title = "MentalHealthReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link rel="stylesheet" href="../css/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/buttons.dataTables.min.css" />

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/MentalHealthReport.js"></script>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.select.min.js"></script>

@Html.Hidden("loaddatareport", @Url.Action("LoadData", "MentalHealth"))

<h2>Mental Health</h2>


<div class="">
    <ul class="container--tabs">
        <li class="tab tabs--active">Post Joining</li>
        <li class="tab">Pre Sign Off</li>
    </ul>

    <div class="container--content">
        <div class="content content--active card">
            <div class="row">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="col-sm-12 col-xs-12 imo">
                        <div style="width:90%; margin:0 auto" class="tablecontainer">
                            <input type="hidden" id="hdncount" />
                            <input type="hidden" id="hdnrole" />
                            <div class="table-responsive">
                                <table id="Listtable" class="table display">
                                    <thead class="blue_Color color_white">
                                        <tr>
                                            <th>Crew Name</th>

                                            <th>Locus Of Control</th>
                                            <th>MASS Mindfulness</th>
                                            <th>Beck Depression</th>
                                            <th>PSQ30 Percieved</th>
                                            <th>Rosenberg Self Esteem</th>
                                            <th>Zhao Anxiety Y1</th>
                                            <th>Zhao Anxiety Y2</th>
                                            <th>Emotional Intelligence</th>

                                            <th>Post Joining Date</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content content-- card">
            <div class="row">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="col-sm-12 col-xs-12 imo">
                        <div style="width:90%; margin:0 auto" class="tablecontainer">
                            <input type="hidden" id="hdncount" />
                            <input type="hidden" id="hdnrole" />
                            <div class="table-responsive">
                                <table id="ListtablePreSignOff" class="table display">
                                    <thead class="blue_Color color_white">
                                        <tr>
                                            <th>Crew Name</th>

                                            <th>Locus Of Control</th>
                                            <th>MASS Mindfulness</th>
                                            <th>Beck Depression</th>
                                            <th>PSQ30 Percieved</th>
                                            <th>Rosenberg Self Esteem</th>
                                            <th>Zhao Anxiety Y1</th>
                                            <th>Zhao Anxiety Y2</th>
                                            <th>Emotional Intelligence</th>

                                            <th>Pre Sign Off Date</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<script>


</script>



@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            //SetUpGrid();
            GetTableData();
       
        });



        const tabs = document.querySelectorAll(".tab");
        const contents = document.querySelectorAll(".content");

        for (let i = 0; i < tabs.length; i++) {
            tabs[i].addEventListener("click", () => {
                for (let j = 0; j < contents.length; j++) {
                    contents[j].classList.remove("content--active");
                }
                for (let jj = 0; jj < tabs.length; jj++) {
                    tabs[jj].classList.remove("tabs--active");
                }
                contents[i].classList.add("content--active");
                tabs[i].classList.add("tabs--active");
            });
        }

    </script>
}
