
@{
    ViewBag.Title = "BeckDepressionInventoryIIFinal";
}

<div class="row">
    @*<div class="head_title">
            <h1 class="ta">Page Name</h1>
        </div>*@
    <div class="card bacmt" style="height: 600px;">
        <div class="clearfix"></div>
        <div class="row">





            <div class="col-md-3" style="padding: 10px; margin-top:68px;">
                <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveXYZ();">Next</button>
            </div>

        </div>
    </div>
</div>

