
@{
    ViewBag.Title = "BeckDepressionInventoryIIFinal";
}

<div class="row">
    @*<div class="head_title">
            <h1 class="ta">Page Name</h1>
        </div>*@
    <div class="card bacmt" style="height: 600px;">
        <div class="clearfix"></div>
        <div class="row">


            <section>
                <p style="text-align:center;margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">BDI - II</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;">Instructions: This questionnaire consists of 21 groups of statements. Please read each group of statements carefully. And then pick out the one statement in each group that best describes the way you have been feeling during the past two weeks, including today. Circle the number beside the statement you have picked. If several statements in the group seem to apply equally well, circle the highest number for that group. Be sure that you do not choose more than one statement for any group, including Item 16 (Changes in Sleeping Pattern) or Item 18 (Changes in Appetite).</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Sadness</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="1_1" name="q1" value="1_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I do not feel sad.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="1_2" name="q1" value="1_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel sad much of the time.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="1_3" name="q1" value="1_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am sad all the time.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="1_4" name="q1" value="1_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am so sad or unhappy that I can't stand it.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Pessimism</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="2_1" name="q2" value="2_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am not discouraged about my future.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="2_2" name="q2" value="2_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel more discouraged about my future than I used to.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="2_3" name="q2" value="2_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I do not expect things to work out for me.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="2_4" name="q2" value="2_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel my future is hopeless and will only get worse.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Past Failure</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="3_1" name="q3" value="3_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I do not feel like a failure.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="3_2" name="q3" value="3_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have failed more than I should have.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="3_3" name="q3" value="3_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">As I look back, I see a lot of failures.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="3_4" name="q3" value="3_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel I am a total failure as a person.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">5.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Loss of Pleasure</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="5_1" name="q5" value="5_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I get as much pleasure as I ever did from the things I enjoy.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="5_2" name="q5" value="5_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I don't enjoy things as much as I used to.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="5_3" name="q5" value="5_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I get very little pleasure from the things I used to enjoy.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="5_4" name="q5" value="5_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I can't get any pleasure from the things I used to enjoy.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">6.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Guilty Feelings</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="6_1" name="q6" value="6_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I don't feel particularly guilty.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="6_2" name="q6" value="6_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel guilty over many things I have done or should have done.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="6_3" name="q6" value="6_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel quite guilty most of the time.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="6_4" name="q6" value="6_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel guilty all of the time.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">7.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Punishment Feelings</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="7_1" name="q7" value="7_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I don't feel I am being punished.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="7_2" name="q7" value="7_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel I may be punished.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="7_3" name="q7" value="7_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I expect to be punished.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="7_4" name="q7" value="7_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel I am being punished.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">8.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Self-Dislike</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="8_1" name="q8" value="8_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel the same about myself as ever.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="8_2" name="q8" value="8_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have lost confidence in myself.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="8_3" name="q8" value="8_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am disappointed in myself.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="8_4" name="q8" value="8_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I dislike myself.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">9.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Self-Criticalness</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="9_1" name="q9" value="9_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I don't criticize or blame myself more than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="9_2" name="q9" value="9_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am more critical of myself than I used to be.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="9_3" name="q9" value="9_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I criticize myself for all of my faults.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="9_4" name="q9" value="9_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I blame myself for everything bad that happens.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">10.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Suicidal Thoughts or Wishes</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="10_1" name="q10" value="10_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I don't have any thoughts of killing myself.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="10_2" name="q10" value="10_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have thoughts of killing myself, but I would not carry them out.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="10_3" name="q10" value="10_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I would like to kill myself.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="10_4" name="q10" value="10_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I would kill myself if I had the chance.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">11.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Crying</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="11_1" name="q11" value="11_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I don't cry anymore than I used to.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="11_2" name="q11" value="11_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I cry more than I used to.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="11_3" name="q11" value="11_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I cry over every little thing.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="11_4" name="q11" value="11_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel like crying, but I can't.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">12.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Agitation</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="12_1" name="q12" value="12_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am no more restless or wound up than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="12_2" name="q12" value="12_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel more restless or wound up than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="12_3" name="q12" value="12_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am so restless or agitated, it's hard to stay still.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="12_4" name="q12" value="12_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am so restless or agitated that I have to keep moving or doing something.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">13.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Loss of Interest</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="13_1" name="q13" value="13_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have not lost interest in other people or activities.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="13_2" name="q13" value="13_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am less interested in other people or things than before.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="13_3" name="q13" value="13_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have lost most of my interest in other people or things.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="13_4" name="q13" value="13_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">It's hard to get interested in anything.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">14.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Indecisiveness</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="14_1" name="q14" value="14_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I make decisions about as well as ever.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="14_2" name="q14" value="14_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I find it more difficult to make decisions than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="14_3" name="q14" value="14_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have much greater difficulty in making decisions than I used to.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="14_4" name="q14" value="14_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have trouble making any decisions.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">15.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Worthlessness</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="15_1" name="q15" value="15_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I do not feel I am worthless.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="15_2" name="q15" value="15_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I don't consider myself as worthwhile and useful as I used to.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="15_3" name="q15" value="15_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel more worthless as compared to others.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="15_4" name="q15" value="15_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I feel utterly worthless.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">16.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Loss of Energy</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="16_1" name="q16" value="16_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have as much energy as ever.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="16_2" name="q16" value="16_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have less energy than I used to have.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="16_3" name="q16" value="16_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I don't have enough energy to do very much.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="16_4" name="q16" value="16_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I don't have enough energy to do anything.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">17.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Changes in Sleeping Pattern</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have not experienced any change in my sleeping. </span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q17.1a" name="q17.1" value="q17.1a">
                    <span style="font-family:Candara;font-size:14pt;">1a. I sleep somewhat more than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q17.1b" name="q17.1" value="q17.1b">
                    <span style="font-family:Candara;font-size:14pt;">1b. I sleep somewhat less than usual.</span>
                </p>             
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q17.2a" name="q17.2" value="q17.2a">
                    <span style="font-family:Candara;font-size:14pt;">2a. I sleep a lot more than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q17.2b" name="q17.2" value="q17.2b">
                    <span style="font-family:Candara;font-size:14pt;">2b. I sleep a lot less than usual.</span>
                </p>              
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q17.3a" name="q17.3" value="q17.3a">
                    <span style="font-family:Candara;font-size:14pt;">3a. I sleep most of the day.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q17.3b" name="q17.3" value="q17.3b">
                    <span style="font-family:Candara;font-size:14pt;">3b. I wake up 1-2 hours early and can't get back to sleep.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">18.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Irritability</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="18_1" name="q18" value="18_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am not more irritable than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="18_2" name="q18" value="18_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am more irritable than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="18_3" name="q18" value="18_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am much more irritable than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="18_4" name="q18" value="18_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am irritable all the time.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">19.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Changes in Appetite</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have not experienced any change in my appetite.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q19.1a" name="q19.1" value="q19.1a">
                    <span style="font-family:Candara;font-size:14pt;">1a. My appetite is somewhat less than usual. </span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q19.1b" name="q19.1" value="q19.1b">
                    <span style="font-family:Candara;font-size:14pt;">1b. My appetite is somewhat greater than usual.</span>
                </p>             
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q19.2a" name="q19.2" value="q19.2a">
                    <span style="font-family:Candara;font-size:14pt;">2a. My appetite is much less than before.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q19.2b" name="q19.2" value="q19.2b">
                    <span style="font-family:Candara;font-size:14pt;">2b. My appetite is much greater than usual. </span>
                </p>              
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q19.3a" name="q19.3" value="q19.3a">
                    <span style="font-family:Candara;font-size:14pt;">3a. I have no appetite at all.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="q19.3b" name="q19.3" value="q19.3b">
                    <span style="font-family:Candara;font-size:14pt;">3b. I crave food all the time.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">20.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Concentration Difficulty</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="20_1" name="q20" value="20_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I can concentrate as well as ever.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="20_2" name="q20" value="20_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I can't concentrate as well as usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="20_3" name="q20" value="20_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">It's hard to keep my mind on anything for very long.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="20_4" name="q20" value="20_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I find I can't concentrate on anything.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">21.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Tiredness or Fatigue</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="21_1" name="q21" value="21_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am no more tired or fatigued than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="21_2" name="q21" value="21_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I get more tired or fatigued more easily than usual.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="21_3" name="q21" value="21_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am too tired or fatigued to do a lot of the things I used to do.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="21_4" name="q21" value="21_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am too tired or fatigued to do most of the things I used to do.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">22.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;font-weight: bold;">Loss of Interest in Sex</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="22_1" name="q22" value="22_1">
                    <span style="font-family:Candara;font-size:14pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have not noticed any recent change in my interest in sex.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="22_2" name="q22" value="22_2">
                    <span style="font-family:Candara;font-size:14pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am less interested in sex than I used to be.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="22_3" name="q22" value="22_3">
                    <span style="font-family:Candara;font-size:14pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I am much less interested in sex now.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <input type="radio" id="22_4" name="q22" value="22_4">
                    <span style="font-family:Candara;font-size:14pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Candara;font-size:14pt;">I have lost interest in sex completely.</span>
                </p>
                <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>

                @*<p style="margin-left:32.45pt;margin-right:0pt;margin-top:0.2pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span style="font-family:Candara;font-size:14pt;">Total</span>
            <span style="font-family:Candara;font-size:14pt;letter-spacing:-0.7000000000000001pt;"> </span>
            <span style="font-family:Candara;font-size:14pt;">Score: &nbsp;</span>
            <span style="font-family:Candara;font-size:14pt;text-decoration: underline;"> </span>
        </p>
        <p style="margin-left:0pt;margin-right:0pt;margin-top:0.35000000000000003pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scoring Standard for BDI</span>
        </p>
        <table style="border-collapse:collapse;margin-left:-1.7000000000000002pt;">
            <colgroup>
                <col style="width:87px" />
                <col style="width:69px" />
                <col style="width:230px" />
            </colgroup>
            <tr style="height:17.5pt;">
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:65.8pt;vertical-align:top;">
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scores</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:51.95pt;vertical-align:top;">
                    <p style="margin-left:0.05pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">0 – 13</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:172.85000000000002pt;vertical-align:top;">
                    <p style="margin-left:4.05pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Minimal depression</span>
                    </p>
                </td>
            </tr>
            <tr style="height:19.4pt;">
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:65.8pt;vertical-align:top;">
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scores</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:51.95pt;vertical-align:top;">
                    <p style="margin-left:0.05pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">14 – 19</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:172.85000000000002pt;vertical-align:top;">
                    <p style="margin-left:3.4000000000000004pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Mild depression</span>
                    </p>
                </td>
            </tr>
            <tr style="height:15pt;">
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:65.8pt;vertical-align:top;">
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scores</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:51.95pt;vertical-align:top;">
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">20 –28</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:172.85000000000002pt;vertical-align:top;">
                    <p style="margin-left:4.6000000000000005pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Moderate depression</span>
                    </p>
                </td>
            </tr>
            <tr style="height:25.65pt;">
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:65.8pt;vertical-align:top;">
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Scores</span>
                    </p>
                    <p style="margin-left:2.35pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:51.95pt;vertical-align:top;">
                    <p style="margin-left:0pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">29 –63</span>
                    </p>
                </td>
                <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:172.85000000000002pt;vertical-align:top;">
                    <p style="margin-left:4pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;">
                        <span style="font-family:Candara;font-size:14pt;font-weight: bold;letter-spacing:0.05pt;">Severe depression</span>
                    </p>
                </td>
            </tr>
        </table>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:5.800000000000001pt;margin-right:0pt;margin-top:0.65pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>
        <p style="margin-left:32.45pt;text-indent:-18pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
            <span>&nbsp;</span>
        </p>*@
            </section>




            <div class="col-md-3" style="padding: 10px; margin-top:68px;">
                <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveXYZ();">Next</button>
            </div>

        </div>
    </div>
</div>

