
@{
    ViewBag.Title = "EmotionalIntelligenceQuizForLeadership";
}

<div class="row">
    @*<div class="head_title">
            <h1 class="ta">Page Name</h1>
        </div>*@
    <div class="card bacmt" style="height: 600px;">
        <div class="clearfix"></div>
        <div class="row">


            <section>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:18pt;">The Quick Emotional Intelligence Self-Assessment </span>
                </p>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:2.95pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:9pt;">*Adapted for the 2014 UAA Leadership Conference from a model by Paul Mohapel </span>
                </p>
                <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:654px" />
                    </colgroup>
                    <tr style="height:27.6pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                            <p style="text-align:right;margin-left:0pt;margin-right:34.75pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:12pt;">Rank each statement as follows: </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">0 </span>
                                <span style="font-family:Calibri;font-size:12pt;">(Never) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">1</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Rarely) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">2</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Sometimes) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">3</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Often) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">4</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Always)</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.2pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Self-Awareness </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________ </span>
                </p>
                <table style="width:800pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q1a" name="q1" value="q1a">0
                                    &nbsp; <input type="radio" id="q1b" name="q1" value="q1b">1
                                    &nbsp; <input type="radio" id="q1c" name="q1" value="q1c">2
                                    &nbsp; <input type="radio" id="q1d" name="q1" value="q1d">3
                                    &nbsp; <input type="radio" id="q1e" name="q1" value="q1e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My feelings are clear to me at any given moment</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q2a" name="q2" value="q2a">0
                                    &nbsp; <input type="radio" id="q2b" name="q2" value="q2b">1
                                    &nbsp; <input type="radio" id="q2c" name="q2" value="q2c">2
                                    &nbsp; <input type="radio" id="q2d" name="q2" value="q2d">3
                                    &nbsp; <input type="radio" id="q2e" name="q2" value="q2e">4

                                    &nbsp; <input type="radio" id="q3a" name="q3" value="q3a">0
                                    &nbsp; <input type="radio" id="q3b" name="q3" value="q3b">1
                                    &nbsp; <input type="radio" id="q3c" name="q3" value="q3c">2
                                    &nbsp; <input type="radio" id="q3d" name="q3" value="q3d">3
                                    &nbsp; <input type="radio" id="q3e" name="q3" value="q3e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Emotions play an important part in my life </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My moods impact the people around me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q4a" name="q4" value="q4a">0
                                    &nbsp; <input type="radio" id="q4b" name="q4" value="q4b">1
                                    &nbsp; <input type="radio" id="q4c" name="q4" value="q4c">2
                                    &nbsp; <input type="radio" id="q4d" name="q4" value="q4d">3
                                    &nbsp; <input type="radio" id="q4e" name="q4" value="q1e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it east to put words to my feelings</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q5a" name="q5" value="q5a">0
                                    &nbsp; <input type="radio" id="q5b" name="q5" value="q5b">1
                                    &nbsp; <input type="radio" id="q5c" name="q5" value="q5c">2
                                    &nbsp; <input type="radio" id="q5d" name="q5" value="q5d">3
                                    &nbsp; <input type="radio" id="q5e" name="q5" value="q5e">4

                                    &nbsp; <input type="radio" id="q6a" name="q6" value="q6a">0
                                    &nbsp; <input type="radio" id="q6b" name="q6" value="q6b">1
                                    &nbsp; <input type="radio" id="q6c" name="q6" value="q6c">2
                                    &nbsp; <input type="radio" id="q6d" name="q6" value="q6d">3
                                    &nbsp; <input type="radio" id="q6e" name="q6" value="q6e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My moods are easily affected by external events </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can easily sense when I am going to be angry</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q7a" name="q7" value="q7a">0
                                    &nbsp; <input type="radio" id="q7b" name="q7" value="q7b">1
                                    &nbsp; <input type="radio" id="q7c" name="q7" value="q7c">2
                                    &nbsp; <input type="radio" id="q7d" name="q7" value="q7d">3
                                    &nbsp; <input type="radio" id="q7e" name="q7" value="q7e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I readily tell others my true feelings</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q8a" name="q8" value="q8a">0
                                    &nbsp; <input type="radio" id="q8b" name="q8" value="q8b">1
                                    &nbsp; <input type="radio" id="q8c" name="q8" value="q8c">2
                                    &nbsp; <input type="radio" id="q8d" name="q8" value="q8d">3
                                    &nbsp; <input type="radio" id="q8e" name="q8" value="q8e">4

                                    &nbsp; <input type="radio" id="q9a" name="q9" value="q9a">0
                                    &nbsp; <input type="radio" id="q9b" name="q9" value="q9b">1
                                    &nbsp; <input type="radio" id="q9c" name="q9" value="q9c">2
                                    &nbsp; <input type="radio" id="q9d" name="q9" value="q9d">3
                                    &nbsp; <input type="radio" id="q9e" name="q9" value="q9e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it easy to describe my feelings </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Even when I'm upset, I'm aware of what's happening to me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q10a" name="q10" value="q10a">0
                                    &nbsp; <input type="radio" id="q10b" name="q10" value="q10b">1
                                    &nbsp; <input type="radio" id="q10c" name="q10" value="q10c">2
                                    &nbsp; <input type="radio" id="q10d" name="q10" value="q10d">3
                                    &nbsp; <input type="radio" id="q10e" name="q10" value="q10e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to stand apart from my thoughts and feelings and examine them</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.2pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Self-Control </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________</span>
                </p>
                <table style="width:800pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q11a" name="q11" value="q11a">0
                                    &nbsp; <input type="radio" id="q11b" name="q11" value="q11b">1
                                    &nbsp; <input type="radio" id="q11c" name="q11" value="q11c">2
                                    &nbsp; <input type="radio" id="q11d" name="q11" value="q11d">3
                                    &nbsp; <input type="radio" id="q11e" name="q11" value="q11e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I accept responsibility for my reactions</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q12a" name="q12" value="q12a">0
                                    &nbsp; <input type="radio" id="q12b" name="q12" value="q12b">1
                                    &nbsp; <input type="radio" id="q12c" name="q12" value="q12c">2
                                    &nbsp; <input type="radio" id="q12d" name="q12" value="q12d">3
                                    &nbsp; <input type="radio" id="q12e" name="q12" value="q12e">4
                                </span>
                            </p>
                        </td>
                        <td rowspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it easy to make goals and stick with them </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am an emotionally balanced person</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q13a" name="q13" value="q13a">0
                                    &nbsp; <input type="radio" id="q13b" name="q13" value="q13b">1
                                    &nbsp; <input type="radio" id="q13c" name="q13" value="q13c">2
                                    &nbsp; <input type="radio" id="q13d" name="q13" value="q13d">3
                                    &nbsp; <input type="radio" id="q13e" name="q13" value="q13e">4
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q14a" name="q14" value="q14a">0
                                    &nbsp; <input type="radio" id="q14b" name="q14" value="q14b">1
                                    &nbsp; <input type="radio" id="q14c" name="q14" value="q14c">2
                                    &nbsp; <input type="radio" id="q14d" name="q14" value="q14d">3
                                    &nbsp; <input type="radio" id="q14e" name="q14" value="q14e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am a very patient person</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q15a" name="q15" value="q15a">0
                                    &nbsp; <input type="radio" id="q15b" name="q15" value="q15b">1
                                    &nbsp; <input type="radio" id="q15c" name="q15" value="q15c">2
                                    &nbsp; <input type="radio" id="q15d" name="q15" value="q15d">3
                                    &nbsp; <input type="radio" id="q15e" name="q15" value="q15e">4
                                </span>
                            </p>
                        </td>
                        <td rowspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can accept critical comments from others without becoming angry </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">If an issue does not affect me directly, I don't let it bother me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q16a" name="q16" value="q16a">0
                                    &nbsp; <input type="radio" id="q16b" name="q16" value="q16b">1
                                    &nbsp; <input type="radio" id="q16c" name="q16" value="q16c">2
                                    &nbsp; <input type="radio" id="q16d" name="q16" value="q16d">3
                                    &nbsp; <input type="radio" id="q16e" name="q16" value="q16e">4
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q17a" name="q17" value="q17a">0
                                    &nbsp; <input type="radio" id="q17b" name="q17" value="q17b">1
                                    &nbsp; <input type="radio" id="q17c" name="q17" value="q17c">2
                                    &nbsp; <input type="radio" id="q17d" name="q17" value="q17d">3
                                    &nbsp; <input type="radio" id="q17e" name="q17" value="q17e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can restrain myself when I feel anger towards someone</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q18a" name="q18" value="q18a">0
                                    &nbsp; <input type="radio" id="q18b" name="q18" value="q18b">1
                                    &nbsp; <input type="radio" id="q18c" name="q18" value="q18c">2
                                    &nbsp; <input type="radio" id="q18d" name="q18" value="q18d">3
                                    &nbsp; <input type="radio" id="q18e" name="q18" value="q18e">4
                                </span>
                            </p>
                        </td>
                        <td rowspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I control urges to overindulge in things that could damage my wellbeing </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> I maintain my composure even during stressful times</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q19a" name="q19" value="q19a">0
                                    &nbsp; <input type="radio" id="q19b" name="q19" value="q19b">1
                                    &nbsp; <input type="radio" id="q19c" name="q19" value="q19c">2
                                    &nbsp; <input type="radio" id="q19d" name="q19" value="q19d">3
                                    &nbsp; <input type="radio" id="q19e" name="q19" value="q19e">4
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q20a" name="q20" value="q20a">0
                                    &nbsp; <input type="radio" id="q20b" name="q20" value="q20b">1
                                    &nbsp; <input type="radio" id="q20c" name="q20" value="q20c">2
                                    &nbsp; <input type="radio" id="q20d" name="q20" value="q20d">3
                                    &nbsp; <input type="radio" id="q20e" name="q20" value="q20e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I direct my energy into creative work or hobbies</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.6pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Empathy </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________ </span>
                </p>
                <table style="width:800pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q21a" name="q21" value="q21a">0
                                    &nbsp; <input type="radio" id="q21b" name="q21" value="q21b">1
                                    &nbsp; <input type="radio" id="q21c" name="q21" value="q21c">2
                                    &nbsp; <input type="radio" id="q21d" name="q21" value="q21d">3
                                    &nbsp; <input type="radio" id="q21e" name="q21" value="q21e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I consider the impact of my decisions on other people</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.8pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q22a" name="q22" value="q22a">0
                                    &nbsp; <input type="radio" id="q22b" name="q22" value="q22b">1
                                    &nbsp; <input type="radio" id="q22c" name="q22" value="q22c">2
                                    &nbsp; <input type="radio" id="q22d" name="q22" value="q22d">3
                                    &nbsp; <input type="radio" id="q22e" name="q22" value="q22e">4

                                    &nbsp; <input type="radio" id="q23a" name="q23" value="q23a">0
                                    &nbsp; <input type="radio" id="q23b" name="q23" value="q23b">1
                                    &nbsp; <input type="radio" id="q23c" name="q23" value="q23c">2
                                    &nbsp; <input type="radio" id="q23d" name="q23" value="q23d">3
                                    &nbsp; <input type="radio" id="q23e" name="q23" value="q23e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can tell if the people around me are becoming annoyed </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I sense it when a person's mood changes</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q24a" name="q24" value="q24a">0
                                    &nbsp; <input type="radio" id="q24b" name="q24" value="q24b">1
                                    &nbsp; <input type="radio" id="q24c" name="q24" value="q24c">2
                                    &nbsp; <input type="radio" id="q24d" name="q24" value="q24d">3
                                    &nbsp; <input type="radio" id="q24e" name="q24" value="q24e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to be supportive when giving bad news to others</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.8pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q25a" name="q25" value="q25a">0
                                    &nbsp; <input type="radio" id="q25b" name="q25" value="q25b">1
                                    &nbsp; <input type="radio" id="q25c" name="q25" value="q25c">2
                                    &nbsp; <input type="radio" id="q25d" name="q25" value="q25d">3
                                    &nbsp; <input type="radio" id="q25e" name="q25" value="q25e">4

                                    &nbsp; <input type="radio" id="q26a" name="q26" value="q26a">0
                                    &nbsp; <input type="radio" id="q26b" name="q26" value="q26b">1
                                    &nbsp; <input type="radio" id="q26c" name="q26" value="q26c">2
                                    &nbsp; <input type="radio" id="q26d" name="q26" value="q26d">3
                                    &nbsp; <input type="radio" id="q26e" name="q26" value="q26e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am generally able to understand the way other people feel </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My friends can tell me intimate things about themselves</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q27a" name="q27" value="q27a">0
                                    &nbsp; <input type="radio" id="q27b" name="q27" value="q27b">1
                                    &nbsp; <input type="radio" id="q27c" name="q27" value="q27c">2
                                    &nbsp; <input type="radio" id="q27d" name="q27" value="q27d">3
                                    &nbsp; <input type="radio" id="q27e" name="q27" value="q27e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">It genuinely bothers me to see other people suffer</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q28a" name="q28" value="q28a">0
                                    &nbsp; <input type="radio" id="q28b" name="q28" value="q28b">1
                                    &nbsp; <input type="radio" id="q28c" name="q28" value="q28c">2
                                    &nbsp; <input type="radio" id="q28d" name="q28" value="q28d">3
                                    &nbsp; <input type="radio" id="q28e" name="q28" value="q28e">4

                                    &nbsp; <input type="radio" id="q29a" name="q29" value="q29a">0
                                    &nbsp; <input type="radio" id="q29b" name="q29" value="q29b">1
                                    &nbsp; <input type="radio" id="q29c" name="q29" value="q29c">2
                                    &nbsp; <input type="radio" id="q29d" name="q29" value="q29d">3
                                    &nbsp; <input type="radio" id="q29e" name="q29" value="q29e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I usually know when to speak and when to be silent &nbsp;</span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I care what happens to other people</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q30a" name="q30" value="q30a">0
                                    &nbsp; <input type="radio" id="q30b" name="q30" value="q30b">1
                                    &nbsp; <input type="radio" id="q30c" name="q30" value="q30c">2
                                    &nbsp; <input type="radio" id="q30d" name="q30" value="q30d">3
                                    &nbsp; <input type="radio" id="q30e" name="q30" value="q30e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I understand when people's plans change</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.6pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Responding with Integrity </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________ </span>
                </p>
                <table style="width:800pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:112px" />
                        <col style="width:553px" />
                    </colgroup>
                    <tr style="height:14.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q31a" name="q31" value="q31a">0
                                    &nbsp; <input type="radio" id="q31b" name="q31" value="q31b">1
                                    &nbsp; <input type="radio" id="q31c" name="q31" value="q31c">2
                                    &nbsp; <input type="radio" id="q31d" name="q31" value="q31d">3
                                    &nbsp; <input type="radio" id="q31e" name="q31" value="q31e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to show affection</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30.55pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q32a" name="q32" value="q32a">0
                                    &nbsp; <input type="radio" id="q32b" name="q32" value="q32b">1
                                    &nbsp; <input type="radio" id="q32c" name="q32" value="q32c">2
                                    &nbsp; <input type="radio" id="q32d" name="q32" value="q32d">3
                                    &nbsp; <input type="radio" id="q32e" name="q32" value="q32e">4

                                    &nbsp; <input type="radio" id="q33a" name="q33" value="q33a">0
                                    &nbsp; <input type="radio" id="q33b" name="q33" value="q33b">1
                                    &nbsp; <input type="radio" id="q33c" name="q33" value="q33c">2
                                    &nbsp; <input type="radio" id="q33d" name="q33" value="q33d">3
                                    &nbsp; <input type="radio" id="q33e" name="q33" value="q33e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My relationships are safe places for me </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it easy to share my deep feelings with others</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q34a" name="q34" value="q34a">0
                                    &nbsp; <input type="radio" id="q34b" name="q34" value="q34b">1
                                    &nbsp; <input type="radio" id="q34c" name="q34" value="q34c">2
                                    &nbsp; <input type="radio" id="q34d" name="q34" value="q34d">3
                                    &nbsp; <input type="radio" id="q34e" name="q34" value="q34e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am good at motivating others </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30.55pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q35a" name="q35" value="q35a">0
                                    &nbsp; <input type="radio" id="q35b" name="q35" value="q35b">1
                                    &nbsp; <input type="radio" id="q35c" name="q35" value="q35c">2
                                    &nbsp; <input type="radio" id="q35d" name="q35" value="q35d">3
                                    &nbsp; <input type="radio" id="q35e" name="q35" value="q35e">4

                                    &nbsp; <input type="radio" id="q36a" name="q36" value="q36a">0
                                    &nbsp; <input type="radio" id="q36b" name="q36" value="q36b">1
                                    &nbsp; <input type="radio" id="q36c" name="q36" value="q36c">2
                                    &nbsp; <input type="radio" id="q36d" name="q36" value="q36d">3
                                    &nbsp; <input type="radio" id="q36e" name="q36" value="q36e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am fairly cheerful person </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">It is easy for me to make friends</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q37a" name="q37" value="q37a">0
                                    &nbsp; <input type="radio" id="q37b" name="q37" value="q37b">1
                                    &nbsp; <input type="radio" id="q37c" name="q37" value="q37c">2
                                    &nbsp; <input type="radio" id="q37d" name="q37" value="q37d">3
                                    &nbsp; <input type="radio" id="q37e" name="q37" value="q37e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">People tell me I am sociable and fun</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30.55pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q38a" name="q38" value="q38a">0
                                    &nbsp; <input type="radio" id="q38b" name="q38" value="q38b">1
                                    &nbsp; <input type="radio" id="q38c" name="q38" value="q38c">2
                                    &nbsp; <input type="radio" id="q38d" name="q38" value="q38d">3
                                    &nbsp; <input type="radio" id="q38e" name="q38" value="q38e">4

                                    &nbsp; <input type="radio" id="q39a" name="q39" value="q39a">0
                                    &nbsp; <input type="radio" id="q39b" name="q39" value="q39b">1
                                    &nbsp; <input type="radio" id="q39c" name="q39" value="q39c">2
                                    &nbsp; <input type="radio" id="q39d" name="q39" value="q39d">3
                                    &nbsp; <input type="radio" id="q39e" name="q39" value="q39e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I like helping people </span>
                            </p>
                            <p style="margin-left:3.4000000000000004pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Others can depend on me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:15.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="q40a" name="q40" value="q40a">0
                                    &nbsp; <input type="radio" id="q40b" name="q40" value="q40b">1
                                    &nbsp; <input type="radio" id="q40c" name="q40" value="q40c">2
                                    &nbsp; <input type="radio" id="q40d" name="q40" value="q40d">3
                                    &nbsp; <input type="radio" id="q40e" name="q40" value="q40e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to talk someone down if they are very upset</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                @*<p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;">Emotional Intelligence (measured by EQ) is your ability to be internally and externally aware of emotions by practicing self-awareness, self-control, empathy, and responding to situations with integrity. </span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-style: italic;">Why is EQ important? </span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;">While intelligence (referred to as IQ) is important, success in life depends more on EQ.</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;"> Circle your score </span>
                    <span style="font-family:Calibri;font-size:11pt;">below</span>
                    <span style="font-family:Calibri;font-size:11pt;"> to better understand your personal EQ strengths!</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:30.45pt;">
                        <td colspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                            <p style="margin-left:3.5500000000000003pt;text-indent:0.05pt;margin-right:18.95pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">My EQ (Emotional Quotient) Strengths! </span>
                                <span style="font-family:Calibri;font-size:11pt;">Mark your EQ total score to assess your strengths and areas for improvement.</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:17pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Section </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Score</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.25pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Self-Awareness </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:29.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.25pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Self-Control </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:29.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Empathy </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.8pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.75pt;margin-right:2.6500000000000004pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Responding with Integrity &nbsp;</span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:56.6pt;">
                        <td colspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                            <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Measure your effectiveness in each section using the following key: </span>
                            </p>
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">0 - 24 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;">Area for Enrichment: </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Requires </span>
                                <span style="font-family:Calibri;font-size:11pt;">attention and development </span>
                            </p>
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">25 - </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">3</span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">4 &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;">Effective Functioning: Consider </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Strengthening &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                            </p>
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">35 - 40 &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;">Enhanced Skills: Use as </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">leverage </span>
                                <span style="font-family:Calibri;font-size:11pt;">to develop weaker areas </span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>*@
            </section>



            <div class="col-md-3" style="padding: 10px; margin-top:68px;">
                <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveXYZ();">Next</button>
            </div>

        </div>
    </div>
</div>

