
@{
    ViewBag.Title = "EmotionalIntelligenceQuizForLeadership";
}

<div class="row">
    @*<div class="head_title">
            <h1 class="ta">Page Name</h1>
        </div>*@
    <div class="card bacmt" style="height: 600px;">
        <div class="clearfix"></div>
        <div class="row">


            <section>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:18pt;">The Quick Emotional Intelligence Self-Assessment </span>
                </p>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:2.95pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:9pt;">*Adapted for the 2014 UAA Leadership Conference from a model by Paul Mohapel </span>
                </p>
                <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:654px" />
                    </colgroup>
                    <tr style="height:27.6pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                            <p style="text-align:right;margin-left:0pt;margin-right:34.75pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:12pt;">Rank each statement as follows: </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">0 </span>
                                <span style="font-family:Calibri;font-size:12pt;">(Never) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">1</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Rarely) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">2</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Sometimes) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">3</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Often) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">4</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Always)</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.2pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Self-Awareness </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________ </span>
                </p>
                <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;</span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My feelings are clear to me at any given moment</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Emotions play an important part in my life </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My moods impact the people around me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it east to put words to my feelings</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:15pt;line-height:112.08%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My moods are easily affected by external events </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can easily sense when I am going to be angry</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I readily tell others my true feelings</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:15pt;line-height:112.08%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it easy to describe my feelings </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Even when I'm upset, I'm aware of what's happening to me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to stand apart from my thoughts and feelings and examine them</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.2pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Self-Control </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________</span>
                </p>
                <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I accept responsibility for my reactions</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td rowspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it easy to make goals and stick with them </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am an emotionally balanced person</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am a very patient person</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td rowspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can accept critical comments from others without becoming angry </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">If an issue does not affect me directly, I don't let it bother me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can restrain myself when I feel anger towards someone</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td rowspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:83.75pt;line-height:112.08%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I control urges to overindulge in things that could damage my wellbeing I maintain my composure even during stressful times</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I direct my energy into creative work or hobbies</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.6pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Empathy </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________ </span>
                </p>
                <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I consider the impact of my decisions on other people</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.8pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:15pt;line-height:112.08%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can tell if the people around me are becoming annoyed </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I sense it when a person's mood changes</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to be supportive when giving bad news to others</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.8pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:15pt;line-height:112.08%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am generally able to understand the way other people feel </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My friends can tell me intimate things about themselves</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">It genuinely bothers me to see other people suffer</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:15pt;line-height:112.08%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I usually know when to speak and when to be silent &nbsp;</span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I care what happens to other people</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I understand when people's plans change</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.6pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Responding with Integrity </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________ </span>
                </p>
                <table style="width:499.95000000000005pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:112px" />
                        <col style="width:553px" />
                    </colgroup>
                    <tr style="height:14.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to show affection</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30.55pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:15pt;line-height:112.08%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My relationships are safe places for me </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it easy to share my deep feelings with others</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am good at motivating others </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30.55pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:15pt;line-height:112.08%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am fairly cheerful person </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">It is easy for me to make friends</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">People tell me I am sociable and fun</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30.55pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:15pt;line-height:112.08%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; &nbsp;0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I like helping people </span>
                            </p>
                            <p style="margin-left:3.4000000000000004pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Others can depend on me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:15.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">0 &nbsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to talk someone down if they are very upset</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                @*<p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;">Emotional Intelligence (measured by EQ) is your ability to be internally and externally aware of emotions by practicing self-awareness, self-control, empathy, and responding to situations with integrity. </span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-style: italic;">Why is EQ important? </span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;">While intelligence (referred to as IQ) is important, success in life depends more on EQ.</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;"> Circle your score </span>
                    <span style="font-family:Calibri;font-size:11pt;">below</span>
                    <span style="font-family:Calibri;font-size:11pt;"> to better understand your personal EQ strengths!</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:30.45pt;">
                        <td colspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                            <p style="margin-left:3.5500000000000003pt;text-indent:0.05pt;margin-right:18.95pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">My EQ (Emotional Quotient) Strengths! </span>
                                <span style="font-family:Calibri;font-size:11pt;">Mark your EQ total score to assess your strengths and areas for improvement.</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:17pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Section </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Score</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.25pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Self-Awareness </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:29.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.25pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Self-Control </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:29.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Empathy </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.8pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.75pt;margin-right:2.6500000000000004pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Responding with Integrity &nbsp;</span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:56.6pt;">
                        <td colspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                            <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Measure your effectiveness in each section using the following key: </span>
                            </p>
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">0 - 24 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;">Area for Enrichment: </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Requires </span>
                                <span style="font-family:Calibri;font-size:11pt;">attention and development </span>
                            </p>
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">25 - </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">3</span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">4 &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;">Effective Functioning: Consider </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Strengthening &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                            </p>
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">35 - 40 &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;">Enhanced Skills: Use as </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">leverage </span>
                                <span style="font-family:Calibri;font-size:11pt;">to develop weaker areas </span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>*@
            </section>



            <div class="col-md-3" style="padding: 10px; margin-top:68px;">
                <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveXYZ();">Next</button>
            </div>

        </div>
    </div>
</div>

