
@{
    ViewBag.Title = "EmotionalIntelligenceQuizForLeadership";
}

<div class="row">
    @*<div class="head_title">
            <h1 class="ta">Page Name</h1>
        </div>*@
    <div class="card bacmt" style="height: 600px;">
        <div class="clearfix"></div>
        <div class="row">


            <section>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:18pt;">The Quick Emotional Intelligence Self-Assessment </span>
                </p>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:2.95pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:9pt;">*Adapted for the 2014 UAA Leadership Conference from a model by Paul Mohapel </span>
                </p>
                <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:654px" />
                    </colgroup>
                    <tr style="height:27.6pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                            <p style="text-align:right;margin-left:0pt;margin-right:34.75pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:12pt;">Rank each statement as follows: </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">0 </span>
                                <span style="font-family:Calibri;font-size:12pt;">(Never) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">1</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Rarely) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">2</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Sometimes) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">3</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Often) </span>
                                <span style="font-family:Calibri;font-size:12pt;font-weight: bold;">4</span>
                                <span style="font-family:Calibri;font-size:12pt;">(Always)</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.2pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Self-Awareness </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________ </span>
                </p>
                <table style="width:800pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="1_1" name="q1" value="1_1">0
                                    &nbsp; <input type="radio" id="1_2" name="q1" value="1_2">1
                                    &nbsp; <input type="radio" id="1_3" name="q1" value="1_3">2
                                    &nbsp; <input type="radio" id="1_4" name="q1" value="1_4">3
                                    &nbsp; <input type="radio" id="1_5" name="q1" value="1_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My feelings are clear to me at any given moment</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="2_1" name="q2" value="2_1">0
                                    &nbsp; <input type="radio" id="
                                                  " name="q2" value="2_2">1
                                    &nbsp; <input type="radio" id="2_3" name="q2" value="2_3">2
                                    &nbsp; <input type="radio" id="2_4" name="q2" value="2_4">3
                                    &nbsp; <input type="radio" id="2_5" name="q2" value="2_5">4

                                    &nbsp; <input type="radio" id="3_1" name="q3" value="3_1">0
                                    &nbsp; <input type="radio" id="3_2" name="q3" value="3_2">1
                                    &nbsp; <input type="radio" id="3_3" name="q3" value="3_3">2
                                    &nbsp; <input type="radio" id="3_4" name="q3" value="3_4">3
                                    &nbsp; <input type="radio" id="3_5" name="q3" value="3_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Emotions play an important part in my life </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My moods impact the people around me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="4_1" name="q4" value="4_1">0
                                    &nbsp; <input type="radio" id="4_2" name="q4" value="4_2">1
                                    &nbsp; <input type="radio" id="4_3" name="q4" value="4_3">2
                                    &nbsp; <input type="radio" id="4_4" name="q4" value="4_4">3
                                    &nbsp; <input type="radio" id="4_5" name="q4" value="q1e">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it east to put words to my feelings</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="5_1" name="q5" value="5_1">0
                                    &nbsp; <input type="radio" id="5_2" name="q5" value="5_2">1
                                    &nbsp; <input type="radio" id="5_3" name="q5" value="5_3">2
                                    &nbsp; <input type="radio" id="5_4" name="q5" value="5_4">3
                                    &nbsp; <input type="radio" id="5_5" name="q5" value="5_5">4

                                    &nbsp; <input type="radio" id="6_1" name="q6" value="6_1">0
                                    &nbsp; <input type="radio" id="6_2" name="q6" value="6_2">1
                                    &nbsp; <input type="radio" id="6_3" name="q6" value="6_3">2
                                    &nbsp; <input type="radio" id="6_4" name="q6" value="6_4">3
                                    &nbsp; <input type="radio" id="6_5" name="q6" value="6_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My moods are easily affected by external events </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can easily sense when I am going to be angry</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="7_1" name="q7" value="7_1">0
                                    &nbsp; <input type="radio" id="7_2" name="q7" value="7_2">1
                                    &nbsp; <input type="radio" id="7_3" name="q7" value="7_3">2
                                    &nbsp; <input type="radio" id="7_4" name="q7" value="7_4">3
                                    &nbsp; <input type="radio" id="7_5" name="q7" value="7_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I readily tell others my true feelings</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="8_1" name="q8" value="8_1">0
                                    &nbsp; <input type="radio" id="8_2" name="q8" value="8_2">1
                                    &nbsp; <input type="radio" id="8_3" name="q8" value="8_3">2
                                    &nbsp; <input type="radio" id="8_4" name="q8" value="8_4">3
                                    &nbsp; <input type="radio" id="8_5" name="q8" value="8_5">4

                                    &nbsp; <input type="radio" id="9_1" name="q9" value="9_1">0
                                    &nbsp; <input type="radio" id="9_2" name="q9" value="9_2">1
                                    &nbsp; <input type="radio" id="9_3" name="q9" value="9_3">2
                                    &nbsp; <input type="radio" id="9_4" name="q9" value="9_4">3
                                    &nbsp; <input type="radio" id="9_5" name="q9" value="9_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it easy to describe my feelings </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Even when I'm upset, I'm aware of what's happening to me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="10_1" name="q10" value="10_1">0
                                    &nbsp; <input type="radio" id="10_2" name="q10" value="10_2">1
                                    &nbsp; <input type="radio" id="10_3" name="q10" value="10_3">2
                                    &nbsp; <input type="radio" id="10_4" name="q10" value="10_4">3
                                    &nbsp; <input type="radio" id="10_5" name="q10" value="10_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to stand apart from my thoughts and feelings and examine them</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.2pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Self-Control </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________</span>
                </p>
                <table style="width:800pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="11_1" name="q11" value="11_1">0
                                    &nbsp; <input type="radio" id="11_2" name="q11" value="11_2">1
                                    &nbsp; <input type="radio" id="11_3" name="q11" value="11_3">2
                                    &nbsp; <input type="radio" id="11_4" name="q11" value="11_4">3
                                    &nbsp; <input type="radio" id="11_5" name="q11" value="11_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I accept responsibility for my reactions</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="12_1" name="q12" value="12_1">0
                                    &nbsp; <input type="radio" id="12_2" name="q12" value="12_2">1
                                    &nbsp; <input type="radio" id="12_3" name="q12" value="12_3">2
                                    &nbsp; <input type="radio" id="12_4" name="q12" value="12_4">3
                                    &nbsp; <input type="radio" id="12_5" name="q12" value="12_5">4
                                </span>
                            </p>
                        </td>
                        <td rowspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it easy to make goals and stick with them </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am an emotionally balanced person</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="13_1" name="q13" value="13_1">0
                                    &nbsp; <input type="radio" id="13_2" name="q13" value="13_2">1
                                    &nbsp; <input type="radio" id="13_3" name="q13" value="13_3">2
                                    &nbsp; <input type="radio" id="13_4" name="q13" value="13_4">3
                                    &nbsp; <input type="radio" id="13_5" name="q13" value="13_5">4
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="14_1" name="q14" value="14_1">0
                                    &nbsp; <input type="radio" id="14_2" name="q14" value="14_2">1
                                    &nbsp; <input type="radio" id="14_3" name="q14" value="14_3">2
                                    &nbsp; <input type="radio" id="14_4" name="q14" value="14_4">3
                                    &nbsp; <input type="radio" id="14_5" name="q14" value="14_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am a very patient person</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="15_1" name="q15" value="15_1">0
                                    &nbsp; <input type="radio" id="15_2" name="q15" value="15_2">1
                                    &nbsp; <input type="radio" id="15_3" name="q15" value="15_3">2
                                    &nbsp; <input type="radio" id="15_4" name="q15" value="15_4">3
                                    &nbsp; <input type="radio" id="15_5" name="q15" value="15_5">4
                                </span>
                            </p>
                        </td>
                        <td rowspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can accept critical comments from others without becoming angry </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">If an issue does not affect me directly, I don't let it bother me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="16_1" name="q16" value="16_1">0
                                    &nbsp; <input type="radio" id="16_2" name="q16" value="16_2">1
                                    &nbsp; <input type="radio" id="16_3" name="q16" value="16_3">2
                                    &nbsp; <input type="radio" id="16_4" name="q16" value="16_4">3
                                    &nbsp; <input type="radio" id="16_5" name="q16" value="16_5">4
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="17_1" name="q17" value="17_1">0
                                    &nbsp; <input type="radio" id="17_2" name="q17" value="17_2">1
                                    &nbsp; <input type="radio" id="17_3" name="q17" value="17_3">2
                                    &nbsp; <input type="radio" id="17_4" name="q17" value="17_4">3
                                    &nbsp; <input type="radio" id="17_5" name="q17" value="17_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can restrain myself when I feel anger towards someone</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="18_1" name="q18" value="18_1">0
                                    &nbsp; <input type="radio" id="18_2" name="q18" value="18_2">1
                                    &nbsp; <input type="radio" id="18_3" name="q18" value="18_3">2
                                    &nbsp; <input type="radio" id="18_4" name="q18" value="18_4">3
                                    &nbsp; <input type="radio" id="18_5" name="q18" value="18_5">4
                                </span>
                            </p>
                        </td>
                        <td rowspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I control urges to overindulge in things that could damage my wellbeing </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> I maintain my composure even during stressful times</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="19_1" name="q19" value="19_1">0
                                    &nbsp; <input type="radio" id="19_2" name="q19" value="19_2">1
                                    &nbsp; <input type="radio" id="19_3" name="q19" value="19_3">2
                                    &nbsp; <input type="radio" id="19_4" name="q19" value="19_4">3
                                    &nbsp; <input type="radio" id="19_5" name="q19" value="19_5">4
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="20_1" name="q20" value="20_1">0
                                    &nbsp; <input type="radio" id="20_2" name="q20" value="20_2">1
                                    &nbsp; <input type="radio" id="20_3" name="q20" value="20_3">2
                                    &nbsp; <input type="radio" id="20_4" name="q20" value="20_4">3
                                    &nbsp; <input type="radio" id="20_5" name="q20" value="20_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I direct my energy into creative work or hobbies</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.6pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Empathy </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________ </span>
                </p>
                <table style="width:800pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="21_1" name="q21" value="21_1">0
                                    &nbsp; <input type="radio" id="21_2" name="q21" value="21_2">1
                                    &nbsp; <input type="radio" id="21_3" name="q21" value="21_3">2
                                    &nbsp; <input type="radio" id="21_4" name="q21" value="21_4">3
                                    &nbsp; <input type="radio" id="21_5" name="q21" value="21_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I consider the impact of my decisions on other people</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.8pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="22_1" name="q22" value="22_1">0
                                    &nbsp; <input type="radio" id="22_2" name="q22" value="22_2">1
                                    &nbsp; <input type="radio" id="22_3" name="q22" value="22_3">2
                                    &nbsp; <input type="radio" id="22_4" name="q22" value="22_4">3
                                    &nbsp; <input type="radio" id="22_5" name="q22" value="22_5">4

                                    &nbsp; <input type="radio" id="23_1" name="q23" value="23_1">0
                                    &nbsp; <input type="radio" id="23_2" name="q23" value="23_2">1
                                    &nbsp; <input type="radio" id="23_3" name="q23" value="23_3">2
                                    &nbsp; <input type="radio" id="23_4" name="q23" value="23_4">3
                                    &nbsp; <input type="radio" id="23_5" name="q23" value="23_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I can tell if the people around me are becoming annoyed </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I sense it when a person's mood changes</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="24_1" name="q24" value="24_1">0
                                    &nbsp; <input type="radio" id="24_2" name="q24" value="24_2">1
                                    &nbsp; <input type="radio" id="24_3" name="q24" value="24_3">2
                                    &nbsp; <input type="radio" id="24_4" name="q24" value="24_4">3
                                    &nbsp; <input type="radio" id="24_5" name="q24" value="24_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to be supportive when giving bad news to others</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.8pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="25_1" name="q25" value="25_1">0
                                    &nbsp; <input type="radio" id="25_2" name="q25" value="25_2">1
                                    &nbsp; <input type="radio" id="25_3" name="q25" value="25_3">2
                                    &nbsp; <input type="radio" id="25_4" name="q25" value="25_4">3
                                    &nbsp; <input type="radio" id="25_5" name="q25" value="25_5">4

                                    &nbsp; <input type="radio" id="26_1" name="q26" value="26_1">0
                                    &nbsp; <input type="radio" id="26_2" name="q26" value="26_2">1
                                    &nbsp; <input type="radio" id="26_3" name="q26" value="26_3">2
                                    &nbsp; <input type="radio" id="26_4" name="q26" value="26_4">3
                                    &nbsp; <input type="radio" id="26_5" name="q26" value="26_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am generally able to understand the way other people feel </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My friends can tell me intimate things about themselves</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="27_1" name="q27" value="27_1">0
                                    &nbsp; <input type="radio" id="27_2" name="q27" value="27_2">1
                                    &nbsp; <input type="radio" id="27_3" name="q27" value="27_3">2
                                    &nbsp; <input type="radio" id="27_4" name="q27" value="27_4">3
                                    &nbsp; <input type="radio" id="27_5" name="q27" value="27_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">It genuinely bothers me to see other people suffer</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="28_1" name="q28" value="28_1">0
                                    &nbsp; <input type="radio" id="28_2" name="q28" value="28_2">1
                                    &nbsp; <input type="radio" id="28_3" name="q28" value="28_3">2
                                    &nbsp; <input type="radio" id="28_4" name="q28" value="28_4">3
                                    &nbsp; <input type="radio" id="28_5" name="q28" value="28_5">4

                                    &nbsp; <input type="radio" id="29_1" name="q29" value="29_1">0
                                    &nbsp; <input type="radio" id="29_2" name="q29" value="29_2">1
                                    &nbsp; <input type="radio" id="29_3" name="q29" value="29_3">2
                                    &nbsp; <input type="radio" id="29_4" name="q29" value="29_4">3
                                    &nbsp; <input type="radio" id="29_5" name="q29" value="29_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I usually know when to speak and when to be silent &nbsp;</span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I care what happens to other people</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.85pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="30_1" name="q30" value="30_1">0
                                    &nbsp; <input type="radio" id="30_2" name="q30" value="30_2">1
                                    &nbsp; <input type="radio" id="30_3" name="q30" value="30_3">2
                                    &nbsp; <input type="radio" id="30_4" name="q30" value="30_4">3
                                    &nbsp; <input type="radio" id="30_5" name="q30" value="30_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I understand when people's plans change</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:3.6pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Responding with Integrity </span>
                    <span style="font-family:Calibri;font-size:11pt;">- Total: ____________ </span>
                </p>
                <table style="width:800pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:112px" />
                        <col style="width:553px" />
                    </colgroup>
                    <tr style="height:14.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="31_1" name="q31" value="31_1">0
                                    &nbsp; <input type="radio" id="31_2" name="q31" value="31_2">1
                                    &nbsp; <input type="radio" id="31_3" name="q31" value="31_3">2
                                    &nbsp; <input type="radio" id="31_4" name="q31" value="31_4">3
                                    &nbsp; <input type="radio" id="31_5" name="q31" value="31_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to show affection</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30.55pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="32_1" name="q32" value="32_1">0
                                    &nbsp; <input type="radio" id="32_2" name="q32" value="32_2">1
                                    &nbsp; <input type="radio" id="32_3" name="q32" value="32_3">2
                                    &nbsp; <input type="radio" id="32_4" name="q32" value="32_4">3
                                    &nbsp; <input type="radio" id="32_5" name="q32" value="32_5">4

                                    &nbsp; <input type="radio" id="33_1" name="q33" value="33_1">0
                                    &nbsp; <input type="radio" id="33_2" name="q33" value="33_2">1
                                    &nbsp; <input type="radio" id="33_3" name="q33" value="33_3">2
                                    &nbsp; <input type="radio" id="33_4" name="q33" value="33_4">3
                                    &nbsp; <input type="radio" id="33_5" name="q33" value="33_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">My relationships are safe places for me </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I find it easy to share my deep feelings with others</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="34_1" name="q34" value="34_1">0
                                    &nbsp; <input type="radio" id="34_2" name="q34" value="34_2">1
                                    &nbsp; <input type="radio" id="34_3" name="q34" value="34_3">2
                                    &nbsp; <input type="radio" id="34_4" name="q34" value="34_4">3
                                    &nbsp; <input type="radio" id="34_5" name="q34" value="34_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am good at motivating others </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30.55pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="35_1" name="q35" value="35_1">0
                                    &nbsp; <input type="radio" id="35_2" name="q35" value="35_2">1
                                    &nbsp; <input type="radio" id="35_3" name="q35" value="35_3">2
                                    &nbsp; <input type="radio" id="35_4" name="q35" value="35_4">3
                                    &nbsp; <input type="radio" id="35_5" name="q35" value="35_5">4

                                    &nbsp; <input type="radio" id="36_1" name="q36" value="36_1">0
                                    &nbsp; <input type="radio" id="36_2" name="q36" value="36_2">1
                                    &nbsp; <input type="radio" id="36_3" name="q36" value="36_3">2
                                    &nbsp; <input type="radio" id="36_4" name="q36" value="36_4">3
                                    &nbsp; <input type="radio" id="36_5" name="q36" value="36_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am fairly cheerful person </span>
                            </p>
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">It is easy for me to make friends</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:14.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="37_1" name="q37" value="37_1">0
                                    &nbsp; <input type="radio" id="37_2" name="q37" value="37_2">1
                                    &nbsp; <input type="radio" id="37_3" name="q37" value="37_3">2
                                    &nbsp; <input type="radio" id="37_4" name="q37" value="37_4">3
                                    &nbsp; <input type="radio" id="37_5" name="q37" value="37_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">People tell me I am sociable and fun</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30.55pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="38_1" name="q38" value="38_1">0
                                    &nbsp; <input type="radio" id="38_2" name="q38" value="38_2">1
                                    &nbsp; <input type="radio" id="38_3" name="q38" value="38_3">2
                                    &nbsp; <input type="radio" id="38_4" name="q38" value="38_4">3
                                    &nbsp; <input type="radio" id="38_5" name="q38" value="38_5">4

                                    &nbsp; <input type="radio" id="39_1" name="q39" value="39_1">0
                                    &nbsp; <input type="radio" id="39_2" name="q39" value="39_2">1
                                    &nbsp; <input type="radio" id="39_3" name="q39" value="39_3">2
                                    &nbsp; <input type="radio" id="39_4" name="q39" value="39_4">3
                                    &nbsp; <input type="radio" id="39_5" name="q39" value="39_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I like helping people </span>
                            </p>
                            <p style="margin-left:3.4000000000000004pt;margin-right:0pt;margin-top:1.9500000000000002pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Others can depend on me</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:15.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:84.5pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">
                                    &nbsp; <input type="radio" id="40_1" name="q40" value="40_1">0
                                    &nbsp; <input type="radio" id="40_2" name="q40" value="40_2">1
                                    &nbsp; <input type="radio" id="40_3" name="q40" value="40_3">2
                                    &nbsp; <input type="radio" id="40_4" name="q40" value="40_4">3
                                    &nbsp; <input type="radio" id="40_5" name="q40" value="40_5">4
                                </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:415.45000000000005pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">I am able to talk someone down if they are very upset</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                @*<p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;">Emotional Intelligence (measured by EQ) is your ability to be internally and externally aware of emotions by practicing self-awareness, self-control, empathy, and responding to situations with integrity. </span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;font-style: italic;">Why is EQ important? </span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;">While intelligence (referred to as IQ) is important, success in life depends more on EQ.</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Calibri;font-size:11pt;"> Circle your score </span>
                    <span style="font-family:Calibri;font-size:11pt;">below</span>
                    <span style="font-family:Calibri;font-size:11pt;"> to better understand your personal EQ strengths!</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:2.95pt;text-indent:0.8500000000000001pt;margin-right:3.3000000000000003pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <table style="width:491pt;border-collapse:collapse;table-layout:fixed;">
                    <colgroup>
                        <col style="width:110px" />
                        <col style="width:544px" />
                    </colgroup>
                    <tr style="height:30.45pt;">
                        <td colspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                            <p style="margin-left:3.5500000000000003pt;text-indent:0.05pt;margin-right:18.95pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">My EQ (Emotional Quotient) Strengths! </span>
                                <span style="font-family:Calibri;font-size:11pt;">Mark your EQ total score to assess your strengths and areas for improvement.</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:17pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Section </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Score</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:13.9pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.25pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Self-Awareness </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:29.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.25pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Self-Control </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:29.75pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.8000000000000003pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Empathy </span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:28.8pt;">
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:83pt;vertical-align:top;">
                            <p style="margin-left:3.75pt;margin-right:2.6500000000000004pt;line-height:106.67%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Responding with Integrity &nbsp;</span>
                            </p>
                        </td>
                        <td style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:408pt;vertical-align:top;">
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp;0 &nbsp; 2 &nbsp; 4 &nbsp; 6 &nbsp; 8 &nbsp; 10 &nbsp; 12 &nbsp; 14 &nbsp; 16 &nbsp; 18 &nbsp; 20 &nbsp; 22 &nbsp; 24 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">26 &nbsp; 28 &nbsp; 30 &nbsp; 32 &nbsp; 34 &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;">36 &nbsp; 38 &nbsp; 40</span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:56.6pt;">
                        <td colspan="2" style="border-top:1pt solid #000000;border-bottom:1pt solid #000000;border-left:1pt solid #000000;border-right:1pt solid #000000;padding-left:5pt;padding-right:5pt;padding-top:5pt;padding-bottom:5pt;width:491pt;vertical-align:top;">
                            <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;">Measure your effectiveness in each section using the following key: </span>
                            </p>
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">0 - 24 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;">Area for Enrichment: </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Requires </span>
                                <span style="font-family:Calibri;font-size:11pt;">attention and development </span>
                            </p>
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">25 - </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">3</span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">4 &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;">Effective Functioning: Consider </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">Strengthening &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                            </p>
                            <p style="margin-left:2.85pt;margin-right:0pt;margin-top:1pt;margin-bottom:0pt;">
                                <span style="font-family:Calibri;font-size:11pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">35 - 40 &nbsp; &nbsp; &nbsp;</span>
                                <span style="font-family:Calibri;font-size:11pt;">Enhanced Skills: Use as </span>
                                <span style="font-family:Calibri;font-size:11pt;font-weight: bold;">leverage </span>
                                <span style="font-family:Calibri;font-size:11pt;">to develop weaker areas </span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;line-height:115%;font-size:11pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>*@
            </section>



            <div class="col-md-3" style="padding: 10px; margin-top:68px;">
                <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveXYZ();">Next</button>
            </div>

        </div>
    </div>
</div>

