
@{
    ViewBag.Title = "ROSENBERG_SELF_esteem_scale_final";
}

<div class="row">
    @*<div class="head_title">
            <h1 class="ta">Page Name</h1>
        </div>*@
    <div class="card bacmt" style="height: 600px;">
        <div class="clearfix"></div>
        <div class="row">


            <section>
                <p style="margin-left:112.45pt;margin-right:0pt;margin-top:0.9500000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:18pt;letter-spacing:-0.05pt;">ROSENBERG</span>
                    <span style="font-family:Century Schoolbook;font-size:18pt;"> SELF-ESTEEM</span>
                    <span style="font-family:Century Schoolbook;font-size:18pt;letter-spacing:-0.1pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:18pt;">SCALE</span>
                </p>
                <h1 style="margin-left:40.95pt;margin-right:384.90000000000003pt;mso-line-height-alt:26.5pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;mso-outline-level:1;">
                    <span style="font-family:Century Schoolbook;font-size:11pt;font-weight: bold;letter-spacing:-0.05pt;">Scale:</span>
                    <span style="font-family:Century Schoolbook;font-size:11pt;font-weight: bold;letter-spacing:1pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:11pt;font-weight: bold;letter-spacing:-0.05pt;">Instructions</span>
                </h1>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">Below</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">is</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">list</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">of</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">statements</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">dealing</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">with</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">your</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">general</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">feelings</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">about</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">yourself.</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:2.5pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">Please</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:1.5pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">indicate</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">how</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">strongly</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">you</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">agree</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">or</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">disagree</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">with</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">each</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">statement. </span>
                </p>



                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">1. On</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">the</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">whole,</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">satisfied</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">with</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">myself. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:163px" />
                        <col style="width:159px" />
                        <col style="width:162px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Strongly</span>
                                <span style="font-family:Century Schoolbook;font-size:11pt;letter-spacing:-0.8pt;"> </span>
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q1a" name="q1" value="q1a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q1b" name="q1" value="q1b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q1c" name="q1" value="q1c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q1d" name="q1" value="q1d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">#2. At</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">times</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">think</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">not</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">good</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">at</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">all. &nbsp; &nbsp;</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                <span> <input type="radio" id="q2a" name="q2" value="q2a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Agree</span>
                                <span> <input type="radio" id="q2b" name="q2" value="q2b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q2c" name="q2" value="q2c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q2d" name="q2" value="q2d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">3. I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">that</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">have</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">number</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">of</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">good</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">qualities.</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                <span> <input type="radio" id="q3a" name="q3" value="q3a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q3b" name="q3" value="q3b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q3c" name="q3" value="q3c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q3d" name="q3" value="q3d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">4. I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">able</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">to</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">do</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">things</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">as</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">well</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">as</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">most</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">other</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">people.</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                <span> <input type="radio" id="q4a" name="q4" value="q4a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q4b" name="q4" value="q4b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q4c" name="q4" value="q4c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q4d" name="q4" value="q4d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">#5. I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">do</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">not</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">have</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">much</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">to</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">be</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">proud</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">of.</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                <span> <input type="radio" id="q5a" name="q5" value="q5a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q5b" name="q5" value="q5b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q5c" name="q5" value="q5c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q5d" name="q5" value="q5d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">#6. I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">certainly</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">useless</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.4pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">at</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">times. </span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                <span> <input type="radio" id="q6a" name="q6" value="q6a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q6b" name="q6" value="q6b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q6c" name="q6" value="q6c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q6d" name="q6" value="q6d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">7. I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">that</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">I'm</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">person</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">of</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">worth,</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">at</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">least</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">on</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">an</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">equal</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">plane</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">with</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">others</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                <span> <input type="radio" id="q7a" name="q7" value="q7a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q7b" name="q7" value="q7b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q7c" name="q7" value="q7c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q7d" name="q7" value="q7d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">#8. I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">wish</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">could</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">have</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">more</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">respect</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">for</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">myself.</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                <span> <input type="radio" id="q8a" name="q8" value="q8a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q8b" name="q8" value="q8b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q8c" name="q8" value="q8c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q8d" name="q8" value="q8d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;">#9. All</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">in</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">all,</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.25pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">inclined</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">to</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">feel</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">that</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">am</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.2pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.15000000000000002pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">failure.</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                <span> <input type="radio" id="q9a" name="q9" value="q9a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q9b" name="q9" value="q9b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q9c" name="q9" value="q9c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q9d" name="q9" value="q9d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.05pt;">10. </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">I</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">take</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">a</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">positive</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">attitude</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.30000000000000004pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">toward</span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;letter-spacing:-0.35000000000000003pt;"> </span>
                    <span style="font-family:Century Schoolbook;font-size:10pt;">myself.</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                                <span> <input type="radio" id="q10a" name="q10" value="q10a"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                                <span> <input type="radio" id="q10b" name="q10" value="q10b"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                                <span> <input type="radio" id="q10c" name="q10" value="q10c"></span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                                <span> <input type="radio" id="q10d" name="q10" value="q10d"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                @*<p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:14pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:14pt;font-weight: bold;">Scoring</span>
                </p>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">4</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">3</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">2</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">1</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:11pt;">But item numbers 2</span>
                    <span style="font-family:Century Schoolbook;font-size:11pt;font-weight: bold;">, 5, 6, 8, 9 are </span>
                    <span style="font-family:Century Schoolbook;font-size:11pt;">to be scored in reverse order</span>
                </p>
                <table style="border-collapse:collapse;margin-left:40.95pt;">
                    <colgroup>
                        <col style="width:162px" />
                        <col style="width:159px" />
                        <col style="width:163px" span="2" />
                    </colgroup>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Agree</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">Agree</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Disagree</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:10pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:10pt;">Strongly Disagree</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">1</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">2</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">3</span>
                            </p>
                        </td>
                        <td style="border-top:0.75pt solid #000000;border-bottom:0.75pt solid #000000;border-left:0.75pt solid #000000;border-right:0.75pt solid #000000;padding-left:5.4pt;padding-right:5.4pt;width:134.70000000000002pt;vertical-align:top;">
                            <p style="margin-left:0pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;">
                                <span style="font-family:Century Schoolbook;font-size:11pt;">4</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="margin-left:40.95pt;margin-right:19.8pt;line-height:149.58%;font-size:11pt;margin-top:6.550000000000001pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Century Schoolbook;font-size:11pt;">Find out total score for all items. Keep scores on a continuous scale. Higher score indicate higher self esteem</span>
                </p>*@
            </section>




            <div class="col-md-3" style="padding: 10px; margin-top:68px;">
                <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveXYZ();">Next</button>
            </div>

        </div>
    </div>
</div>

