
@{
    ViewBag.Title = "Zhao_ANXIETY";
}

<div class="row">
    @*<div class="head_title">
            <h1 class="ta">Page Name</h1>
        </div>*@
    <div class="card bacmt" style="height: 600px;">
        <div class="clearfix"></div>
        <div class="row">


            <section>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">SELF-EVALUATION QUESTIONNAIRE</span>
                </p>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">STAI Form Y-1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">Please provide the following information:</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Name: ___________________________________ Date_______________ S______</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Age: _________ Gender (Circle) &nbsp; &nbsp; M &nbsp; &nbsp; F &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T______</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">DIRECTIONS:</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">A number of statements which people have used to describe themselves are given below. Read each statement and then blacken the appropriate circle to the right of the statement to indicate how you feel right now, that is, at this moment. &nbsp;There are no right or wrong answers. &nbsp;Do not spend too much time on any one statement but give the answer which seems to describe your present feelings best.</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Not at all &nbsp; &nbsp; Somewhat &nbsp; &nbsp; Moderately so &nbsp; &nbsp; Very much so</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel calm................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q1a" name="q1" value="q1a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q1b" name="q1" value="q1b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q1c" name="q1" value="q1c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q1d" name="q1" value="q1d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel secure ............... &nbsp; &nbsp; &nbsp; <input type="radio" id="q2a" name="q2" value="q2a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q2b" name="q2" value="q2b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q2c" name="q2" value="q2c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q2d" name="q2" value="q2d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am tense .................. &nbsp; &nbsp; &nbsp; <input type="radio" id="q3a" name="q3" value="q3a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q3b" name="q3" value="q3b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q3c" name="q3" value="q3c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q3d" name="q3" value="q3d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel strained ............. &nbsp; &nbsp; &nbsp; <input type="radio" id="q4a" name="q4" value="q4a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q4b" name="q4" value="q4b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q4c" name="q4" value="q4c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q4d" name="q4" value="q4d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">5.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel at ease ............... &nbsp; &nbsp; &nbsp; <input type="radio" id="q5a" name="q5" value="q5a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q5b" name="q5" value="q5b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q5c" name="q5" value="q5c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q5d" name="q5" value="q5d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">6.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel upset................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q6a" name="q6" value="q6a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q6b" name="q6" value="q6b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q6c" name="q6" value="q6c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q6d" name="q6" value="q6d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">7.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am presently </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; worrying over </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; possible misfortunes ... &nbsp; &nbsp; <input type="radio" id="q7a" name="q7" value="q7a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q7b" name="q7" value="q7b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q7c" name="q7" value="q7c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q7d" name="q7" value="q7d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">8.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel satisfied............... &nbsp; &nbsp; &nbsp; <input type="radio" id="q8a" name="q8" value="q8a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q8b" name="q8" value="q8b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q8c" name="q8" value="q8c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q8d" name="q8" value="q8d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">9.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel frightened............ &nbsp; &nbsp; &nbsp; <input type="radio" id="q9a" name="q9" value="q9a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q9b" name="q9" value="q9b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q9c" name="q9" value="q9c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q9d" name="q9" value="q9d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">10.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel comfortable......... &nbsp; &nbsp; &nbsp; <input type="radio" id="q10a" name="q10" value="q10a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q10b" name="q10" value="q10b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q10c" name="q10" value="q10c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q10d" name="q10" value="q10d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">11.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel self-confident ...... &nbsp; &nbsp; &nbsp; <input type="radio" id="q11a" name="q11" value="q11a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q11b" name="q11" value="q11b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q11c" name="q11" value="q11c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q11d" name="q11" value="q11d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">12.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel nervous ............... &nbsp; &nbsp; &nbsp; <input type="radio" id="q12a" name="q12" value="q12a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q12b" name="q12" value="q12b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q12c" name="q12" value="q12c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q12d" name="q12" value="q12d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">13.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am jittery..................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q13a" name="q13" value="q13a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q13b" name="q13" value="q13b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q13c" name="q13" value="q13c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q13d" name="q13" value="q13d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">14.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel indecisive ............ &nbsp; &nbsp; &nbsp; <input type="radio" id="q14a" name="q14" value="q14a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q14b" name="q14" value="q14b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q14c" name="q14" value="q14c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q14d" name="q14" value="q14d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">15.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am relaxed.................. &nbsp; &nbsp; &nbsp; <input type="radio" id="q15a" name="q15" value="q15a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q15b" name="q15" value="q15b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q15c" name="q15" value="q15c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q15d" name="q15" value="q15d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">16.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel content ................ &nbsp; &nbsp; &nbsp; <input type="radio" id="q16a" name="q16" value="q16a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q16b" name="q16" value="q16b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q16c" name="q16" value="q16c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q16d" name="q16" value="q16d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">17.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I am worried ................. &nbsp; &nbsp; &nbsp; <input type="radio" id="q17a" name="q17" value="q17a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q17b" name="q17" value="q17b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q17c" name="q17" value="q17c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q17d" name="q17" value="q17d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">18.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel confused............... &nbsp; &nbsp; &nbsp; <input type="radio" id="q18a" name="q18" value="q18a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q18b" name="q18" value="q18b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q18c" name="q18" value="q18c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q18d" name="q18" value="q18d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">19.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel steady .................. &nbsp; &nbsp; &nbsp; <input type="radio" id="q19a" name="q19" value="q19a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q19b" name="q19" value="q19b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q19c" name="q19" value="q19c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q19d" name="q19" value="q19d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">20.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I feel pleasant ................ &nbsp; &nbsp; &nbsp; <input type="radio" id="q20a" name="q20" value="q20a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q20b" name="q20" value="q20b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q20c" name="q20" value="q20c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q20d" name="q20" value="q20d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">STAI Form Y-2</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Name_____________________________________________ Date______________</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">DIRECTIONS:</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">A number of statements which people have used to describe themselves are given below. &nbsp;Read each statement and then blacken in the appropriate circle to the right of the statement to indicate you generally feel.</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Almost never &nbsp; &nbsp; &nbsp; Sometimes &nbsp; &nbsp; &nbsp; Often &nbsp; &nbsp; &nbsp; Almost always</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">21. I feel pleasant ................ &nbsp; &nbsp; &nbsp; <input type="radio" id="q21a" name="q21" value="q21a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q21b" name="q21" value="q21b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q21c" name="q21" value="q21c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q21d" name="q21" value="q21d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">22. I feel nervous, restless … &nbsp; &nbsp; &nbsp; <input type="radio" id="q22a" name="q22" value="q22a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q22b" name="q22" value="q22b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q22c" name="q22" value="q22c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q22d" name="q22" value="q22d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">23. I feel satisfied </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp;with myself...................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q23a" name="q23" value="q23a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q23b" name="q23" value="q23b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q23c" name="q23" value="q23c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q23d" name="q23" value="q23d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">24. I wish I could be as</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp;happy as others</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;"> &nbsp; &nbsp; &nbsp;seem to be...................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q24a" name="q24" value="q24a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q24b" name="q24" value="q24b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q24c" name="q24" value="q24c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q24d" name="q24" value="q24d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">25. I feel like a failure............ &nbsp; &nbsp; &nbsp; <input type="radio" id="q25a" name="q25" value="q25a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q25b" name="q25" value="q25b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q25c" name="q25" value="q25c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q25d" name="q25" value="q25d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">26. I feel rested..................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q26a" name="q26" value="q26a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q26b" name="q26" value="q26b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q26c" name="q26" value="q26c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q26d" name="q26" value="q26d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">27. I am “calm, cool, </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">and collected” ....................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q27a" name="q27" value="q27a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q27b" name="q27" value="q27b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q27c" name="q27" value="q27c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q27d" name="q27" value="q27d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">28. I feel that difficulties</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">are piling up so that I</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">cannot overcome them ......... &nbsp; &nbsp; &nbsp; <input type="radio" id="q28a" name="q28" value="q28a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q28b" name="q28" value="q28b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q28c" name="q28" value="q28c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q28d" name="q28" value="q28d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">29. I worry too much </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">over something that </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">really doesn’t matter ............. &nbsp; &nbsp; &nbsp; <input type="radio" id="q29a" name="q29" value="q29a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q29b" name="q29" value="q29b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q29c" name="q29" value="q29c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q29d" name="q29" value="q29d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;" />
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">30. I am happy....................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q30a" name="q30" value="q30a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q30b" name="q30" value="q30b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q30c" name="q30" value="q30c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q30d" name="q30" value="q30d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">31. I have disturbing </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">thoughts................................. &nbsp; &nbsp; &nbsp; <input type="radio" id="q31a" name="q31" value="q31a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q31b" name="q31" value="q31b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q31c" name="q31" value="q31c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q31d" name="q31" value="q31d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">32. I lack self-confidence....... &nbsp; &nbsp; &nbsp; <input type="radio" id="q32a" name="q32" value="q32a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q32b" name="q32" value="q32b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q32c" name="q32" value="q32c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q32d" name="q32" value="q32d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">33. I feel secure .................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q33a" name="q33" value="q33a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q33b" name="q33" value="q33b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q33c" name="q33" value="q33c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q33d" name="q33" value="q33d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">34. I make decisions easily … &nbsp; &nbsp; &nbsp; <input type="radio" id="q34a" name="q34" value="q34a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q34b" name="q34" value="q34b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q34c" name="q34" value="q34c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q34d" name="q34" value="q34d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">35. I feel inadequate.............. &nbsp; &nbsp; &nbsp; <input type="radio" id="q35a" name="q35" value="q35a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q35b" name="q35" value="q35b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q35c" name="q35" value="q35c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q35d" name="q35" value="q35d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">36. I am content..................... &nbsp; &nbsp; &nbsp; <input type="radio" id="q36a" name="q36" value="q36a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q36b" name="q36" value="q36b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q36c" name="q36" value="q36c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q36d" name="q36" value="q36d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">37. Some unimportant </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">thought runs through </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">my mind and bothers me....... &nbsp; &nbsp; &nbsp; <input type="radio" id="q37a" name="q37" value="q37a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q37b" name="q37" value="q37b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q37c" name="q37" value="q37c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q37d" name="q37" value="q37d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">38. I take disappointments</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">so keenly that I can’t put </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">them out of my mind ............. &nbsp; &nbsp; &nbsp; <input type="radio" id="q38a" name="q38" value="q38a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q38b" name="q38" value="q38b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q38c" name="q38" value="q38c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q38d" name="q38" value="q38d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">39. I am a steady person....... &nbsp; &nbsp; &nbsp; <input type="radio" id="q39a" name="q39" value="q39a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q39b" name="q39" value="q39b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q39c" name="q39" value="q39c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q39d" name="q39" value="q39d">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">40. I get in a state of </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">tension or turmoil as </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">I think over my recent </span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">concerns and interests........... &nbsp; &nbsp; &nbsp; <input type="radio" id="q40a" name="q40" value="q40a">1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q40b" name="q40" value="q40b">2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" id="q40c" name="q40" value="q40c">3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" id="q40d" name="q40" value="q40d">4</span>
                </p>
              
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                @*<p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;font-weight: bold;letter-spacing:-0.1pt;">State-Trait Anxiety Inventory for Adults Scoring Key (Form Y-1, Y-2)</span>
                </p>
                <p style="text-align:center;margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Developed by Charles D. Spielberger in collaboration with R.L. Gorsuch, R. Lushene, P.R. Vagg, and G.A. Jacobs</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">To use this stencil, fold this sheet in half and line up with the appropriate test side, either Form Y-1 or Form Y-</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2. Simply total the scoring weights shown on the stencil for each response category. For example, for question # 1, if the respondent marked 3, then the weight would be 2. Refer to the manual for appropriate normative data.</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Form Y-1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">Form Y-2</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">21.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">22.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">23.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">24.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">5.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">25.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">6.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">26.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">7.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">27.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">8.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">28.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">9.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">29.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">10.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">30.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">11.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">31.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">12.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">32.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">13.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">33.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">14.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">34.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">15.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">35.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">16.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">36.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">17.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">37.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">18.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">38.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">19.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">39.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">20.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">40.</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">1</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">2</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">3</span>
                    <span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:Arial;font-size:12pt;letter-spacing:-0.1pt;">4</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>
                <p style="margin-left:0pt;margin-right:0pt;margin-top:0pt;margin-bottom:0pt;padding: 1pt 4pt;">
                    <span>&nbsp;</span>
                </p>*@
            </section>



            <div class="col-md-3" style="padding: 10px; margin-top:68px;">
                <button type="button" class="button1" id="btnAddAndSave" onclick="return SaveXYZ();">Next</button>
            </div>

        </div>
    </div>
</div>

