
@{
    ViewBag.Title = "StressManagement";
}

<link href="~/link/css/static.css" rel="stylesheet" />
<style>

    
</style>
<body style="background-image: url(../background/Stress_management.jpg);
    background-size: cover;">

    <div class="row">
        <div class="col-md-5">
            <h2 class="ta" >Stress Management</h2>
        </div>

        <div class="col-md-7 backk">
            

            <div class="">
                <div class="panel-group" id="accordion">
                   
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Exercise</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Exercising is the best way to beat stress and stay motivated. Exercise could be anything that makes you sweat outside of work. A quick 20 minute run on the treadmill could do the trick for some while pumping iron for 30 minutes could work too. Even a quick 10 minutes push-ups work out can have a great affect. Physical exhaustion in work space , needs to be overcome by making your body stronger and increasing the endurance levels by never missed daily workouts regime in the gym as this helps you achieve that. Not having enough time should not be an excuse. Even in ports, one can salvage just enough time to do some basic stretching and exercises.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                        Read a Book
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    The second most common view held by seafarers in beating stress was Reading. With the advent of laptops, smartphones and internet, you barely find seafarers reading books these days. Even the ship’s library which in the earlier days was full of books is now full of DVDs or glossy magazines at the best. A bit of bedtime book reading can help one sleep better as compared to dozing off after spending time on your smartphone or watching a movie. Research shows that spending time on electronic gadgets before sleeping can adversely affect your sleep quality. Watching action thrillers just before bedtime can increase your heart rate thereby making it difficult to fall asleep quickly. Reading though can be very relaxing and is the perfect recipe for good quality sleep.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Listen to Music</a>
                                </h4>
                            </div>
                            <div id="collapseEleven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Now who would argue that music can help you relax. Often described as the elixir of life, there is music for every kind of mood. Research has shown that listening to music has a positive impact on the mind and body and is a great way of staying motivated and relaxed. A Captain once shared an anecdotal experience where the Chief Cook always prepared great food while listening to music on his portable player. But once his portable player broke down. This was followed by a drastic degradation in the on board food quality. The Captain then decided to permanently install a music system in the galley.

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone">Write a Journal or Dairy</a>
                                </h4>
                            </div>
                            <div id="collapseone" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Putting their thoughts on paper can be a great way to unwind and relax. It also serves as a good archive of all the work that has been done and could be used for easy future reference. Many people these days use an electronic diary for jotting down their day to day activities. It need not be very detailed either. Quick notes on your daily activity shouldn’t take more than a few minutes.


                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">Find friends among colleagues on board</a>
                                </h4>
                            </div>
                            <div id="collapsetwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Seafarers share a unique relationship with the people they work with – as they also live with the same people. It is in your best interest to have friendly relations with everyone on board. After all, you would not fancy someone you don’t get along with sitting right in front of you at the dinner table. At sea, you simply cannot avoid your colleagues. Having a civil relationship with everyone on board is a must. But it would help you if you can connect well and be very good friends with at least one person on board. Having someone to share your ups and downs can be a great way to stay relaxed. Be it the birth of your first child or venting frustration about your superiors – talking about your inner feelings always helps. Having someone to share your ideas and thoughts with can be a great way to stay motivated.


                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                        Communicate with your family
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsethree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Most of seafarer already do this by calling up home every few days while out at sea. Those who have internet have the luxury of staying in touch with their families more often. One should make it a point to get in touch with your family at least once during the day by whatever means possible – It could be a quick telephone call or a short email. This daily ritual of connecting with your loved ones can go a long way in keeping your mind at peace.


                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                        Socialise on board

                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    With the advent of internet and personal computers, the good old era of evening smoke room get together’s has greatly reduced on most ships. Try not to stay confined in your cabin after work. Make it a point to mix around and socialise. The more you stay separated from everyone, the lonelier it can get. The sea is a hostile place to work and we all need help often. Being a social animal and having people to like you can be a great way to make your life easier.<br /> Playing games can be another good way to socialise

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                        Eat Healthy


                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Binging on junk and unhealthy food make your mind and body less able to take the stress out of your work. Ensure that you follow a balanced diet on board. Go easy on those beers (applicable to only those lucky enough to still have alcohol on board) and soft drinks. Unnecessary calories should be avoided. Those extra calories will not only make you unfit, but could be detrimental .

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                        Meditate / Pray
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsesix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Prayers have a very solemn influence on our minds. It gives us perspective and keeps the mind at peace. Even a short prayer after waking up can be a great way to kick start a demanding work day. For those who aren’t really religious, simple meditation techniques such as breathing, voice aided meditation etc. can help to remain calm, focussed and motivated. Some people perform Yoga which combines exercises and meditation. Whatever works for you must be made a part of your daily activities.

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                        Watch good movies and Documentaries

                                    </a>
                                </h4>
                            </div>
                            <div id="collapseseven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Watching movies is a great way to relax. But do not let it become the only way you spend your free time. Carry a good collection of documentary, movies that interest you. It will only help you enhance your knowledge. But preferably watch them in group or in company of other colleagues

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseight">
                                        Watch good movies and Documentaries

                                    </a>
                                </h4>
                            </div>
                            <div id="collapseight" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Watching movies is a great way to relax. But do not let it become the only way you spend your free time. Carry a good collection of documentary, movies that interest you. It will only help you enhance your knowledge. But preferably watch them in group or in company of other colleagues

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsenine">
                                        Build up on your hobbies

                                    </a>
                                </h4>
                            </div>
                            <div id="collapsenine" class="panel-collapse collapse">
                                <div class="panel-body">
                                    A lot of us think that when we are out at sea, we should not indulge in hobbies that we like. But it is in fact the other way round. Do what your heart pleases. Some people like writing while some others prefer cooking. Do not hold yourself back on doing anything that you like. People with interest in photography should consider investing in a good camera. The sea presents some of the best opportunities to take spectacular photographs.

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseaa">
                                        Play by the Rules

                                    </a>
                                </h4>
                            </div>
                            <div id="collapseaa" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Human are bound to have temptation to bend the rules every once in a while to get out of a situation. Bending rules will be of absolutely no good for you professionally and will only cause problems in the longer run. Your mind will never be at ease knowing that you are doing something which is wrong. What’s worse is that some people have the wrong notion that they are helping out their companies by doing illegal things such as pumping out bilges or hiding dangerous defects. This false sense of loyalty is very dangerous and should be chucked out of your system soonest possible. Companies will never support you if you are in the wrong knowingly. All the sweat, blood and grime that has gone into building your career will come to a naught by one senseless act. Playing by the rules might require a little bit of extra effort in the short term, but will ensure that your conscience remains clear. A clear conscience will only help you remain stress free, focused and motivated.

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsebb">
                                        Fake it till you Make it


                                    </a>
                                </h4>
                            </div>
                            <div id="collapsebb" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We all face times when no amount of pep talk or any of the above activities help. In such situations, it is best to just pretend to have a positive outlook. Force yourself to have a positive body language. Lie to yourself that you are motivated, driven and kicked. Eventually, this will become your normal outlook and things will automatically fall in place. Coming out of the rut is very important

                                </div>
                            </div>
                        </div>

                   
                </div>
            </div>
        </div>
    </div>
</body>