
@{
    ViewBag.Title = "HealthTips";
}
<link href="~/link/css/static.css" rel="stylesheet" />
<body style="background-image: url(../background/Health.jpg);
    background-size: cover;">

    <div class="row">
        <div class="col-md-3">
            <h2 class="ta" style="color:#000;">Health Tips</h2>
        </div>

        <div class="col-md-9">
            

        </div>
    </div>
</body>

