
@{
    ViewBag.Title = "Index";
}

<body style="background-image: url(../background/page1.jpg);
    background-size: cover;">
    <div class="row">
        <div class="col-md-4"><h1 class="ta">Help</h1></div>
        <div class="col-md-8">
        </div>
    </div>
</body>
