<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="RestHourDBConnectionString" connectionString="Server=DHEEMAN\HOME;Database=resthoursclient;User Id=sa;Password=sa1234;Trusted_Connection=False;"/>-->
    <!--<add name="RestHourDBConnectionString" connectionString="Server=LAPTOP-U2CV3DFQ\BINSQLSERVER;Database=resthoursclientNew;User Id=sa;Password=binb1234;Trusted_Connection=False;" />-->
    <!--<add name="RestHourDBConnectionString" connectionString="Server=DESKTOP-53QOB66\BINSQLSERVER;Database=resthoursclient;User Id=sa;Password=binb1234;Trusted_Connection=False;" />-->
    <!--<add name="RestHourDBConnectionString" connectionString="Server=LAPTOP-BH78F1Q4\WORK;Database=resthoursclient;User Id=sa;Password=sa1234;Trusted_Connection=False;" />-->
    <!--<add name="RestHourDBConnectionString" connectionString="Server=DESKTOP-R1V2FTS\SQLEXPRESS;Database=resthoursclient;User Id=sa;Password=12345;Trusted_Connection=False;" />-->
    <!--<add name="RestHourDBConnectionString" connectionString="Server=PC\SQLEXPRESS;Database=resthoursclient;User Id=sa;Password=12345;Trusted_Connection=False;" />-->
    <!--<add name="RestHourDBConnectionString" connectionString="Server=DESKTOP-R1V2FTS\SQLEXPRESS;Database=resthoursclient_uskDataAndCurrentSchema;User Id=sa;Password=12345;Trusted_Connection=False;"/>-->
  </connectionStrings>
  <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="exportlog.txt" />
      <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="logconsole" />
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" fileName="logs/exportlog.txt" archiveFileName="logs/archives/exportlog.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7"/>
    </targets>
    <rules>
      <logger name="*" writeTo="default"/>
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="SuperAdmin" value="Super Admin"/>
    <add key="Admin" value="Admin"/>
    <add key="User" value="User"/>
    <add key="AppVer" value="1.0.0"/>
    <add key="MedicineUploadPath" value="../Medicine/"/>
    <add key="EquipmentUploadPath" value="~/Equipment/"/>
    <add key="companylogoUploadPath" value="../companylogo/"/>
    <add key="CrewUploadPath" value="~/Uploads/"/>
    <add key="CrewHealthImagesPath" value="../CrewHealthImages/"/>
    <add key="CIRMPatientMedicalImagesPath" value="../CIRMPatientMedicalImages/"/>
    <!--**Added on 10th Jan 2022*******-->
    <add key="MedicalChestImagesPath" value="../MedicalChestImages/"/>
    <!--**Added on 27th Jan 2022*******-->
    <add key="JoiningMedicalUploadPath" value="../JoiningMedical/"/>
    <add key="MedicineAvailableOnBoardUploadPath" value="../MedicineAvailableOnBoard/"/>
    <add key="MedicalEquipmentOnBoardUploadPath" value="../MedicalEquipmentOnBoard/"/>
    <add key="MedicalHistoryUploadUploadPath" value="../MedicalHistoryUpload/"/>
    <add key="WorkAndRestHourLatestRecordUploadPath" value="../WorkAndRestHourLatestRecord/"/>
    <add key="PreExistingMedicationPrescriptionUploadPath" value="../PreExistingMedicationPrescription/"/>
    <add key="UploadPisturesUploadPath" value="../UploadPistures/"/>
    <add key="UploadMedicalInventoryPath" value="../UploadMedicalInventoryUploads/"/>
    <add key="InputDateFormat" value="dd-MMM-yyyy"/>
    <add key="InputDateSeperator" value="-"/>
    <add key="OutputDateFormat" value="MM/dd/yyyy"/>
    <add key="OutputDateSeperator" value="/"/>
    <add key="JoiningPdfRelativePath" value="../JoiningMedical/"/>
    <!--***********************New Added For Data Export**************************-->
    <add key="xmlfilepath" value="D:\AllProjects\RestHourExport\RestHourExport\xml\"/>
    <add key="xmlfile" value="D:\AllProjects\RestHourExport\RestHourExport\Zip File\XmlFiles.zip"/>
    <add key="Crewxml" value="Crew.xml"/>
    <add key="DepartmentAdminxml" value="DepartmentAdmin.xml"/>
    <add key="DepartmentMasterxml" value="DepartmentMaster.xml"/>
    <add key="FirstRunxml" value="FirstRun.xml"/>
    <add key="GroupRankxml" value="GroupRank.xml"/>
    <add key="Groupsxml" value="Groups.xml"/>
    <add key="NCDetailsxml" value="NCDetails.xml"/>
    <add key="Ranksxml" value="Ranks.xml"/>
    <add key="Regimesxml" value="Regimes.xml"/>
    <add key="ServiceTermsxml" value="ServiceTerms.xml"/>
    <add key="Shipxml" value="Ship.xml"/>
    <add key="tblRegimexml" value="tblRegime.xml"/>
    <add key="TimeAdjustmentxml" value="TimeAdjustment.xml"/>
    <add key="UserGroupsxml" value="UserGroups.xml"/>
    <add key="Usersxml" value="Users.xml"/>
    <add key="WorkSessionsxml" value="WorkSessions.xml"/>
    <add key="CrewRegimeTRxml" value="CrewRegimeTR.xml"/>
    <add key="CompanyDetailsxml" value="CompanyDetails.xml"/>
    <add key="OutputSize" value="10240000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="/NCReportByMonth/ReportsNCReportByMonth" loginUrl="/Login/Index/" slidingExpiration="true" timeout="2880"/>
    </authentication>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <sessionState mode="InProc" timeout="10"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>