<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--<add name="RestHourDBConnectionString" connectionString="Server=DESKTOP-R1V2FTS\WORTH;Database=resthoursclient;User Id=sa;Password=k4ctw(q4dL;Trusted_Connection=False;" />-->
    <!--<add name="RestHourDBConnectionString" connectionString="Server=DESKTOP-R1V2FTS\SQLEXPRESS;Database=resthoursclient;User Id=sa;Password=12345;Trusted_Connection=False;" />-->
   <!--<add name="RestHourDBConnectionString" connectionString="Server=PC\SQLEXPRESS;Database=resthoursclient;User Id=sa;Password=12345;Trusted_Connection=False;" />-->
    <add name="RestHourDBConnectionString" connectionString="Server=DESKTOP-R1V2FTS\SQLEXPRESS;Database=resthoursclient;User Id=sa;Password=12345;Trusted_Connection=False;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SuperAdmin" value="Super Admin" />
    <add key="Admin" value="Admin" />
    <add key="User" value="User" />
    <add key="AppVer" value="1.0.0" />
    <add key="MedicineUploadPath" value="../Medicine/" />
    <add key="EquipmentUploadPath" value="~/Equipment/" />
    <add key="companylogoUploadPath" value="../companylogo/" />
    <add key="CrewUploadPath" value="~/Uploads/" />
    
    <add key="JoiningMedicalUploadPath" value="../JoiningMedical/" />
     <add key="MedicineAvailableOnBoardUploadPath" value="../MedicineAvailableOnBoard/" />
     <add key="MedicalEquipmentOnBoardUploadPath" value="../MedicalEquipmentOnBoard/" />
     <add key="MedicalHistoryUploadUploadPath" value="../MedicalHistoryUpload/" />
     <add key="WorkAndRestHourLatestRecordUploadPath" value="../WorkAndRestHourLatestRecord/" />
     <add key="PreExistingMedicationPrescriptionUploadPath" value="../PreExistingMedicationPrescription/" />
    <add key="UploadPisturesUploadPath" value="../UploadPistures/" />
    
    <add key="UploadMedicalInventoryPath" value="../UploadMedicalInventoryUploads/" />
    <add key="InputDateFormat" value="dd-MMM-yyyy" />
    <add key="InputDateSeperator" value="-" />
    <add key="OutputDateFormat" value="MM/dd/yyyy" />
    <add key="OutputDateSeperator" value="/" />
    <add key="JoiningPdfRelativePath" value="../JoiningMedical/" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="/NCReportByMonth/ReportsNCReportByMonth" loginUrl="/Login/Index/" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" timeout="10" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>