
@{
    ViewBag.Title = "Index";
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link rel="stylesheet" href="../css/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="../css/datatable/css/buttons.dataTables.min.css" />

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
@*<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>*@
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.select.min.js"></script>



<script src="~/Scripts/Options.js"></script>

@Html.Hidden("Optionsadd", @Url.Action("Add", "Options"))

@Html.Hidden("loaddata", @Url.Action("LoadData", "Options"))

@*<h2 style="margin-top:0;">Application General Options</h2>*@



@*<div class="modal-dialog" id="dvuserdetailsn" style="width: 100%;">
        <fieldset class="for-panel">
            <legend>General Application Settings</legend>
            <div class="row">

                <div class="form-group">
                    <input type="hidden" id="ID" />
                </div>



                <div class="col-sm-4">
                    <div class="form-horizontal">
                        <h6 class="col-xs-9 control-label">Enable Advanced Permissions*:</h6>
                    </div>
                    <div class="form-horizontal">
                        <input id="EnableAdvancedPermissions" type="checkbox" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-horizontal">
                        <h6 class="col-xs-9 control-label">Enable Advanced Schedules*:</h6>
                    </div>
                    <div class="form-horizontal">
                        <input id="EnableAdvancedSchedules" type="checkbox" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-horizontal">
                        <h6 class="col-xs-9 control-label">Enable Vessel Schedules:</h6>
                    </div>
                    <div class="form-horizontal">
                        <input id="EnableVesselSchedules" type="checkbox" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-horizontal">
                        <h6 class="col-xs-8 control-label">Require Employee Number:</h6>
                    </div>
                    <div class="form-horizontal">
                        <input id="RequireEmployeeNumber" type="checkbox" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-horizontal">
                        <h6 class="col-xs-7 control-label">Enable Overtime:</h6>
                    </div>
                    <div class="form-horizontal">
                        <input id="EnableOvertime" type="checkbox" class="form-control" />
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-horizontal">
                        <h6 class="col-xs-9 control-label">Overtime Month End Date:</h6>
                        <input type="text" class="form-control" id="OvertimeMonthEndDate" style="width: 26%;" placeholder="" />
                    </div>
                </div>

            </div>
        </fieldset>
    </div>*@

<style>

    .ui-widget.ui-widget-content {
        border: 1px solid #c5c5c5 !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #c5c5c5;
        background: #26262600;
        font-weight: normal;
        color: #454545;
        color: #000 !important;
    }

    .modal-dialog {
        width: 600px;
        margin: 30px 0 0;
    }
</style>


<body>

    <div class="">
        <div class="head_title">
            <h1 class="ta">Time Adjustment</h1>
        </div>
        <div class="card bac">

            @if (Convert.ToBoolean(Session["SuperAdmin"].ToString()) || Convert.ToBoolean(Session["Admin"].ToString()))
            {
                <div style="width: 100%;">

                    @*<div class="col-sm-4">
                            <div class="modal-dialog" id="dvuserdetailsn" style="width: 75%;">
                                <fieldset class="for-panel">
                                    <legend>Hours Record Report Layout</legend>
                                    <div class="row">

                                        <div class="form-group">
                                            <input type="hidden" id="ID" />
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-horizontal">
                                                <h6 class="col-xs-7 control-label">Enable Compact Mode:</h6>

                                            </div>
                                            <div class="form-horizontal">
                                                <input id="EnableCompactMode" type="checkbox" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="modal-dialog" id="dvuserdetailsn" style="width: 75%;">
                                <fieldset class="for-panel">
                                    <legend>Overtime Report Layout</legend>
                                    <div class="row">

                                        <div class="form-group">
                                            <input type="hidden" id="ID" />
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-horizontal">
                                                <h6 class="col-xs-7 control-label">Enable Compact Mode:</h6>
                                            </div>
                                            <div class="form-horizontal">
                                                <input id="EnableCompactModeO" type="checkbox" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>*@


                    @*<div class="col-sm-4">
                            <div class="modal-dialog" id="dvuserdetailsn" style="width: 75%;">
                                <fieldset class="for-panel">
                                    <legend>Default Paper Size</legend>
                                    <div class="row">

                                        <div class="form-group">
                                            <input type="hidden" id="ID" />
                                        </div>

                                        <div class="col-sm-4">
                                            <form>
                                                <input type="radio" name="PaperSize" value="A4" checked> A4<br>
                                                <input type="radio" name="PaperSize" value="Letter"> Letter<br>
                                            </form>
                                        </div>




                                        <div class="form-group">
                                            <label for="selectCrew" class="col-sm-3 control-label"></label>

                                        </div>




                                    </div>
                                </fieldset>
                            </div>
                        </div>*@



                    <div class="row">
                        <div class="col-sm-12">
                            @*<input type="text" class="form-control" id="AdjustmentDate" placeholder="Adjustment Date" />*@
                            <div class="" id="dvuserdetailsn" style="width:100%;">
                                <div class="card">
                                    <fieldset>
                                        <div class="row">

                                            <div class="form-group">
                                                <input type="hidden" id="ID" />
                                            </div>

                                            <div class="col-md-3">
                                                @*<div class="form-group">
                                                        <label for="inputPassword3" class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-9">
                                                            <div class="multiple">

                                                            </div>
                                                        </div>
                                                    </div>*@
                                                <div class="form-group" style="width: 100%;">
                                                    <label for="AdjustmentDate">Adjustment Date</label>
                                                    @*<input type="text" class="form-control" id="AdjustmentDate" style="width: 100%;" /><br />*@
                                                    <input type="text" class="form-control" id="AdjustmentDate" placeholder="Adjustment Date" />
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group" style="width: 100%;">
                                                    <label for="selectCrew" class="col-sm-3 control-label">@*Select Crew*@</label>
                                                    <div class=" col-md-6" style="padding-top:20px;">
                                                        <select class="form-control" id="AdjustmentValue">
                                                            <option value="+1">+1 Hour</option>
                                                            <option value="-1">-1 Hour</option>
                                                            <option value="+30">+30 Minute</option>
                                                            <option value="-30">-30 Minute</option>
                                                            <option value="+1D">+1 Day</option>
                                                            <option value="-1D">-1 Day</option>
                                                        </select>
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group" style="width: 100%;">
                                                    <label for="selectCrew" class="col-sm-3 control-label">@*Select Crew*@</label>
                                                    <div class=" col-md-6" style="padding-top:20px;">
                                                        <button type="button" class="button1" id="btnAdd" onclick="return AddOptions();">Save</button>
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }




            <div style="width:100%;" class="tablecontainer">


                <input type="hidden" id="hdncount" />

                <input type="hidden" id="hdnrole" />
                <table id="Mastertable" class="table display" style="width:100%">
                    <thead align="left" class="blue_Color color_white">
                        <tr>
                            <th scope="col" align="left">Adjustment Date</th>
                            <th scope="col">Time Adjusted</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>




</body>

@*<div class="modal-footer">

       alert(btnAdd);
        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>*@
@*<p><font color=""><i>* These features are only available with ISF Watchkeeper 3 (Network Version)</i></font></p>*@


@section Scripts
{
    <script src="dist/dual-listbox.js"></script>

    <script src="~/Scripts/jquery.bootstrap-duallistbox.min.js"></script>
    <link href="~/Content/bootstrap-duallistbox.css" rel="stylesheet" />

    <script type="text/javascript">




        //$("#AdjustmentDate").datepicker({

        //    changeMonth: true,
        //    changeYear: true,

        //});





        //$("#AdjustmentDate").datepicker({
        //    defaultDate: +2
        //});
        //// Getter
        //var defaultDate = $("#AdjustmentDate").datepicker("option", "defaultDate");

        //// Setter
        //$("#AdjustmentDate").datepicker("option", "defaultDate", +2);

        //$("#AdjustmentDate").datepicker({
        //    dateFormat: 'd-M-yy',
        //    //minDate: 1,
        //    //maxDate: 1
        //});

        $("#AdjustmentDate").datepicker({
            /*defaultDate: +2,*/
            changeMonth: true,
            changeYear: true,
            dateFormat: 'd-M-yy',

        });

        $("#DOB").datepicker({

            changeMonth: true,
            changeYear: true,
            dateFormat: 'd-M-yy',

        });




        $(document).ready(function () {

            SetUpGrid();


            $('.multiple').datepicker({
                inline: true,
                firstDay: 1,
                showOtherMonths: true,
                dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                onSelect: function (date) {
                    // Your CSS changes, just in case you still need them
                    //alert(date);
                    if ($('#ddlCrew').val() != '') {
                        LoadData();

                    }
                }
            });
        });
    </script>

}
