<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<connectionStrings>

		<!--<add name="RestHourDBConnectionString" connectionString="Server=DESKTOP-U0578U8\HOME;Database=resthoursclient;User Id=sa;Password=sa1234;Trusted_Connection=False;" />-->
    <add name="RestHourDBConnectionString" connectionString="Server=DESKTOP-R1V2FTS\SQLEXPRESS;Database=resthoursclient;User Id=sa;Password=12345;Trusted_Connection=False;" />


  </connectionStrings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File" fileName="ApprovalImportlog.txt" />
			<target name="logconsole" xsi:type="Console" />
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="logconsole" />
			<logger name="*" minlevel="Debug" writeTo="logfile" />
		</rules>
	</nlog>
	
	<appSettings>
		<add key="XmlZipPath" value="D:\projects\RestHourSuiteLocal\resthoursadmincenter\TM.Admin.RestHour.ApprovalImport\Zip File\XmlFiles.zip" />
		<add key="ExtractFilePath" value="\Extract File" />

		<add key="xmlCrew" value="Crew.xml" />
		<add key="SchedulerIntervalTime" value="120" /><!--*************value in Second*****************-->
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>