
@{
    ViewBag.Title = "Index";
}

<body>
    <div class="row">
        <div class="head_title">
            <h1 class="ta">Psychometrics</h1>
        </div>
        <div class="card">
            @*<img src="~/background/TechInnologyLogo.png" style="width:23%; text-align:center;" />*@

            <div>&nbsp;</div>

            <p class="ab">
                <h1 class=""> Request for psychometric module seperately.</h1>
               
            </p>
        </div>
    </div>
</body>

