
@{
    ViewBag.Title = "Index";
}

<body style="background-image: url(../background/about.jpg);
    background-size: cover;">
    <div class="row">
        <div class="col-md-4"><h1 class="ta">About</h1></div>
        <div class="col-md-8 backtt">
            <img src="~/background/TechInnologyLogo.png" style="width:40%; text-align:center;"/>
            <p class="ab">
                Tech-Innology, an emerging Marine IT Support Firm, was established in July 2014 on an extremely strong technical foundation and also marine overview. The organization is headquartered in Singapore, a hub of marine activity. With the commitment to provide our customers with the best of IT services and solutions in marine domain, Tech-innology offers one stop solution for a wide range of IT requirements. Our services include network design, onboard network, hardware/software installation, data base build-up, data analysis and customised software.


                <br />
                Tech-Innology has a team of professional backend support and engineers to meet your growing needs for assistance onboard your esteem vessel to resolve any issues within specified time frame. We pride ourselves for our innovative approach and managing cost to give the best to our end users and customers. Tech-Innology aims to provide the solutions that fit modern marine industry’s needs, supports the mariners and saves money for the managers.
            </p>
        </div>
        </div>
</body>

