<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="RestHourDBConnectionString" connectionString="Server=DESKTOP-R1V2FTS\SQLEXPRESS;Database=resthoursclient;User Id=sa;Password=12345;Trusted_Connection=False;" />
  </connectionStrings>
  <appSettings>
     <!--***********************New Added For Data Export**************************-->
    <add key="xmlfilepath" value="D:\AllProjects\RestHourExport\RestHourExport\xml\" />
    <add key="xmlfile" value="D:\AllProjects\RestHourExport\RestHourExport\Zip File\XmlFiles.zip" />
    <add key="Crewxml" value="Crew.xml" />
    <add key="DepartmentAdminxml" value="DepartmentAdmin.xml" />
    <add key="DepartmentMasterxml" value="DepartmentMaster.xml" />
    <add key="FirstRunxml" value="FirstRun.xml" />
    <add key="GroupRankxml" value="GroupRank.xml" />
    <add key="Groupsxml" value="Groups.xml" />
    <add key="NCDetailsxml" value="NCDetails.xml" />
    <add key="Ranksxml" value="Ranks.xml" />
    <add key="Regimesxml" value="Regimes.xml" />
    <add key="ServiceTermsxml" value="ServiceTerms.xml" />
    <add key="Shipxml" value="Ship.xml" />
    <add key="tblRegimexml" value="tblRegime.xml" />
    <add key="TimeAdjustmentxml" value="TimeAdjustment.xml" />
    <add key="UserGroupsxml" value="UserGroups.xml" />
    <add key="Usersxml" value="Users.xml" />
    <add key="WorkSessionsxml" value="WorkSessions.xml" />
    <add key="CrewRegimeTRxml" value="CrewRegimeTR.xml" />
    <add key="CompanyDetailsxml" value="CompanyDetails.xml" />
    <add key="OutputSize" value="10240000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SchedulerTimer" value="180"/>
  <!--<add key="SchedulerIntervalTime" value="120" />--><!--*************value in Second*******2min**********-->
	  <add key="SchedulerIntervalTime" value="28800" /><!--*************value in Second******8hr***********-->
  </appSettings>
  
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" fileName="logs/exportlog.txt" archiveFileName="logs/archives/exportlog.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>