
@{
    ViewBag.Title = "Index";
}

<body style="background-image: url(../background/about.jpg);
    background-size: cover;">
    <div class="row">
        <div class="col-md-4"><h1 class="ta">Plans</h1></div>
        <div class="row col-md-8 backtt">
            <div class="row">
                <embed src="../COVIDPLAN.pdf" width="800px;" height="385px;" />
                
            </div>
            <button type="button" class="buttonpop" id="" style="float: right; width: 100px;">Update</button>
        </div>
       
    </div>
</body>

