

<div class="row" style="border: 1px solid #eee; padding: 10px;">
    <div class="col-md-12"><h4>Wind </h4></div>
    <div class="form-group">
        <input type="hidden" id="WeatherID" />
    </div>

    <div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">

        <div class="form-group">
            <label for="Direction">Direction</label>
            <input type="text" class="form-control" id="Direction" placeholder="Direction" />
        </div>
        

    </div>
    <div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">

        <div class="form-group">
            <label for="BeaufortScale">Beaufort Scale</label>
            <input type="text" class="form-control" id="BeaufortScale" placeholder="Beaufort Scale" />

        </div>
        
    </div>
    <div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">

        <div class="form-group">
            <label for="WindSpeed">Wind Speed</label>
            <input type="text" class="form-control" id="WindSpeed" placeholder="Wind Speed" />
        </div>

    </div>
</div>
<div class="row" style="border: 1px solid #eee; padding: 10px;">
    <div class="col-md-12"><h4>SEA </h4></div>
   
    <div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">

        <div class="form-group">
            <label for="SeaState">Sea State</label>
            <input type="text" class="form-control" id="SeaState" placeholder="Sea State" />
        </div>


    </div>
    <div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">

        <div class="form-group">
            <label for="WaveHeight">Wave Height</label>
            <input type="text" class="form-control" id="WaveHeight" placeholder="WaveHeight" />

        </div>

    </div>
    <div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">

        <div class="form-group">
            <label for="Swell">Swell</label>
            <input type="text" class="form-control" id="Swell" placeholder="Swell" />
        </div>

    </div>
</div>
<div class="row" style="border: 1px solid #eee; padding: 10px;">
    <div class="col-md-12"><h4>WEATHER </h4></div>
    
    
    <div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">

        <div class="form-group">
            <label for="Condition">Condition</label>
            <input type="text" class="form-control" id="WeatherCondition" placeholder="Condition" />

        </div>

    </div>
    <div class="col-md-4" style="border: 1px solid #eee; padding: 10px;">

        <div class="form-group">
            <label for="Visibility">Visibility</label>
            <input type="text" class="form-control" id="Visibility" placeholder="Visibility" />
        </div>

    </div>
</div>
