
@{
    ViewBag.Title = "Index";
}
<style>
    .buttonpop {
        margin:20px 0;
    }

    .backtt {
        text-align:right;
    }
</style>
<body>
    <div class="">
        <div class="head_title">
            <h1 class="ta">Plans</h1>
        </div>
       
        <div class="card backtt">
            <div class="">
                <embed src="../COVIDPLAN.pdf" width="100%" height="345px;" />

            </div>
            <button type="button" class="buttonpop" id="" style="width: 100px;">Update</button>
        </div>

    </div>
</body>

