
@{
    ViewBag.Title = "IndexNew";
}

<body style="background-image: url(../background/Health.jpg);
    background-size: cover;">

    <div class="row">
        <div class="col-md-5">
            <h2 class="ta" style="color:#000;">Health Management</h2>
        </div>

        <div class="col-md-7">
        </div>
    </div>
</body>