table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f9f9f900 !important;
}

    table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
        background-color: #f1f1f100 !important;
    }

table.dataTable.no-footer {
    border: 1px solid #111;
}

table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
    border-top: none;
    border-right: 2px solid #000 !important;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1;
    border-right: 2px solid #000 !important;
}

table.dataTable thead .sorting {
    background-image: url("../images/sort_both.png");
    border-right: 2px solid #000 !important;
}

table.dataTable thead .sorting_asc {
    background-image: url("../images/sort_asc.png");
    border-right: 2px solid #000 !important;
}

table.dataTable.no-footer {
    border: 2px solid #111 !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 2px solid #111 !important;
    font-size: 15px !important;
    text-align: center !important;
}

table th, table td {
    padding: 1px;
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 400;
}
