
@{
    ViewBag.Title = "Adviseforsafetravel";
}

<h2></h2>
<link href="~/link/css/static.css" rel="stylesheet" />
<style>
    .pi{
        padding:10px;
        width:100%;
    }

</style>
<body>

    <div class="row">
        <div class="head_title">
            <h2 class="ta">Advise for safe travel</h2>
        </div>

        <div class="backk card">
            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Introduction</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Aware of the importance of lifestyle aspects to the
                                health of seafarers, the International Seafarers’ Welfare
                                and Assistance Network is launching “SAFE TRAVEL”
                                as a topic in the Seafarers’ Health Information
                                Programme (SHIP), sponsored by the Shipowners' Club.
                                A ship on which seafarers not only work but spend all
                                their time during a voyage is an excellent place for health
                                intervention.
                                Seafarers are travellers and are exposed to the same
                                health risks as all travellers. Although the maritime industry
                                has a tradition of working with periodic health checks,
                                vaccinations and international health regulations, the
                                preparation for a voyage by individual seafarers is not
                                always up to modern-day standards.
                                These guidelines provide an outline for better preparation
                                for a seagoing trip at individual ship level. While not
                                every thing here is applicable to every trip, all of them
                                are worth considering at some point
                                in a seafaring career.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Tips for Successful Implementation of Safe Travel
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Encourage crew members to prepare well for a trip. Always
                                give safe travel advice at meetings and make sure that
                                travel advice is an obligatory part of medical check-ups or
                                periodic medical examinations.
                                Use different approaches to inform and motivate seafarers
                                to prepare for their stay on board. Communicate very
                                clearly what kind of prevention is offered onboard and what
                                kind of prevention and protection is necessary during a trip.
                                Every briefi ng on an itinerary or change in schedule must
                                include a part on the health risks in those regions and the
                                kind of protection that is needed there. There must be a
                                travel health programme for each voyage and the whole
                                vessel must support it: captain and offi cers must show their
                                commitment.
                                Take suffi cient time to implement a safe travel programme
                                on board. Behavioural changes take several months and
                                benefi ts may take even longer to become measurable.
                                Draw up a systematic plan of what you want to achieve in
                                respect to health protection and over what period of time.
                                Involve key persons such as the company medical adviser,
                                the pharmacist and tropical and travel clinics, and link the
                                plan with a company policy on health.
                                Display details of the continuous health protection necessary
                                for the voyage, not only regarding vaccinations and
                                malaria tablets, but also general protection e.g. against
                                heat and cold.
                                Provide information (SHIP posters, leafl ets, cartoons and
                                calendars) on safe travel, disease prevention and protection
                                on board.
                                Give crew members the opportunity to ask questions on
                                travel prevention on board and to make suggestions.
                                Keep track of the measures taken, make a note of vaccinations
                                on a vaccination list, and organise booster vaccinations
                                if necessary.
                                Link SAFE TRAVEL with the topics MALARIA and HIV/
                                AIDS, STDs of the Seafarers’ Health Information Programme
                                (SHIP), for more information contact www.seafarershealth.org
                                .
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Personal Preparation</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Board a ship only if you are in a perfect state of health.
                                Don’t travel if you feel sick, especially if you have a
                                fever.
                                Plan health protection
                                - List the ports on the itinerary
                                - Gather information about the health hazards in the
                                ports to be visited
                                - Communicate with the company about the
                                precautions taken
                                - Organise disease prevention
                                - Visit your doctor or travel clinic and obtain the
                                necessary prescriptions, vaccinations and
                                prophylactic (protective and preventive) medication<br />
                                Visit your dentist for a check-up, especially if your last
                                check-up dates back more than six months<br />
                                Plan activities and organise prevention accordingly.
                                Carry appropriate medical information such as conditions,
                                allergies that you have and medications you are
                                taking, in written format, in English.<br />
                                Carry necessary travel documents: <br />
                                - Blood Group Card<br />
                                - International Vaccination Card<br />
                                - Allergy Card or a medical alert bracelet<br />
                                <br />
                                Obtain a doctor’s letter pertaining to any prescription
                                medicines, syringes, etc. being carried. Some countries
                                require not only a doctor but also the national health administration
                                to sign this certifi cate. (See example below)<br />
                                Medication needed should be carried in suffi cient quantities
                                for the whole voyage. All medicines should be carried
                                in hand luggage to minimize any risk of loss during
                                the journey. A duplicate supply carried in the checked-in
                                luggage is a good safety precaution in case of loss or
                                theft.<br />
                                If you wear glasses, take an extra pair

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone"> Travelling by aeroplane</a>
                            </h4>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse">
                            <div class="panel-body">
                                Many seafarers board their ship in a foreign port having
                                travelled to that port by plane.<br />
                                Cabine pressure is similar to an altitude of 1200-1800 m.
                                The general condition of travellers is determining their
                                tolerance, but with a recent heart attack, cardiac decompensation,
                                lung disease, eye injury or recent surgery,
                                medical advise should be taken before travelling by
                                plane.<br />
                                Put the medication you need in your hand luggage.<br />
                                During take-off and landing, clear your ears by closing
                                your mouth and nose and trying to breathe out.<br />
                                Air-conditioning causes dry eyes; eye drops may be
                                helpful.<br />
                                To avoid the infl ammation and/or formation of a blood
                                clot in a vein, walk around from time to time and avoid
                                alcohol. On long fl ights it may be useful for people with
                                a blood vessel problem to use aspirin or other medication.
                                Consult your doctor about this.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">Personal Protection</a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                • Protect yourself from the sun by:<br />
                                - wearing sunglasses<br />
                                - applying a good sunscreen with a high
                                protection factor<br />
                                - wearing a cap, e.g. SHIP’s “COOL CAP”<br />
                                • Protect yourself from heatstroke by:<br />
                                - drinking adequate amounts of liquid<br />
                                - adding extra salt to normal food preparation<br />
                                - taking suffi cient rest<br />
                                • Protect yourself from the cold by wearing loose clothing
                                in several layers and keep clothes dry; eat enough and
                                avoid alcohol<br />
                                • Protect yourself from insects by:<br />
                                - covering ventilation holes with nets<br />
                                - using insect repellents<br />
                                - using impregnated bed nets and sleeping in
                                screened accommodation (the main risk time
                                for insect bites is over night in ports)<br />
                                • Leave animals alone; seek medical advice if you are
                                bitten<br />
                                • Avoid casual sexual encounters, which often occur under
                                the infl uence of alcohol! Sexual contact without protection
                                is dangerous! Take and wear condoms! Check
                                quality and expiry dates of condoms and keep them in a
                                cool, dark place.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                    Infectious Disease Prevention*
                                </a>
                            </h4>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">
                                * The information in these guidelines is based on the general
                                recommendations of the World Health Organisation.
                                The maps are reproduced by permission from: International
                                Travel and Health, WHO, Geneva, 2005.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    Vaccine-preventable diseases

                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                A vaccine works in two stages. In the fi rst phase, a particular
                                part (antigen) of a germ (virus or bacterium) is injected
                                to provoke a reaction of the immune system against this
                                intruder. In the second phase, the body produces “memory
                                cells”, storing information on the fi rst aggression in
                                readiness to attack the virus quickly and effectively. This
                                “memory” is supported by booster vaccinations.
                                Although this list is not exhaustive, the following vaccinations
                                are considered important for seafarers, especially
                                since, for some of the infections listed, treatment is not
                                available or is complicated:
                                <br />
                                <img src="~/background/travel/1.jpg" class="pi"/>
                                <img src="~/background/travel/2.jpg" class="pi" />
                                <img src="~/background/travel/3.jpg" class="pi" />
                                <img src="~/background/travel/4.jpg" class="pi" />
                                <img src="~/background/travel/5.jpg" class="pi" />
                                <img src="~/background/travel/6.jpg" class="pi" />

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    Disinsection


                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse">
                            <div class="panel-body">
                                • Insects may act as vector of serious infectious diseases.
                                Infected insects, transported on a vessel, may introduce
                                serious infectious diseases, normally not found in a
                                region, for example (air)port - malaria.<br />
                                • Therefore it is important that everybody onboard pays
                                attention to, and reports the presence of insects.<br />    
                                • Eventually action has to be taken in accordance with
                                WHO advice on the latest methods and materials for
                                use in disinsection.<br />
                                • A competent authority may require disinsection to prevent
                                a dangerous disease from being introduced.<br />
                                • Materials and equipment used for disinsection onboard
                                should be regularly checked and maintained.
                                Vessels must be disinsected in accordance with the
                                instructions issued by the manufacturers of such products
                                and equipment.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                     Personal hygiene

                                </a>
                            </h4>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse">
                            <div class="panel-body">
                                • Regular bathing<br />
                                • Washing your hands; this is the best way of preventing
                                infectious diseases from spreading on board.
                                See also SHIP topic on FOOD SAFETY<br />
                                • Using shampoo,<br />
                                • Regular hair cuts; keep it short<br />
                                • Brushing your teeth after meals and before sleeping<br />
                                • Cleaning your cabin<br />
                                • Washing your clothes regularly<br />
                                • Keeping to a regular pattern of sleeping<br />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                  Preventing travellers’ diarrhoea

                                </a>
                            </h4>
                        </div>
                        <div id="collapseseven" class="panel-collapse collapse">
                            <div class="panel-body">
                                • While staying in a foreign country:<br />
                                - Drink water from unopened bottles only<br />
                                - Preferably take drinks made with boiled water such
                                as tea and coffee<br />
                                - Avoid using ice cubes<br />
                                - Brush your teeth with bottled water or boiled water<br />
                                - Avoid:<br />
                                - Raw vegetables<br />
                                - Raw milk, ice-cream<br />
                                - Raw or uncooked fi sh and shellfish<br />
                                - Raw meat<br />
                                - Fruit that you did not peel yourself<br />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseight">
                                    Personal security

                                </a>
                            </h4>
                        </div>
                        <div id="collapseight" class="panel-collapse collapse">
                            <div class="panel-body">
                                • Dress inconspicuously<br />
                                • Leave expensive jewellery and watches onboard<br />
                                • Drink alcohol in moderation<br />
                                • Do not allow people to see how much cash you have<br />
                                • Avoid travelling at night or on your own<br />
                                • Beware of local transport<br />
                                • When using a car, check for seatbelts, good tyres and
                                brakes.<br />
                                - Hire a large vehicle if possible<br />
                                - Avoid overcrowded public transport<br />
                                - Avoid riding on motorcycles<br />
                                - Do not drink alcohol when driving<br />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsenine">
                                    General health aspects
                                    on board

                                </a>
                            </h4>
                        </div>
                        <div id="collapsenine" class="panel-collapse collapse">
                            <div class="panel-body">
                                • Smoking is a major health risk - don’t do it!<br />
                                • Keep fi t, eat healthily and control your weight. See
                                SHIP topics on FIT ON BOARD, HEALTHY FOOD and
                                OVERWEIGHT (www.seafarershealth.org)<br />
                                • Follow work procedures strictly<br />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseaa">
                                     After returning home

                                </a>
                            </h4>
                        </div>
                        <div id="collapseaa" class="panel-collapse collapse">
                            <div class="panel-body">
                                • Report to your doctor:<br />
                                - Any case of fever during or after the voyage
                                - Any other disease whether treated or not during
                                the voyage<br />
                                - Any fever, chills, rashes, diarrhoea or vomiting after
                                the voyage<br />
                                - If you have spent more than 3 months in a
                                developing country<br />
                                Fever after returning from a malaria-endemic area is a
                                medical emergency and seafarers should seek medical
                                attention immediately.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsebb">
                                    The Responsible Traveller


                                </a>
                            </h4>
                        </div>
                        <div id="collapsebb" class="panel-collapse collapse">
                            <div class="panel-body">
                                Seven Tips for Responsible Travel (International Society of
                                Travel Medicine) <br />
                                <div style="border: 1px solid #136b0c; padding: 18px; margin-top: 13px;">
                                    • Be informed. Travel allows us to discover natural beauties,
                                    historical sites and above all the diversity of other
                                    societies and people.<br />
                                    • Be an informed traveller before leaving home<br />
                                    • Be open-minded and patient. Experience other cultures
                                    and lifestyles.<br />
                                    • Be respectful. Local people welcome you.
                                    Show them gratitude.<br />
                                    • Avoid exploitation. As seafarers, we are perceived as
                                    rich.<br />
                                    • Be generous in a constructive way by promoting the
                                    local economy.<br />
                                    • Avoid and denounce exploitation of the local people
                                    (e.g. low salaries, overwork, child abuse and sex).
                                    Protect the environment. Avoid overuse of water, wasting
                                    food, littering and damaging sites.
                                    Leave a good impression. A positive experience with
                                    local people will pave the way for those coming after you
                                    leave.
                                    Respect and mutual discovery will make your trip a wonderful
                                    experience and will promote your security and your
                                    health too! So enjoy yourself and have a good trip! 
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
                <img src="~/background/travel/logo.jpg" />
            </div>
        </div>
    </div>
</body>



