@{
    ViewBag.Title = "Adviceforsafesex";
}

<link href="~/link/css/static.css" rel="stylesheet" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/Crew.js"></script>

<style>
</style>
<body>

    <div class="">
        <div class="head_title">
            <h2 class="ta">Advice for safe Sex</h2>
        </div>

        <div class="card backk">
            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Introduction </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Sexually transmitted infections (STIs)
                                are very common — up to 75% of
                                sexually active people will, during their
                                lifetime, have an STI of some kind. An
                                estimated 340 million episodes of curable
                                sexually transmitted infections (chlamydial
                                infections, gonorrhoea, syphilis,
                                trichomoniasis) occur throughout the
                                world every year. Viral infections, which
                                are more difficult to treat, are also very
                                common in many populations.
                                Genital herpes is becoming a major cause
                                of genital ulcers, and subtypes of the
                                human papillomavirus are associated with
                                cervical cancer.
                                This means that nearly a million people
                                get an STI every day.
                                Sexually transmitted infections are a
                                major cause of acute illness, infertility,
                                long-term disability and death, with severe
                                medical and psychological consequences
                                for millions of men, women and children.
                                Apart from being serious diseases in their
                                own right, sexually transmitted infections
                                increase the risk of HIV infection. The
                                presence of an untreated disease
                                (ulcerative or non-ulcerative) can
                                increase, by a factor of up to ten, the risk
                                of becoming infected with HIV and
                                transmitting the infection to others. On the
                                other hand, early diagnosis and improved
                                management of other sexually transmitted
                                infections can reduce the incidence of HIV
                                infection by up to 40%. Prevention and
                                treatment of all sexually transmitted
                                infections are therefore important for the
                                prevention of HIV infection.
                                Medically, an STI is an infection before
                                and after it causes symptoms and
                                becomes a disease. An STD — sexually
                                transmitted disease — is an infection that
                                has symptoms. Therefore the term STI is
                                preferred because STIs can be passed
                                from one person to another — even when
                                there are no symptoms. It’s also a lot
                                easier to prevent getting most STIs than it
                                is to treat most STDs.
                                <br />
                                <span>
                                    “Sexually transmitted infections
                                    are a major cause of acute
                                    illness, infertility, long-term
                                    disability and death.”
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Risk for seafarers
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                The risk of STIs is increased for seafarers
                                because of:<br />
                                • Working and living away from spouses
                                and partners.<br />
                                • Working in isolation with limited social
                                interaction and limited health facilities.<br />
                                • Single-sex working and living.
                                arrangements dominated by men, where
                                women are in a small minority.<br />
                                • Limited control by the individual on
                                protection against infection.<br />
                                • Lack of information about risk and
                                preventive measures.<br />
                                • Travel enhances the probability of having
                                sex with casual partners.
                                There is no risk of acquiring any sexually
                                transmitted infection from casual day-today
                                contact onboard or socially.
                                A large proportion of sexually transmitted
                                infections occur as a result of unprotected
                                sexual intercourse during international
                                travel. Seafarers are international
                                travellers.
                                Unprotected vaginal and anal intercourse
                                carries the highest risks for the most
                                dangerous sexually transmitted infections.
                                Even a single unprotected sexual contact
                                can be enough to become infected with:<br />
                                • Trichomoniasis<br />
                                • Gonorrhoea<br />
                                • Chlamydia<br />
                                • Syphilis<br />
                                • Chancroid<br />
                                • Pubic lice<br />
                                • Scabies<br />
                                • Hepatitis B virus (HBV)<br />
                                • Cytomegalovirus (CMV)<br />
                                • Human papilloma viruses (HPVs)<br />
                                • Some HPVs can cause genital warts <br />
                                • Some can cause cancer<br />
                                • Herpes simplex virus (HSV)<br />
                                • Can cause oral and genital herpes<br />
                                • Human immunodeficiency virus (HIV)<br />
                                • Can cause AIDS<br />
                                Unprotected oral sex carries high risk for:<br />
                                • Gonorrhoea<br />
                                • Syphilis<br />
                                • HSV<br />
                                • HBV<br />
                                • CMV<br />
                                And even sex play without intercourse can
                                even create a risk in catching:<br />
                                • CMV<br />
                                • HPV<br />
                                • Pubic lice<br />
                                • Scabies<br />
                                Lots of other infections, from the flu to
                                mononucleosis, can also be transmitted
                                during sex play.
                                The fewer sexual partners a person has,
                                the lower the risk of infection.
                                Many unsafe sexual contacts are often
                                unplanned. Approximately 5% (and
                                sometimes up to 50%) of international
                                travellers have ‘casual’ sex; on average
                                only one in eight use a condom correctly.
                                In addition to transmission through sexual
                                intercourse (both heterosexual and
                                homosexual – anal, vaginal or oral), some
                                of these infections can be passed from an
                                infected mother to her unborn or newborn
                                baby. Hepatitis B, HIV and syphilis are
                                also transmitted through transfusion of
                                contaminated blood or blood products and
                                the use of contaminated needles. There is
                                no evidence that HIV or other sexually
                                transmitted infections can be acquired
                                from insect bites.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Symptoms of some STIs</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span style="color:#eee;">Chlamydia</span><br />
                                Men with Chlamydia commonly
                                experience a urethral discharge from the
                                penis, and may have inflammation of the
                                tube leading from the bladder to the tip of
                                the penis (urethritis), or of the tube leading
                                from the testes to the penis. This
                                discomfort may then disappear but the
                                infection can still be passed on to a sexual
                                partner. In women, genital chlamydial
                                infection often does not cause any
                                symptoms. However, there may be nonspecific
                                symptoms such as cystitis, a
                                change in the vaginal discharge, or mild
                                lower abdominal pain.<br />
                                <span style="color:#eee;">Genital warts</span><br />
                                Many people who get the virus (HPV) that
                                leads to genital warts do not show any
                                recognisable symptoms, this is why the
                                infection can go undiagnosed for a long
                                time. However, if symptoms are present,
                                they may include small white spots or
                                lumps on the penis and around the vulva
                                or anus but also hidden inside the vagina
                                or anus.<br />
                                <span style="color:#eee;">Genital herpes</span><br />
                                Like genital warts, genital herpes is a
                                condition that often presents no symptoms
                                and can remain undiagnosed for long
                                periods of time. Symptoms may show in
                                the form of flu-like symptoms, itchiness,
                                burning or tingling around the genitals,
                                small, fluid-filled blisters that burst to leave
                                sores, and pain when passing urine.
                                <span style="color:#eee;"> Gonorrhoea</span><br />
                                Gonorrhoea is an infection that is found in
                                both sexes and can affect the genitals,
                                anus, rectum and throat. About half of all
                                women infected with gonorrhoea, and
                                over 90% of men experience symptoms,
                                including a thin, watery discharge from the
                                vagina or tip of the penis that can appear
                                yellow or green, and pain when urinating.
                                <span style="color:#eee;"> Syphilis</span><br />
                                The symptoms of syphilis usually begin
                                with a small sore on the penis or vagina.
                                Up to six months after the initial symptoms
                                occur, you may experience flu-like
                                symptoms, such as aches and shivering.
                                <span style="color:#eee;">Hepatitis B</span><br />
                                This viral STI is spread in a similar way to
                                HIV, but is generally more infectious.
                                Symptoms of hepatitis include feeling
                                generally tired and unwell with fevers,
                                aching joints, rashes and jaundice. Some
                                people can be infected without having any
                                symptoms and make a full recovery.
                                Others can be very ill but still recover
                                completely. However, long term infection
                                is also possible. This can lead to
                                progressive liver damage. People who are
                                at higher risk of catching hepatitis B, such
                                as men who have sex with men, or people
                                who come into contact with human blood
                                at work, can be immunised against the
                                infection.
                                <span style="color:#eee;">HIV</span><br />
                                Many people do not develop any
                                symptoms when they first become
                                infected with HIV. Some people, however,
                                get a flu-like illness within three to six
                                weeks after exposure to the virus. The
                                only way to know if you are HIV-positive is
                                to have a test. Over time, infection with
                                HIV weakens the immune system leading
                                to difficulty in fighting off certain infections.
                                <span style="color:#eee;">Non-specific urethritis</span><br />
                                Non-specific urethritis is an STI that
                                affects men. It causes discomfort of the
                                urethra (the tube that leads from the
                                bladder to the tip of the penis, along which
                                urine is passed), and a urethral discharge
                                is also common.
                                <span style="color:#eee;">Trichomoniasis</span><br />
                                Trichomoniasis is an infection of the
                                genitals that is caused by the bacterium
                                trichomonas vaginalis (TV). The condition
                                often has no symptoms, but symptoms
                                may include a yellow or green discharge
                                from the vagina with soreness. Men
                                usually act as carriers and do not show
                                symptoms.
                                <span style="color:#eee;">Pubic lice</span><br />
                                Symptoms of pubic lice include itchy skin,
                                and black powder (lice droppings) in
                                underwear and white eggs.
                                <span style="color:#eee;">Scabies</span><br />
                                Scabies can occur anywhere on the body,
                                but sometimes the signs are hard to see.
                                Symptoms can appear weeks after first
                                contact and include itching (especially at
                                night), a rash, and tiny spots.
                                <span style="color:#eee;">Thrush</span><br />
                                Symptoms of thrush include intense
                                itching around the penis or vagina, with a
                                thick, white discharge, and the
                                appearance of tiny white spots around the
                                genitals.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone">Treatment of STIs </a>
                            </h4>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse">
                            <div class="panel-body">
                                Seafarers with signs or symptoms of a
                                sexually transmitted disease should cease
                                all sexual activity and seek medical care
                                immediately.
                                The absence of symptoms does not
                                guarantee absence of infection. However,
                                seafarers exposed to unprotected sex
                                should have themselves tested for
                                infection.
                                Most sexually transmitted infections can
                                be cured if they are diagnosed and treated
                                in their early stages.
                                Some sexually transmitted infections
                                (STIs) can be treated using a single dose
                                or a course of antibiotics. These include
                                Chlamydia, gonorrhoea (although some
                                strains are now showing signs of
                                resistance to antibiotics), syphilis and
                                urinary tract infections. However,
                                throughout the world, many of these
                                bacteria are showing increased resistance
                                to penicillin and other antimicrobials.
                                Antiviral drugs may be used to relieve the
                                symptoms of genital herpes, but infection
                                by the virus cannot be cured. Genital
                                warts can be treated although they do
                                eventually heal and disappear without
                                treatment.
                                Many people choose to have genital warts
                                removed, for cosmetic reasons. Caustic
                                agents or liquid nitrogen are used to burn
                                them away, or freeze them.
                                As STIs are easily passed on through
                                sexual contact, it is important that current
                                and past sexual partners are notified and
                                treated, in order to reduce the risk of
                                spreading and re-infection.
                                Below is a basic summary of the treatments
                                that are used to treat the main STIs:<br />
                                • Chlamydia is treated with antibiotics,
                                either using a single dose, or a course
                                for a couple of weeks.<br />
                                • Genital warts are treated by either
                                painting them with a liquid, or freezing
                                them with a spray. However, some
                                people need a number of treatments,
                                and if the warts return, further treatment
                                will be required.<br />
                                • The virus for genital herpes remains in
                                the body as there is no treatment that
                                gets rid of it completely. Antiviral drugs
                                may be used to relieve the symptoms.
                                Self-help measures can reduce
                                symptoms, or prevent outbreaks, for
                                example: avoiding stress, resting,
                                stopping smoking, cutting- down on
                                drinking, and avoiding direct sunlight.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">HIV/AIDS </a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                According to UNAIDS, in 2011 an estimated
                                34 million people were living with HIV
                                worldwide. The vast majority of those are
                                unaware of their status. Two thirds live in
                                sub-Saharan Africa, the most affected
                                region in the world.
                                In 2011, approximately 1.7 million people
                                died of AIDS and 2.5 million people became
                                newly infected.
                                Women make up almost half of the number
                                of people living with the virus. In subSaharan
                                Africa young women aged 15 to
                                24 are up to three times more likely to be
                                infected than boys.
                                Worldwide, less than one in five people at
                                risk have access to prevention services.
                                HIV prevention programmes are failing to
                                reach those at greatest risk. Fewer than
                                50% of young people achieve
                                comprehensive knowledge levels.
                                HIV/AIDS is a maritime issue. Not only
                                because it affects the workforce, but also
                                because ships have a role to play in the
                                wider struggle to limit the spread and
                                effects of the epidemic.
                                On a company level, HIV/AIDS is now a
                                factor that affects managers, workers’
                                representatives and employees in areas
                                most affected. HIV/AIDS also affects
                                human resources management, employee
                                welfare, operations efficiency and
                                customer relations.
                                Untreated employees may cost their
                                company over three times as much as their
                                annual salaries.
                                HIV cannot be transmitted by normal social
                                contact, via insects, via normal skin contact
                                or via toilets.
                                The most important route of infection is
                                without doubt unprotected sexual contact.
                                Several factors increase the chance of
                                transmission after single exposure: <br />
                                • Anal intercourse is more infectious than
                                vaginal.<br />
                                • Men with HIV are more likely to infect
                                women than vice versa.<br />
                                • The presence of other sexually
                                transmitted infections (STIs) increases
                                the risk of HIV transmission during sexual
                                intercourse.
                                The seafarer also runs the risk of HIV
                                infection via infected needles (unnecessary
                                intramuscular injections, intravenous drug
                                use, and also tattooing, acupuncture, ear
                                (or other) piercing, razor blades, etc). An
                                injection should only be accepted if
                                administration by mouth or by suppository
                                is absolutely impossible.
                                The HIV virus is transmitted in the blood
                                and bodily fluids and so infection arises
                                from sexual contact, needle sharing in drug
                                users and from contamination during
                                medical procedures. It is less infectious by
                                these routes than hepatitis B.
                                The infection, apart from sometimes
                                showing mild symptoms, remains latent for
                                a long period. During this time the HIV virus
                                can be detected in the blood as can its
                                effects in terms of damage to white blood
                                cells (C4 lymphocytes). The infected person
                                can transmit infection to others if there is
                                contact with their blood or other body fluids.
                                Untreated, it progresses until the body’s
                                immune mechanisms are damaged enough
                                to allow infection by other micro organisms,
                                for example fungi and/or the TB bacillus.
                                This is called the AIDS stage, and the
                                sufferer is likely to be unwell and death
                                follows from one of these secondary
                                infections.
                                Treatment may delay damage to the
                                immune system and thus prevent
                                secondary infection. The effectiveness of
                                treatment regimes is increasing, but the HIV
                                virus can develop resistance to anti viral
                                agents and for this reason more than one is
                                often used. This can increase the likelihood
                                of side effects and adverse interactions
                                between medications. The incidence of
                                HIV+ status varies markedly between
                                countries and between groups of people
                                depending on their exposure to the risks of
                                sexual, blood borne or mother to child
                                infection.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                    STIs,HIV/AIDS and fitness to work on board
                                </a>
                            </h4>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">

                                <img src="~/background/sss.jpg" /><br />
                                • Safe disposal of waste contaminated
                                with body fluids and blood.</br>
                                • Proper disinfection of instruments and
                                other contaminated equipment.<br />
                                • Proper handling of soiled linen and
                                clothing<br />
                                It is essential to avoid injecting drugs for
                                non-medical purposes, and particularly to
                                avoid any type of needle-sharing in order
                                to reduce the risk of acquiring hepatitis,
                                HIV, syphilis and other infections from
                                contaminated needles and blood.
                                Blood transfusions should be avoided in
                                most developing countries as donors are
                                seldom tested for HIV antibodies. The
                                chance of having a serious accident which
                                would necessitate a blood transfusion is
                                small. There is therefore no point in taking
                                blood or blood products on board (blood
                                needs to be stored at 4°C and only keeps
                                for a few weeks). Companies provide
                                plasma expanders such as crystalloid or
                                macro-molecular solutions.
                                Sexual transmission at sea can be
                                prevented by using the same precautions
                                as used on shore. Most sexually
                                transmitted infections can be avoided to a
                                large extent by practicing safe sex (e.g.
                                using condoms).
                                Reducing the number of partners you
                                have reduces overall risk. Abstinence from
                                sex represents the lowest risk of all.<br />
                                <span style="color:#ff0000">
                                    Accidental exposure to blood or other
                                    body fluids
                                </span>
                                Accidental exposure to blood or other
                                body fluids may occur in health care
                                settings, during natural or man-made
                                disasters, or as a result of accidents or
                                acts of violence. This may lead to infection
                                by blood borne pathogens, particularly
                                hepatitis B and C viruses and HIV. The
                                average risk of seroconversion to HIV
                                after a single percutaneous exposure to
                                HIV-infected blood is 0.3%; the risk for
                                hepatitis C is 3% and for hepatitis B it is
                                10–30%.
                                Accidental exposure to potentially infected
                                blood or other body fluids is a medical
                                emergency. The following measures
                                should be taken without delay.
                                Percutaneous exposure in the case of
                                injury with equipment contaminated with
                                blood or contact of broken skin with blood
                                or other body fluids, allow the wound to
                                bleed freely; wash the wound and
                                surrounding skin immediately with soap
                                and water and rinse. Disinfect the wound
                                and surrounding skin with a suitable
                                disinfectant such as:<br />
                                • povidone iodine 2.5% for 5 minutes.<br />
                                • alcohol 70% for 3 minutes.<br />
                                <span style="color:#ff0000">
                                    Exposure of the eyes or mucous
                                    membranes
                                </span>
                                Rinse the exposed area immediately with
                                an isotonic saline solution for 10 minutes.
                                In the case of contamination of mucosa of
                                the eye, disinfect with chlorhexidine–
                                cetrimide 0.05%, 3 drops given twice at an
                                interval of 10 minutes. If neither saline nor
                                disinfectant is available, use clean water.
                                <span style="color:#ff0000">
                                    In all cases, a physician should be
                                    contacted immediately.
                                </span>
                                Under certain conditions, the use of a
                                combination of antiretroviral drugs is the
                                recommended prophylactic intervention to
                                prevent transmission of HIV after
                                accidental exposure to infected blood or
                                other body fluids. The decision to provide
                                this treatment depends on a number of
                                factors, including the HIV status of the
                                source individual, the nature of the body
                                fluid involved, the severity of exposure
                                and the period between the exposure and
                                the beginning of treatment (which should
                                never be more than 48 hours).
                                Repatriation should be carried out as soon
                                as possible.
                                If HIV and hepatitis B and C testing has
                                been done, subsequent tests will be
                                necessary in six weeks following exposure
                                and six months following exposure.
                                People who test positive at these stages
                                should be offered psychological support.
                                After accidental exposure, the exposed
                                individual should not have unprotected
                                sexual intercourse until six months postexposure
                                tests confirm that s/he is not
                                seropositive. Women should avoid
                                becoming pregnant during this period.

                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    Precautions
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <img src="~/background/sss1.jpg" />
                                <img src="~/background/sss2.jpg" />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    Tips for successful implementation of a
                                    “STI HIV Prevention” campaign

                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse">
                            <div class="panel-body">
                                The ship, where seafarers not only work
                                but spend all their time during a voyage, is
                                the best place for health intervention.
                                Encourage and stimulate the crew
                                members to prevent STIs and practice
                                safe sex. Pay attention to prevention of
                                STIs in meetings, at medical checkups etc.
                                Use a broad approach to inform and
                                motivate the seafarers on board. Offer
                                information and protection. Make
                                protection readily available at no cost.
                                The whole vessel has to be behind the
                                programme: captain and officers have to
                                show their commitment. It is not only a
                                matter of good policy development but
                                also of good policy implementation. It
                                takes time to implement a prevention
                                programme on board. Make sure it gets
                                where it is needed. Behavioural changes
                                take several months and benefits may
                                take even longer to become measurable.
                                Make a systematic plan of what you want
                                to achieve in respect of prevention of STIs
                                on board and over what period of time.
                                Involve key persons and link the plan to a
                                company policy on health.
                                Budget the programme, make sure the
                                activities adopted are evaluated and be
                                prepared to adapt the plan if some
                                initiatives are not as successful as others.
                                Announce the planning and changes,
                                organise an event to celebrate the start of
                                the plan. Make sure the ship has condoms
                                and medication that is easily accessible.
                                Provide information (posters or leaflets) on
                                the prevention of STIs all over the ship.
                                Ask crew members to participate and give
                                comments on the campaign. Fill out
                                questionnaires. Give crew members the
                                possibility to make suggestions on
                                prevention activities.
                                Link prevention of STIs, HIV/AIDS with
                                SHIP topic Safe travel. Provide Fit on
                                board, and other SHIP health initiatives
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                    Where to find advice?
                                </a>
                            </h4>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you would like to have more information
                                on STI, HIV/AIDS and are not able to
                                consult your doctor or a medical clinic,
                                you can contact SeafarerHelp, a free and
                                confidential service provided by the
                                International Seafarers’ Welfare and
                                Assistance Network (ISWAN).
                                SeafarerHelp is available 24 hours a day,
                                7 days a week, 365 days a year, in more
                                than ten languages including Arabic,
                                Chinese, English, Filipino, Hindi and
                                Russian. You can reach SeafarerHelp by
                                telephone, email, fax or SMS.
                                As well as being there for information
                                about health, SeafarerHelp exists to help
                                you with any issues or problems you may
                                want to discuss, about anything from
                                working conditions to family problems.
                                Our trained helpline staff will help you by
                                putting you in touch with the agency which
                                is most likely to be able to help you.
                                Ring SeafarerHelp free (landlines only) on
                                the numbers overleaf.
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <img src="~/background/travel/logo.jpg" />
        </div>
    </div>
</body>

