
@{
    ViewBag.Title = "Foodsafetyonboard";
}


<link href="~/link/css/static.css" rel="stylesheet" />
<style>
    .pi {
        padding: 10px;
        width: 100%;
    }
</style>
<body>

    <div class="row">
        <div class="head_title">
            <h2 class="ta">Food safety on board</h2>
        </div>

        <div class="card backk">
            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Introduction</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <img src="~/background/food.jpg" class="pi" />

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Receiving Provisions
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                It is important to use reputable suppliers but basic control
                                measures should be taken before storing supplies to
                                check if the food is fi t for consumption, with a suitable
                                shelf life compatible with the vessel’s trading pattern.
                                Since stores are often delivered “Free Alongside Ship”,
                                this control has to take place before storing them on
                                board.
                                A simple check list should be used covering expiry dates,
                                condition of the packages, and temperatures of chilled
                                and frozen goods.
                                Do not accept damaged packages or rusted tins. Chilled
                                goods with a temperature above 7°C have to be refused.
                                Some goods like egg products (4°c), minced meat (2°c),
                                and fresh fi sh (0-2 ° c) have to be delivered at a specifi c
                                temperature that should be checked. The temperature
                                of frozen goods should be -18°c or less. Ice crystals on
                                frozen packages suggest improper storing arrangements
                                prior to delivery.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Stock Control  </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Ships should have adequate storerooms including dry and
                                cold storerooms and freezers. If storing capacity is limited,
                                stock should be reduced and stores taken more frequently.
                                Food should not be stored on deck.
                                Store in a way that commodities are used in strict date
                                rotation (First in = First out). Especially perishable food
                                should not be ordered nor accepted in quantities that
                                cannot be consumed before the expiry date. Frozen foods
                                maintained in hard frozen condition may be consumed
                                beyond the date marking.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone">Deep Freezers</a>
                            </h4>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse">
                            <div class="panel-body">
                                Temperature in freezers should be maintained at -18˚C at
                                least, but some tolerance levels should be allowed to take
                                account of equipment. It is unlikely that short periods of
                                -15˚C will affect the quality and safety of frozen food.
                                Regular maintenance has to include checks on door
                                seals, isolation of the doors, defrosting and checks on the
                                correct functioning of thermometers.
                                Every time you enter the freezer room, the holding
                                temperature is affected. Organise requirements to ensure
                                access is kept to a minimum. Always close the door
                                immediately on exit.
                                Do not put food on the deck, use grids. Never put food in
                                the direct line of the cooling unit fan as this restricts air
                                circulation and can lead to freezer burn.<br />
                                Safety in Storerooms<br />
                                <div class="" style="border:1px solid #adacac; padding:8px;">
                                    ● Avoid the use of meat hooks<br />
                                    ● Wear gloves, safety shoes and warm clothes
                                    in the deep freezer<br />
                                    ● Defrost the deep freezer before cleaning it
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">Cold Stores</a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Keep temperatures constant so far as possible to avoid
                                humidity: 5˚C is recommended, although a tolerance of up
                                to 8˚C is acceptable.
                                A separate fridge should be used if possible for raw food.
                                All items should be individually wrapped or covered. If raw
                                and cooked foods are contained in the same cabinet, then
                                raw food should be stored at the bottom to avoid contaminating
                                the cooked food.
                                Although fruit and vegetables have different temperature
                                requirements it is generally accepted that “cool” rooms or
                                cabinets up to 10˚C provide a satisfactory alternative.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                    Proper Storage Techniques
                                    for Fresh Produce
                                </a>
                            </h4>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Promptly put away fresh fruits and vegetables that need
                                refrigeration.
                                The following are the different condition requirements
                                for keeping fresh fruits and vegetables at their optimum
                                freshness :<br />
                                ● Only in the Refrigerator, Never at Room
                                Temperature to Avoid Spoilage: apples,
                                artichokes, asparagus, beans, beets,
                                blueberries, broccoli, brussel sprouts, cabbage,
                                Belgian endive, carrots, caulifl ower,
                                celery, cherries, sweet corn, cranberries,
                                cucumbers, eggplant, ginger root, grapes,
                                fresh herbs, leeks, lettuce and other greens,
                                mushrooms, green onions, parsnips, peas,
                                peppers, pineapple, new potatoes, radishes,
                                raspberries, rhubarb, strawberries, squash,
                                citrus fruit, turnips.<br />
                                ● At Room Temperature until Ripe and then
                                in the Refrigerator: apricots, avocados,
                                kiwifruit, mangoes, melons, nectarines,
                                papaya, peaches, pears, plums, tomatoes.<br />
                                ● Only at Room Temperature and preferably
                                not in the Refrigerator: bananas, garlic,
                                globe onions, mature potatoes, pumpkins,
                                rutabagas, sweet potatoes.<br />
                                Keep fruit and vegetables well ventilated and stored in
                                suitable boxes or containers. Plastic bags should be
                                discarded as this material does not generally allow for
                                proper ventilation, causing sweating to occur. Inspect
                                every day and remove spoiled items, leaves etc.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    Dry Stores
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Use a register to keep track of dry stores. Check for the
                                presence of pests or vermin. Check fl our and rice for the
                                presence of insects. Remove blown tins.
                                Dry stores should be cool, around 10°C, dry, well lit and
                                ventilated.
                                Do not put stores directly on the deck and not against the
                                walls. Clean the dry store regularly and remove waste
                                immediately.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    Bacterial Contamination
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Food poisoning bacteria are found on people, insects,
                                rodents, refuse and waste food, even dust ; but thorough
                                cooking will destroy most harmful bacteria.
                                Harmful bacteria will multiply rapidly if food is incorrectly
                                prepared and stored. Even if it is correctly prepared or
                                stored it can be cross-contaminated from raw food by
                                using the same utensils for instance.
                                High risk products, frequently associated with food
                                poisoning should be carefully stored and protected from
                                contamination. These products are generally high protein,
                                ready to eat foods including cooked meats, poultry and
                                raw or cooked fi sh, gravy and stock, milk, cream and eggs
                                and any associated by-product.
                                Food should be covered to prevent cross-contamination.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                    Main reasons for
                                    food poisoning are :
                                </a>
                            </h4>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse">
                            <div class="panel-body">
                                1. Undercooking - Ensure that food is thoroughly
                                cooked ! - e.g. juices from poultry and joints of
                                meat should run clear !<br />
                                2. Unsafe temperatures to keep prepared food.<br />
                                3. Preparation of food to far in advance and stored
                                at room temperature.<br />
                                4. Cooling food too slowly before refrigeration.<br />
                                5. Unsafe temperature in refrigerator and freezer.<br />
                                6. Bad way to keep food in the refrigerator :<br />
                                uncovered raw food, raw food together with
                                or above prepared dishes.<br />
                                7. Unsafe temperature to keep hot food
                                (below 63°Celsius).<br />
                                8. Bad personal hygiene.<br />
                                9. Dirty counters, cutting boards, knifes and small
                                appliances.<br />
                                10. Dirty dishes and utensils.<br />
                                11. Infected food handlers with infectious diseases,
                                wounds, ulcers or diarrhoea.<br />
                                12. Defrost at room temperature or in warm water.<br />
                                13. Bad control and hygiene on pests and vermin.<br />
                                14. Bad disposal of waste.<br />
                                15. Cleaning products, detergents and other
                                chemicals stored near food.<br />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                    Personal Hygiene
                                </a>
                            </h4>
                        </div>
                        <div id="collapseseven" class="panel-collapse collapse">
                            <div class="panel-body">
                                At one time or another, most people carry some type of
                                food poisoning organisms. Catering crew must therefore
                                take extreme care with personal cleanliness to avoid
                                contaminating food.
                                Hands must be kept clean and washed, especially
                                <div class="" style="border:1px solid #eee; padding:7px;">

                                    ● After using the toilet<br />
                                    ● After handling raw meat<br />
                                    ● Before handling prepared food
                                </div>
                                There must be suffi cient wash-hand basins with soap and
                                hand drying facility. Disposable towels or a hot air dryer
                                is better than a traditional towel. If protective gloves are
                                used, they should be replaced in much the same order as
                                the hand washing routine.
                                <div class="" style="border:1px solid #eee; padding:7px;">
                                    ● Keep hair covered<br />
                                    ● Keep fi nger nails short<br />
                                    ● Wear clean clothes and apron
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseight">
                                    Fitness to work
                                </a>
                            </h4>
                        </div>
                        <div id="collapseight" class="panel-collapse collapse">
                            <div class="panel-body">
                                Persons suspected of, diagnosed with, or exposed to any
                                that can be transmitted by food, shall be excluded from
                                the galley and other associated catering areas or food
                                related areas or operations, including working with exposed
                                food, warewashing, equipment, utensils, table linens,
                                singleservice and single-use articles.
                                Persons who have conditions or symptoms of boils, open
                                sores, infected wounds, diarrhoea, jaundice, fever,
                                vomiting, sore throat with fever, or discharges from the
                                nose or mouth shall report these conditions or symptoms
                                and shall be restricted from working with exposed food,
                                warewashing, clean equipment, utensils, table linens, and
                                unwrapped single-service and single-use articles.
                                Persons experiencing persistent sneezing, coughing, or a
                                runny nose that causes discharges from the eyes, nose,
                                or mouth may not work with exposed food, warewashing
                                clean equipment, utensils, and table linens; or unwrapped
                                singleservice or single-use articles.
                                The restricted individuals shall not be allowed to return to
                                the above duties until they are symptom free for
                                a minimum of 48 hours.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsenine">
                                    Separate raw and cooked food !
                                </a>
                            </h4>
                        </div>
                        <div id="collapsenine" class="panel-collapse collapse">
                            <div class="panel-body">
                                Raw food can cross-contaminate cooked food or food that
                                does not require further treatment before consumption,
                                and cause foodborne illness. Keep raw and cooked food
                                separate and covered.
                                Separate work surfaces, chopping boards and utensils
                                should be set aside for the preparation of raw meat and
                                must not be used for the preparation of foods that will
                                be eaten without further cooking. Using the same work
                                surface must be discouraged but in the unlikely event that
                                the same work surface has to be used, great care must
                                be taken to ensure it is cleaned and disinfected between
                                handling raw and cooked meats or other ready to eat
                                products.
                                Have clean plates and cooking utensils ready.
                                Never use the same plate, tray or utensils for raw and
                                cooked food. Raw meat juices can spread bacteria to your
                                safely cooked food and cause foodborne illness !
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseaa">
                                    Use of eggs
                                </a>
                            </h4>
                        </div>
                        <div id="collapseaa" class="panel-collapse collapse">
                            <div class="panel-body">
                                If raw eggs are used take the following precautions :
                                <div class="" style="border:1px solid #eee; padding:7px;">
                                    ● The eggs have to be as fresh as possible : check the
                                    dates on the package.<br />
                                    ● After the expiry date the eggs have to be destroyed.<br />
                                    ● After breaking the eggs the shells have to be
                                    removed immediately, the surface cleaned and
                                    disinfected.<br />
                                    ● After handling eggs and egg shells hands have
                                    to be washed.<br />
                                    ● Broken eggs that are not used immediately have to
                                    be placed in the refrigerator, covered and must be
                                    used within 48 hours.<br />
                                    ● Preparations with raw egg like mayonnaise,
                                    chocolate mousse and tiramisu must be cooled
                                    immediately after preparation.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsebb">
                                    Cleaning and Disinfection
                                </a>
                            </h4>
                        </div>
                        <div id="collapsebb" class="panel-collapse collapse">
                            <div class="panel-body">
                                Clean the pantry regularly, with hot water and soap,
                                keeping food off the deck. Store food in sealed containers.
                                Thoroughly clean and disinfect containers and utensils
                                that were in contact with raw food before you reuse them.
                                Especially articles that come into direct contact with food
                                have to be washed, rinsed with hot water and disinfected
                                before use. Articles include: trays, knives, cutting boards,
                                food preparation machinery and work tops. A cleaning procedure
                                is useful as it clarifi es who cleans what, when, with
                                which cleaning products and how. Take small appliances
                                apart (food processors, meat grinders and blenders) right
                                after you use them, and clean and disinfect them thoroughly.
                                Only use accepted detergents.
                                Ventilation hoods and grease fi lters should be cleaned
                                regularly. Refrigerators, deep freezers, deck heads and
                                neon covers should not be forgotten.
                                <strong> Bleach sanitizer</strong><br />
                                ● Combine 5 ml (1 tsp) of bleach with 750 ml (3 cups)
                                of water in a labelled spray bottle.<br />
                                ● After cleaning, spray sanitizer on the surface/utensil
                                and let stand briefly.<br />
                                ● Rinse with lots of clean water, and air dry (or use
                                clean towels).<br />
                                Cleaning and disinfecting products have to be kept in a
                                separate well maintained place.
                                Good housekeeping should help to discourage pest and
                                vermin. Routine inspections should be carried out.
                                If problems arise, actions should be carried out according
                                to a logical plan with pest control and monitoring procedures.
                                Chemical pesticides have to be kept separately and
                                well-locked.
                                Places where wastewater is collected have to be cleaned
                                and disinfected regularly.
                                Air dry dishes and utensils if you can, or dry them with
                                clean kitchen towels.
                                <strong>Deep frying pan</strong>
                                <div class="" style="border:1px solid #eee; padding:7px;">
                                    The temperature of oil or fat in the deep frying pans
                                    has to be controlled. A thermostat on the pan is a
                                    necessity. The thermostat has to indicate the desired
                                    temperature and regularly this temperature has to be
                                    checked with a portable thermometer.
                                    The temperature of oil or fat may never go above
                                    180°C and oil or fat have to be replaced regularly.
                                </div>
                                <strong>Buffets</strong>
                                At room temperature harmful bacteria will grow quite
                                quickly. Food normally associated with buffets (apart from
                                low risk food such as bread rolls for example) should not
                                therefore be exposed to temperatures in the "Danger
                                Zone"
                                Units and equipment must be able to maintain safe
                                temperatures. Containers should not be "topped up"
                                <div class="" style="border:1px solid #eee; padding:7px;">
                                    •  food 63'C or above;<br />
                                    • cold food 5'C or less<br />

                                </div>
                                with further food. Replacement containers with a batch
                                of fresh food should be provided.
                                <strong>Leftovers</strong>
                                Proper portion management should reduce the amount of
                                "leftover" food. However in the event of having leftovers
                                certain standards must be applied.
                                <div class="" style="border:1px solid #eee; padding:7px;">
                                    • Hot cooked meats should be cooled as quickly as
                                    possible in a clean controlled environment then
                                    refrigerated.<br />
                                    • Dividing a large portion helps the cooling process.<br />
                                    • Warm food must not be refrigerated as it will
                                    increase the fridge temperature .<br />
                                    • Once chilled, leftovers should be served cold the
                                    following day.
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <img src="~/background/travel/logo.jpg" />
        </div>
    </div>
</body>

