
@{
    ViewBag.Title = "Maintainingmentalwellbeing";
}



<link href="~/link/css/static.css" rel="stylesheet" />
<style>
</style>
<body>

    <div class="row">
        <div class="head_title">
            <h2 class="ta"> Maintaining mental well being</h2>
        </div>

        <div class="col-md-12 card backk">
            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Introduction</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                The International Seafarers’ Welfare and Assistance Network,
                                are aware of the importance of lifestyle on the health of seafarers,
                                is launching“MENTAL CARE”as one of the topics in the Seafarers Health Information Programme
                                Although psychological problems are very common among seafarers, the mental health of sea arefarers has only comparatively recently started to receive the attention it deserver
                                The mental state is part of the human condition. Disease
                                and medical involvement are only relevant at the ex-tremes.Many of the remedies for minor  problems are in the problems are in the
                                hand of those who create the conditions under which seafarers work and live.Colleagues and  friends are often
                                able to form an impression of a person’s mental state
                                much more easily than a doctor. Seafarers can therefore help each other in that way.
                                True mental illness occurs independently of any physical ailment Normally a difference in hebaviour can be seen ranging from just slightly
                                unusual to completely abnormal.This can very between mild anxiety attacks to depression

                                disruptive thinking or aggressive behaviour.Even more tragically , it can lead to Suicide.

                                Sometimes seafarers are exposed to harassment and bullying
                                onboard ship, even in some cases, involving extreme
                                physical violence.
                                Alcohol or drugs infl uence behaviour and emotions. People
                                under their infl uence react differently, cannot focus and
                                concentrate and are not able to perform complex tasks
                                adequately, which may pose safety risks onboard.
                                Whatever the cause, mental illness must be taken extremely
                                seriously, both to protect individual seafarers and also
                                their fellow crewmembers.
                                Having a useful job as member of a mutually supportive
                                team can be one of the best protections against mental
                                health problems.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Risks for Seafarers
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                It is not clear what the main causes for an increase in the
                                number and severity of psychological diffi culties in seafarers
                                are, but there are numerous possible factors that
                                increase the risk:<br />
                                Labour intensifi cation, risk of both mental and physical
                                overwork<br />
                                Manning levels, and related issues: the qualifi cations
                                and experience of crew members<br />
                                Increasing monotony of working and living onboard
                                modern ships leading to boredom and social isolation
                                Fatigue, which slows down a seafarer’s reaction time
                                and reduces their ability to make decisions<br />
                                Stress due to worrying about the consequences of making
                                a mistake<br />
                                Stress due to being away from home for long periods of
                                time<br />
                                Family pressure to remain at sea longer in order to earn
                                more money and continue sending funds home<br />
                                Severity of the environmental conditions; the dangers of
                                being at sea<br />
                                Automation, the complexity of systems and related
                                issues of control, reliability, training, and alarm management
                                The fear of criminalisation<br />
                                Shift patterns of work and disruptions to that system in
                                ports e.g. , including the restrictions on shore leave by
                                authorities<br />
                                The quality of rest periods both in relation to environmental
                                conditions like noise, vibrations and movements
                                of the ship; and adequate time for uninterrupted rest
                                The pressure of more frequent inspections and administrative
                                tasks<br />
                                Greater commercial pressure from ashore
                                Fast turnaround times in port and fewer opportunities
                                to de-stress, e.g. going ashore, or leisure activities
                                onboard<br />
                                Reduced common language and/or culture: due to
                                multinational crews with reduced ability to communicate
                                with each other in a meaningful way<br />
                                Familiarity with working together: knowing colleagues,
                                their practices, communication and habits is important
                                to increase the quality of work<br />
                                Increased use of multinational crews and the dispersion
                                of recruitment has brought an end to tried and tested
                                forms of solidarity and sociability<br />
                                All these factors affect seafarers’ mental and physical
                                well-being and reinforce isolation, fatigue, depression and
                                stress.
                                Although the link between some of the above factors and
                                mental health is still speculative and needs to be backed
                                up by more research and evidence, it is obvious that risk
                                factors for mental problems are prominently present in the
                                maritime working environment as follows:
                                Reduced performance<br />
                                Risk to the individual<br />
                                Risk to colleagues<br />
                                Risk to vessels and cargo<br />
                                The need for help and support, which puts strain on the
                                rest of the crew<br />
                                Anti social behaviour causing tensions<br />
                                Feelings of persecution or hopelessness, which can
                                make any form of interpersonal contact difficult.<br />
                                <strong>Monotony</strong> <br />
                                There are many examples of tasks in the modern world
                                that rely crucially on a person’s ability to maintain their focus
                                of attention over long periods of time. Indeed, on board
                                ship, the increasing trend to automate the work environment
                                has resulted in jobs shifting away from active to more
                                supervisory roles<br />
                                In the following watch keeping tasks, any lack of vigilance
                                may lead to mistakes.<br />
                                Factors that have been proven to infl uence performance
                                during watch keeping are:<br />
                                Time of day: many accidents where workload is an issue,
                                tend to occur early in the morning<br />
                                Shift handovers: many accidents occur at the beginning
                                or end of a shift, when a seafarer is either trying
                                to assess and absorb the current situation or may be
                                preparing to hand over, distracted by thoughts of fi -
                                nishing the shift. In either case, the seafarer not be fully
                                concentrating on the task<br />
                                The number of persons on watch: many accidents
                                tend to occur when a seafarer is on watch alone<br />
                                The technology used: many vessels now have numerous
                                automated systems. Seafarers can become
                                over-reliant on these aids, and thus less vigilant, or
                                may not use the navigational aids at all, preferring to
                                navigate by visual references, or they may not fully
                                understand how to use the aids.<br />
                                Environment: the environment around the seafarer
                                on watch can infl uence performance. For example, if
                                the seafarer can conduct all tasks whilst sitting down, it
                                can make them less vigilant, and reduce their ability to
                                switch between low and high cognitive workloads.
                                <br />
                                <strong>Performance</strong>  <br />
                                One of the fi rst negative effects of mental problems may be
                                seen in a seafarer’s performance in their job. By the same
                                token, the factors that lead to reduced performance are
                                stressors that may lead to mental overload and consequently
                                psychological or mental problems. Some of these
                                risk factors for mental health are:<br />
                                Quality of automated systems: e.g. easy to use,
                                reliable, well designed and useful. As the quality of the
                                bridge automation increases, mental load is likely to
                                decrease.<br />
                                Load due to task characteristics: the mental demands
                                experienced by the individual due to the nature
                                and diffi culty of tasks such as navigation and watch
                                keeping.<br />
                                Severity of the perceived consequences of making
                                a mistake: this involves not only the immediate but the
                                commercial consequences of making a mistake..<br />
                                Manning levels: suffi cient qualifi ed and/or experienced
                                crew members available for tasks that need to be
                                performed. As the required number of qualifi ed and/or
                                experienced crew members increases, individual mental
                                load is likely to decrease.<br />
                                Fatigue: affects the seafarer’s mental capacity and can
                                slow reaction times, ability to process information, etc..
                                As feelings of fatigue increase, so too will feelings of
                                mental load..<br />
                                Load due to concurrent task demands: (i.e. other
                                tasks that may have to be performed by the seafarer,
                                in conjunction with his/her primary tasks): these can include
                                administrative tasks, monitoring onboard operations,
                                monitoring nearby traffi c or personal tasks. If there
                                are too many concurrent tasks, the mental load is likely
                                to increase.<br />
                                Quality of crew competence: the level of training,
                                experience, morale, degree of communication, etc. of
                                the crew. If the quality of crew competence is good, the
                                mental load on individual seafarers is likely to decrease.<br />
                                Dealing with contingencies: such as a systems or
                                parts failure. As the number or seriousness of situations
                                increases, mental load may also increase.<br />
                                Severity of environmental conditions: the level of
                                natural light, the weather conditions and degree of
                                visibility. As the severity of the environmental conditions
                                increases, mental load is also likely to increase as the
                                individual tries to deal with and compensate for these
                                conditions.<br />
                                Number of distractions: from sources such as unnecessary
                                telephone or radio transmissions, other crew
                                members and personal problems. As the number of
                                distractions increases, the mental load is more likely to
                                increase.<br />
                                Degree of individual experience: a seafarer must feel
                                capable of dealing with the tasks he/she is responsible
                                for.

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Stress</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Job stress can be defi ned as the harmful physical and
                                emotional responses that occur when the requirements of
                                the job do not match the capabilities, resources, or needs
                                of the worker.
                                Job stress can lead to poor health and injury.
                                Cumulative stress may be caused by being away from
                                home for extended periods of time; the stress of being on
                                board the vessel in prolonged adverse weather conditions;
                                as well as the stress of the job itself, etc.
                                As this stress accumulates, the seafarer may fi nd it more
                                diffi cult to get adequate or quality rest which can lead to an
                                increase in fatigue.
                                The signs of job stress vary from person to person, depending
                                on the particular situation, how long the seafarer
                                has been subjected to the stressors, and the intensity of
                                the stress itself.<br />
                                Typical symptoms of job stress can be:<br />
                                insomnia<br />
                                loss of mental concentration<br />
                                anxiety<br />
                                substance abuse<br />
                                extreme anger and frustration<br />
                                family conflict<br />
                                physical illnesses such as heart disease, migraine,
                                headaches, stomach problems, and back problems.<br />
                                Six key areas (or ‘risk factors’) that can be causes of work
                                related stress on board. These are:<br />
                                the demands of the job.<br />
                                the level of control a seafarer has over their work.<br />
                                the support received from management and colleagues.<br />
                                relationships at work.<br />
                                the seafarer’s role in the organisation.<br />
                                change and how it’s managed.<br />
                                When under severe stress, a seafarer fails to take clear-cut
                                decisions, reevaluate and reassess priorities and lifestyles,
                                and ultimately, tends to fall into unproductive distractions.
                                This can be described as a classic case of ‘burnout’.<br />
                                Chronic Responsibility Syndrome is a kind of burnout
                                where people get mentally and physically exhausted from
                                their workload. The symptom is often described as “there’s
                                simply too much work to do, and no one else can do it but
                                me”. Typically it will occur in hard working, hard driven people,
                                who become emotionally, psychologically or physically
                                exhausted.<br />
                                People are at risk of burnout where:<br />
                                they fi nd it diffi cult to say ‘no’ to additional commitments
                                or responsibilities<br />
                                they have been under intense and sustained pressure
                                for some time<br />
                                their high standards make it diffi cult to delegate
                                they have been trying to achieve too much for too long
                                they have been giving too much emotional support for
                                too long<br />
                                Often burnout will manifest itself in a reduction in motivation,
                                volume and quality of performance, or in dissatisfaction
                                with or departure from the activity altogether.<br />
                                Possible solutions for job related stress are:<br />
                                to identify stressors in life, such as work, or family<br />
                                to get adequate sleep and rest to maintain energy levels<br />
                                to eat a healthy, balanced diet with a limited intake of
                                caffeine and alcohol<br />
                                to develop alternative activities such as a relaxing
                                hobby<br />
                                to take support and advice from friends and family<br />
                                to consider meditation or gym, aerobics or sports to
                                switch focus, and to reorganize priorities<br />
                                In late stages of burnout, where the seafarer may be feeling
                                deeply de-motivated and disenchanted with their job or
                                life, help should be sought from a good psychologist.<br />
                                Some long-term tips for seafarers to survive stress:<br />
                                Even in a safe and secure working life, changing with
                                the times makes a position more secure. In today’s
                                maritime industry, seafarers need to be continually
                                prepared for changes to avoid stress and survive in the
                                competitive world. Complacency should be avoided and
                                the seafarer should be prepared for any change physically,
                                emotionally and fi nancially.<br />
                                This is also is part of a vision where stress is not always
                                seen as distress and demands are considered as challenges
                                and opportunities, instead of threats and taxing
                                experiences.<br />
                                Whatever time is necessary to refresh, re-energize and
                                re-motivate should be found and protected. Quality time
                                should be spent with the family when the seafarer is at
                                home. This can be an excellent source of emotional and
                                moral support.<br />
                                Alcohol, smoking and other substance abuse should be
                                avoided while under constant stress.<br />
                                Positive attitudes towards stressful situations in life
                                should be fostered. Negative mental traits such as fear,
                                anger and revenge, which actually cause stress should
                                be given up.<br />
                                In case of chronic stress, a health professional should
                                be consulted.<br />
                                Workplace stress can be reduced by celebrating achievements<br />
                                Collective coping with work stress<br />
                                Coactive coping occurs when members of a group or
                                work use similar individual ways of coping due to social
                                pressure, shared perceptions or beliefs, or imitation strategies.
                                In seafarers the identifi cation with the job is strong
                                and this may lead to such coactive reaction.
                                Collective coping occurs when a group initiates actions to
                                prevent, eliminate or reduce stressful situations, to interpret
                                the situation in a more positive way or to alleviate its negative
                                effects and consequences.
                                Leaders not only infl uence stress and the health of their
                                subordinates, but also the workplace as a whole. Shared
                                emotions and coping are directly infl uenced by leadership.
                                All these processes have both direct and indirect effects on
                                the mental health of subordinates, individually or collectively.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone">Harassment and bullying onboard ships</a>
                            </h4>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse">
                            <div class="panel-body">
                                Harassment is deemed to be a form of discrimination when
                                unwanted conduct takes place which has the purpose or
                                effect of violating the dignity of a person and of creating
                                an intimidating, hostile, degrading, humiliating or offensive
                                environment.
                                No seafarer should be harassed or bullied. All seafarers
                                have a responsibility for ensuring that their ships are free of
                                harassment and bullying.
                                Examples of harassing behaviour include:<br />
                                offensive physical contact, derogatory language or
                                intimidating actions;<br />
                                insulting or threatening gestures or language (overt or
                                implied) or continual and unwarranted shouting;<br />
                                unjustifi ed and unnecessary comments about a
                                seafarer’s work or capacity for work;<br />
                                openly displayed pictures, posters, graffi ti or written
                                materials which might be offensive to some;<br />
                                phone calls or messages on electronic mail or computer
                                networks which are threatening, abusive or offensive to
                                colleagues;<br />
                                persistent following or stalking; and<br />
                                disparaging remarks about malingering to seafarers
                                who have made a claim for compensation.<br />
                                Bullying is also harassment and is used to describe a
                                threatening or intimidating work environment in which a
                                group of people or an individual may become fearful or
                                intimidated because of the negative or hostile behaviour of
                                another group of people or individual.
                                Bullying often involves a misuse of power or position and
                                is often persistent and unpredictable. It may be vindictive,
                                cruel or malicious. However it can also arise when a person
                                is unaware of the effect that their behaviour is having
                                on other people or when they do not intend to bully
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">Anxiety</a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                It’s normal to worry and feel tense or scared when under
                                pressure or facing a stressful situation. Anxiety is the
                                body’s natural response to danger, an automatic alarm that
                                goes off when we feel threatened.
                                Although unpleasant, anxiety isn’t always a bad thing. Anxiety
                                can help an individual to stay alert and focused, act as
                                a spur to action, and motivate him/her to solve problems.
                                However, when anxiety is constant or overwhelming, when
                                it interferes with relationships and activities the line from
                                normal anxiety into the territory of anxiety disorders has
                                been crossed.
                                An anxious person is usually aware of his state of mind, but
                                the situation may have got out of control; they may fi nd it
                                diffi cult to sleep and may have lost their appetite.
                                Anxiety disorders are a group of related conditions rather
                                than a single disorder, but despite their different forms, all
                                anxiety disorders share one major symptom: persistent
                                or severe fear or worry in situations where most people
                                wouldn’t feel threatened.
                                In addition to the primary symptoms of irrational and excessive
                                fear and worry, other common emotional symptoms of
                                anxiety include:<br />
                                Trouble concentrating<br />
                                Feeling tense and jumpy<br />
                                Anticipating the worst<br />
                                Irritability<br />
                                Restlessness<br />
                                Watching for signs of danger<br />
                                Feeling like the mind’s gone blank<br />
                                Anxiety is more than just a feeling. As a product of the
                                body’s fi ght-or-fl ight response, anxiety involves a wide
                                range of physical symptoms. Because of the numerous
                                physical symptoms, anxiety sufferers often mistake their
                                disorder for a medical illness. They may visit many doctors
                                and make numerous trips to the hospital before their anxiety
                                disorder is discovered.<br />
                                Common physical symptoms of anxiety include:<br />
                                Pounding heart<br />
                                Sweating<br />
                                Stomach upset or dizziness<br />
                                Frequent urination or diarrhoea<br />
                                Shortness of breath<br />
                                Tremors and twitches<br />
                                Muscle tension<br />
                                Headaches<br />
                                Fatigue<br />
                                Insomnia<br />
                                Many people with anxiety disorders also suffer from
                                depression at some point. Anxiety and depression are
                                believed to stem from the same biological vulnerability,
                                which may explain why they so often go hand in hand.
                                Since depression makes anxiety worse (and vice versa),
                                it’s important to seek treatment for both conditions.
                                Anxiety attacks, or panic attacks, are episodes of intense
                                panic or fear. Anxiety attacks usually occur suddenly and
                                without warning. Sometimes there’s an obvious trigger, but
                                in other cases, the attacks come out of the blue.
                                Anxiety attacks usually peak within ten minutes, and they
                                rarely last more than half an hour, but during that short
                                time, the terror can be so severe that the individual feels as
                                if they are going to die or totally lose control. The physical
                                symptoms are themselves so frightening that many believe
                                they are going to have a heart attack. After an anxiety
                                attack is over, the individual may be worried about having
                                another one, particularly in a public place where help isn’t
                                available or escape not easy.
                                Symptoms of an anxiety attack include:<br />
                                Surge of overwhelming panic<br />
                                Feeling of losing control or going crazy<br />
                                Heart palpitations or chest pain<br />
                                Feeling faint<br />
                                Trouble breathing or choking sensation<br />
                                Hyperventilation<br />
                                Hot fl ashes or chills<br />
                                Trembling or shaking<br />
                                Nausea or stomach cramps<br />
                                Feeling detached or unreal<br />
                                There are six major types of anxiety disorders:<br />
                                Generalized anxiety disorder (GAD)<br />
                                People with GAD are chronic worriers who feel anxious
                                nearly all of the time, though they may not even know why.
                                Often physical symptoms like insomnia, stomach upset,
                                restlessness, and fatigue are evident.<br />
                                Obsessive-compulsive disorder<br />
                                Unwanted thoughts or behaviours that seem impossible to
                                stop or control. Obsessions, such as a recurring worry or
                                uncontrollable compulsions, such as repeated handwashing.<br />
                                Panic disorder<br />
                                Repeated, unexpected panic attacks, as well as the fear
                                of experiencing them. Panic disorder may also be accompanied
                                by agoraphobia, which is a fear of being in places
                                where escape or help would be diffi cult in the event of a
                                panic attack. An individual suffering from agoraphobia,
                                is likely to avoid public places such as shopping malls or
                                confi ned spaces such as an airplane.<br />
                                Phobia<br />
                                An unrealistic or exaggerated fear of a specifi c object, activity,
                                or situation that in reality presents little or no danger.
                                Common phobias include fear of animals such as snakes
                                and spiders, fear of fl ying, and fear of heights.<br />
                                Post-traumatic stress disorder<br />
                                An anxiety disorder that can occur in the aftermath of a
                                traumatic or life-threatening event. Symptoms of PTSD
                                include fl ashbacks or nightmares about what happened,
                                hypervigilance, startling easily, withdrawing from others,
                                and avoiding situations that bring back memories of the
                                event.<br />
                                Social anxiety disorder<br />
                                A debilitating fear of being seen negatively by others and
                                humiliated in public, also known as social phobia. Social
                                anxiety disorder can be thought of as extreme shyness.
                                In severe cases, social situations are avoided altogether.
                                Performance anxiety (better known as stage fright) is the
                                most common type of social phobia.
                                Not everyone who worries a lot has an anxiety disorder. A
                                seafarer may be anxious because of an overly demanding
                                schedule, lack of exercise or sleep, pressure at home or
                                work, or even from too much coffee.
                                Encouraging the seafarer to share their problems can
                                help enormously. It is important to listen sympathetically
                                to what they have to say, but also to remain objective and
                                apply common sense.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                    Depression
                                </a>
                            </h4>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Depression can be considered in two forms. The fi rst has
                                an obvious cause, such as the death of a close friend and
                                is called situational depression. It is a normal reaction to
                                events around us. However, clinical depression overwhelms
                                and engulfs day to day life, interfering with ability
                                to work, study, eat, sleep, and have fun. It is unrelenting,
                                with little if any relief.
                                The seafarer may be emotionally up one day and down
                                the next to the extent of being morose and even sullen.
                                It may be diffi cult to get a clear story from a depressed
                                seafarer because they simply want to be left alone.
                                Very depressed people may commit suicide and it is
                                therefore essential to recognize those at risk so that
                                correct precautionary measures can be taken. A natural
                                progression of questioning about the patient’s general
                                feelings might establish whether suïcide has been contemplated.

                                Symptoms include:<br />
                                depressed mood<br />
                                loss of interest or pleasure<br />
                                feelings of much sadness, or little to no emotion<br />
                                less interest in things that are normally fun<br />
                                changing appetite (eating less, or, less commonly,
                                eating more) and weight fl uctuation<br />
                                sleeping less or, in some cases, sleeping more<br />
                                fatigue (feeling tired) of mind and body<br />
                                feelings of guilt, helplessness, anxiety, and/or fear,
                                often with little or no reason<br />
                                lowered self-esteem<br />
                                thinking about death or suicide (and an increased risk
                                of committing suicide)<br />
                                drug or alcohol use<br />
                                Depression is a loaded word in our culture. Many associate
                                it, however wrongly, with a sign of weakness and
                                excessive emotion.
                                This is especially true with men. Depressed men are less
                                likely than women to acknowledge feelings of self-loathing
                                and hopelessness.
                                Depression in men is very often expressed in more “socially
                                acceptable” forms. Anger, aggression, reckless behaviour
                                and violence, along with substance abuse, can be
                                signs of an underlying depression. Even though depression
                                rates for women are twice as high as those in men,
                                men have a higher suicide risk, especially older men.
                                Depression is a major risk factor for suicide. The deep
                                despair and hopelessness that go along with depression
                                can make suicide feel like the only way to make the pain
                                go away.
                                Suicidal individuals often give warning signs or signals of
                                their intentions. The best way to prevent suicide is to know
                                and watch for these warning signs and to get involved if
                                they are spotted. If a friend or family member is suicidal,
                                play a role in suicide prevention by pointing out the alternatives,
                                showing care, and getting a professional involved.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    Fatigue

                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Fatigue can infl uence performance, and, certainly when
                                combined with high or low workloads, lead to an accident.
                                A combination of minimum manning, rapid turnarounds
                                and short sea passages, adverse weather and traffi c
                                conditions, may fi nd seafarers working long hours with
                                insuffi cient recuperative rest.
                                In these circumstances, fatigue and reduced performance
                                may lead to ill-health and reduced life-span amongst seafarers,
                                as well as increase the possibility of environmental
                                damage,
                                Many of the established risk factors for fatigue are present
                                onboard. The likelihood of reporting impaired health as a
                                result of fatigue increases in relation to the frequency of
                                exposure to them.
                                Fatigue reduces well-being and is a major risk factor
                                for mental health problems such as depression. It also
                                increases the risk of acute illnesses, and life-threatening
                                chronic disease, such as cardiovascular diseases.
                                A range of strategies is needed to deal with fatigue with
                                positive input from management and workforce representatives,
                                to provide seafarers with skills that allow them
                                to identify and possibly counter it.
                                The impairments produced by fatigue are as great as
                                those produced by exceeding the legal alcohol limit for driving.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    Disruptive thinking and behaviour

                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Any seafarer with severe psychotic mental illness will
                                require a great deal of care and attention. It is wise to
                                assume that their behaviour may be so unpredictable as
                                to become violent or suicidal, possibly without provocation
                                or warning. In such cases, professional medical advice
                                should be sought as a matter of urgency.
                                A mentally ill person may experience delusions or hallucinations
                                and is then called psychotic.
                                In a delusion the patient sees and hears the same as
                                anybody else, but attaches wrong conclusions to it, that
                                are completely out of pace with reality or generally accepted
                                ideas.
                                A hallucination is a perception that is experienced as a
                                reality by the hallucinating patient, but nevertheless is not
                                in line with what really happens and what is experienced
                                by anybody else.
                                Paranoia is often associated with psychotic disease.
                                Paranoia is a thought process characterized by excessive
                                anxiety or fear, often to the point of irrationality and delusion.
                                Paranoid thinking typically includes persecutory beliefs
                                concerning a perceived threat towards oneself. The
                                individual thinks that harm is going to occur to him/her and
                                that the persecutor is going to cause harm to him/her.
                                Psychotic symptoms may be present with several psychiatric
                                illnesses, including schizophrenia, bipolar disorder,
                                borderline personality disorder and drug intoxication.
                                A more general medical and neurological examination
                                may be needed to rule out medical illnesses which may
                                rarely produce psychotic schizophrenia-like symptoms,
                                such as metabolic disturbance, systemic infection, syphilis,
                                HIV infection, epilepsy, and brain lesions.
                                It may be necessary to rule out a delirium, which can be
                                distinguished by visual hallucinations, acute onset and
                                fl uctuating level of consciousness, and indicates an underlying
                                medical illness.
                                Anti-psychotic drugs may be needed in fi rst aid onboard
                                but should be used preferably after medical advice.
                                In any way the patient should be monitored continuously.
                                This normally means he should never be left alone, but
                                sometimes the presence of another person may cause
                                more upset and agitation. Although communication with
                                the patient may be impossible and continuous monitoring
                                may be very demanding. Patience and a reassuring tone
                                and attitude may have a benefi cial effect and are important.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                    Addiction to alcohol
                                    and drugs

                                </a>
                            </h4>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Because of the international character of maritime work,
                                shipping companies and employees are confronted by
                                local legislation on drugs and alcohol, international agreements,
                                maritime guidelines and charter party clauses that
                                outline drug and alcohol policies.
                                These laws and regulations require shipping companies to
                                have random and emergency ‘for cause’ drug and alcohol
                                testing systems in place, as well as testing during periodic
                                medical examinations.
                                A company policy on drug and alcohol testing has to be:
                                fair and reasonable; developed in consultation; clearly
                                stated and well explained; and applied in a reasonable
                                and consistent manner.
                                Although the above explains some of the general outlines
                                and principles on drugs and alcohol in the maritime industry
                                today, it should be stressed that most drugs used have
                                deteriorating effects on a seafarer’s health.
                                Alcohol and drugs cause fi nancial, medical and mental
                                problems as follows:<br />
                                Cannabis (marijuana, hashish) causes lack of coordination,
                                red eyes, dilated pupils and increased heart
                                rate. It leads to irrelevant giggling, euphoria, anxiety
                                and altered perception.<br />
                                Cocaine may lead to increased pulse rate and blood
                                pressure, dilated pupils, euphoria, hallucinations and
                                paranoid delusions.<br />
                                Morphine causes contracted pupils, and may lead to
                                euphoria and drowsiness.<br />
                                Amphetamines give jerky movements, dry mouth,
                                lack of appetite, inability to sleep and exhaustion, confused
                                thinking, mood swings, aggressive behaviour,
                                abundance of energy and psychosis.  <br />
                                Ecstasy may give increased colour perception, enhanced
                                empathy, excessive drinking of water or cola.<br />
                                Benzodiazepines (known as: eggs, jelly babies, rugby
                                balls, benzos, valium, temazzies, moggies) lead to
                                tiredness and drowsiness, emotionality, aggressions,
                                unusual behaviour, slurred speech, confusion, unsteadiness<br />
                                Phencyclidine (known as: ashy larry, angel dust, juice,
                                rocket fuel, ozone) causes slurred speech, blurred
                                vision, numbness, nausea and vomiting, unsteady gait,
                                loss of coordination, increased heart rate and altered
                                body temperature. It leads to hallucinations, delusional
                                ideas, delirium or confused thinking and unpredictable
                                mood states.<br />
                                Alcohol affects coordination and reaction times, may
                                lead to reduced consciousness, low body temperature,
                                slow heart rate, and slow breathing.
                                In spite of policies and controls, a seafarer presenting
                                changes in behaviour may still by thought to be under
                                infl uence of substances. A mental problem or change may
                                be caused by drugs or alcohol and the testing of urine,
                                saliva or blood is an important part of an assessment in
                                case of mental problems onboard. The following evidence
                                may help explain a sudden change in the mental state of
                                a fellow crewmember:<br />
                                Butt ends of hand rolled cigarettes, large cigarette
                                papers<br />
                                Syringes and needles, handbag mirrors, razor blades,
                                straws<br />
                                Blackened tinfoil, bent spoons, spent matches, bottle
                                caps<br />
                                Folded wraps, white greyish powder, multicolour
                                tablets,<br />
                                Injectable ampoules<br />
                                Hidden bottles<br />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                    Mental Care onboard

                                </a>
                            </h4>
                        </div>
                        <div id="collapseseven" class="panel-collapse collapse">
                            <div class="panel-body">
                                These days, the employment of multinational crews,
                                dispersion of recruitment and casual employment, means
                                that it is not always easy to identify mental problems in
                                seafarers from diverse backgrounds. However sensitivity
                                to mental problems remains at the heart of good management
                                and effi cient ship operations.
                                Those with stress and reactive depression are able to
                                return to work relatively soon after treatment and do not
                                normally pose a safety risk, although for some demanding
                                tasks it may take a while to recover.
                                More severe psychotic conditions pose a safety risk and
                                can only be allowed on a ship after full recovery and no
                                relapses over a lengthy time
                                Some of the treatments used can have adverse effect on
                                performance at work. If medication has a warning against
                                “driving or working with moving machinery” fi tness for
                                safety critical tasks may have to be reviewed
                                Any seafarer who appears to be deeply depressed or
                                who talks of suicide should never be left out of sight. In
                                practice this can be diffi cult, but the seafarer should be
                                confi ned to a cabin and remain there under supervision.
                                The deck is a dangerous place and the ship’s side may be
                                a temptation. Obvious precautions should also be taken
                                regarding the removal of medicines, potentially sharp
                                objects and items such as string and rope. Professional
                                medical advice should be sought as soon as possible.
                                Many seafarers who are feeling stressed or anxious while
                                at sea fi nd that counselling by welfare workers in port can
                                be of great help.
                                The ability to maintain contact with family and friends also
                                helps to lessen the feelings of loneliness and isolation
                                Rest management refers to how well rest periods are controlled
                                and allocated by the master, and managed by the
                                individual seafarer, to ensure that he/she gets enough rest
                                time and doesn’t sacrifi ce that time for more shore leave
                                or to catch up on tasks that should have been completed
                                whilst on duty.
                                Clarity of roles and responsibilities: all seafarers should
                                know what their tasks are and what they are responsible
                                for whilst on watch on the bridge. As the clarity of roles
                                and responsibilities increases, the quality of crew competence
                                also increases.
                                Degree of collective experience: the crew have a good
                                degree of experience of working on the vessel, or the
                                type of vessel, and of working in certain conditions (route,
                                weather, etc.). As the degree of collective experiences
                                increases, the quality of the crew competence also increases.
                                Training: the crew are all fully trained for their roles and
                                responsibilities. As the degree of training increases, the
                                quality of the crew competence also increases.
                                Level of morale on board: if the level of morale on board is
                                quite poor, this can have an adverse effect on crew competence,
                                as individuals may be reluctant to “go the extra
                                mile” during watch. Conversely, if the level of morale on
                                board is good, then this can have a positive effect on competence,
                                which in turn decreases feelings of overloading.
                                Degree of communication refers to the degree of communication
                                amongst the crew, and includes both the level
                                of information sharing and the quality of information being
                                shared. Very good communication means that information
                                sharing is optimal, and that the information being shared
                                is necessary and correct. As the quality of information
                                increases, the quality of the crew competence will also
                                increase.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseight">
                                    Tips for successful
                                    implementation of a
                                    Mental Care campaign

                                </a>
                            </h4>
                        </div>
                        <div id="collapseight" class="panel-collapse collapse">
                            <div class="panel-body">
                                The ship, where seafarers not only work but spend all their
                                time during a voyage, is the best place for health intervention.
                                The following measures may therefore be considered
                                in order to encourage a sensible approach to Mental Care:
                                Encourage and stimulate the crew members to prevent
                                mental problems. Draw attention to the prevention of mental
                                problems in meetings, at medical check-ups etc.
                                Use a broad approach to inform and motivate the seafarers
                                onboard. Offer information and protection.
                                The whole ship’s company has to be behind the programme:
                                captain and of¿ cers have to show their commitment.
                                It is not only a matter of good policy development but also
                                of good policy implementation. It takes time to implement a
                                prevention programme onboard. Make sure it gets where it
                                is needed. Behavioural changes take several months and
                                bene¿ ts may take even longer to become measurable.
                                Make a systematic plan of what you want to achieve with
                                respect to the prevention of mental problems onboard and
                                over what period of time. Involve key persons and link to a
                                company policy on health.
                                Budget the programme, make sure the activities adopted
                                are evaluated and be prepared to adapt the plan if some
                                initiatives are not as successful as others.
                                Announce the planning and changes, organise an event to
                                celebrate the start of the plan.
                                Provide information (posters or leaÀ ets) on prevention of
                                mental problems all over the ship.
                                Ask crew members to participate and comment on the
                                campaign, and complete questionnaires. Give seafarers
                                the opportunity to make suggestions on prevention activities.
                                Link MENTAL CARE with SHIP topics on SAFE TRAVEL.
                                Provide FIT ONBOARD and other SHIP health initiatives.
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <img src="~/background/pro1.jpg">
        </div>
    </div>
</body>


