
@{
    ViewBag.Title = "Maintainingahealthydietonboard";
}

<link href="~/link/css/static.css" rel="stylesheet" />
<body>
    <div class="row">
        <div class="head_title"><h1 class="ta">Maintaining a healthy diet on board</h1></div>
        <div class="card backk">


            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Introduction </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                The International Seafarers’ Welfare and Assistance Network, of seafarers, has launched “HEALTHY FOOD” as one of FOOD” as one of the topics in the Seafarers’ Health Information Programme,
                                sponsored by the Shipowners' Club.The ship, where seafarers not only work but spend all The ship, where seafarers not only work but spend all their time during a voyage, is seen as the best
                                place for their time during a voyage, is seen as the best place for health intervention.The availability of healthy food choices gives seafarers The availability of healthy food choices
                                gives seafarers the opportunity to change to a more healthy diet and the opportunity to change to a more healthy diet and make a big difference to their health and well-being Access to
                                healthy food in a healthy environment where high standards of food safety and hygiene are frimly enforced is essential to this regime.Mealtimes should be viewed as an enjoyable social
                                experience with good healthy food options good healthy food options to maintain a healthy lifestyle. to maintain a healthy lifestyle.


                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Tips for Adopting a Healthy
                                    Eating Regime
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Encourage and stimulate the crew members to eat
                                healthily. Pay attention to healthy food in meetings,
                                at medical check-ups etc.
                                Use a broad approach to inform and motivate the
                                seafarers onboard. Offer variation in food. A healthy menu
                                is not necessarily more expensive than an unhealthy one.
                                The whole vessel has to be behind the programme: captain
                                and offi cers have to show their commitment.
                                It takes time to implement a healthy food programme
                                onboard. Behavioural changes take several months and
                                benefi ts may take even longer to become measurable.
                                Make a systematic plan of what you want to achieve in
                                respect to healthy food and eating onboard and over what
                                period of time. Involve key persons like the cook and ship
                                chandler and establish a company policy on health.
                                Budget for the programme, make sure the activities
                                adopted are evaluated and be prepared to adapt the plan
                                if some initiatives are not as successful as others.
                                Announce the plan and the changes, organise an event to
                                celebrate the start of the plan such as a special menu or
                                distribute apples or other fruit.
                                Ensure the menu of the coming week is on display and
                                remember to stress the healthy alternatives.
                                Provide healthy drinks and snacks. Also provide information
                                (posters or leafl ets) on healthy food in every place
                                where food is available onboard.
                                Ask crew members to fi ll out questionnaires to assess the
                                success and strengths of the plan. Give crew members
                                the possibility to suggest and try new recipes.
                                Keep track of the quantities of each food category
                                consumed onboard and inform the crew about any
                                imbalances found.
                                Link HEALTHY FOOD with FOOD SAFETY and hygiene
                                in the galley. Provide FIT ONBOARD and other SHIP
                                health initiatives.
                                Ensure water is available free of charge.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Basis of Healthy Food</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Meals have to supply enough proteins for formation and
                                repair of body tissues, adequate supply of minerals to
                                reinforce body tissues and suffi cient carbohydrates and
                                the right amount of fats for energy. There must also be
                                vitamins and anti-oxidants to keep the body’s functions in
                                good order. Crucially good quality drinking water needs to
                                be drunk in large quantities, at least 1,5 litres per day.
                                Five Tips for Healthy Food habits :<br />

                                <div style="padding: 8px; background: #e7e7e7;">
                                    1. Balance is the key message<br />
                                    2. Eat plenty of fruit (3 servings) and vegetables
                                    (300 g), potatoes and whole grain products<br />
                                    3. Reduce the amount of meat (+/- 100 g), fat
                                    (< 35%), sugar and salt you eat<br />
                                    4. Drink plenty of water and milk products<br />
                                    5. Eat breakfast
                                </div>
                                A good tool in ensuring a balanced diet is a food pyramid.
                                As food habits vary a lot throughout the world, it is diffi cult
                                to give a universal practical guide to healthy
                                eating and the preservation of good health but the
                                essential elements are explained below.<br />
                                <strong> Rice, whole grain products and potatoes</strong><br />
                                At the base of the pyramid are rice, noodles, bread,
                                pasta, cereals, potatoes, porridge, lontong, chapati, naan,
                                idli, thosai and biscuits. These foods are excellent sources
                                of complex carbohydrates, vitamins, minerals and dietary
                                fi bre. It is recommended that 5 servings a day be
                                consumed, preferably including 1 serving of wholegrain
                                products. An average person eats 175-420 g of bread (5-
                                12 slices), 210-350 g potatoes (3-5 pieces) or 180-300 g
                                of rice per day. When working in shifts this group is better
                                taken towards the end of the shift, instead of at the
                                beginning.<br />
                                1 serving =<br />
                                * 1 slice of bread<br />
                                * ½ Cup (C.) cooked grains, pasta, rice, etc.<br />
                                * 1 C. of most cold cereals<br />
                                * ¼ C. low fat granola, Grape Nuts, Muesli<br />
                                * ½ C. hot cereals<br />
                                * 3-4 C. low fat microwave popcorn<br />
                                * ½ large fl our tortilla<br />
                                * 6 saltine crackers<br />
                                * ½ hamburger roll or small bagel<br />
                                * ¼ of a large muffi n or bagel<br />
                                * ½ pita<br />
                                <strong> Fruit</strong>
                                This group consists preferably of fresh fruit
                                but also of dried, frozen, canned fruit and
                                fruit juices. They are rich sources of vitamins A, C,
                                potassium, fi bre (excluding fruit juices) and fl avonoids.
                                Eat 2 to 3 servings a day, especially the deeply or brightly
                                (yellow, orange) coloured ones.<br />
                                1 serving =<br />
                                * 1 piece of medium fruit (e.g., apple, orange, peach)<br />
                                * ½ piece of large fruit (e.g., banana, grapefruit)<br />
                                * ½ C. of cooked or dried pieces of fruit<br />
                                * ½ C. of fruit juice (unsweetened)<br />
                                <strong> Vegetables</strong>
                                This group consists of leafy, non-leafy, cruciferous and
                                root vegetables. They are rich sources of vitamins A, C,
                                folic acid, minerals such as calcium, iron, potassium, fi bre
                                and phyto-chemicals. Eat 2 servings a day and include
                                1 serving daily of dark green or yellow-orange
                                vegetables.<br />
                                1 serving =<br />
                                * ½ C. cooked vegetables<br />
                                * 1 C. vegetable juice<br />
                                * 1 C. raw vegetables<br />
                                <div class="" style="padding:10px; background:#eee;">
                                    Fibre
                                    Fibre is the indigestible carbohydrate found in plant cell
                                    walls and is either soluble or insoluble. Soluble fi bre acts
                                    like a gel and insoluble fi bre adds bulk to or softens stools.
                                    A healthy fi bre content of the diet can be achieved by
                                    eating fruits, vegetables, beans and whole grains.
                                    Also, when eating whole grains, increase your fl uid intake
                                    as insoluble fi bre absorbs fl uid from your intestines.
                                    BENEFITS OF FIBRE<br />
                                    • Fibre is fi lling without being fattening<br />
                                    • Fibre slows fat absorption<br />
                                    • Fibre reduces cholesterol<br />
                                    • Fibre helps prevent constipation<br />
                                    • Fibre protects against colon cancer<br />
                                    • Fibre makes blood sugars more stable<br />
                                    To get the full health benefi ts of dietary fi bre, adults should
                                    eat 25 to 35 grams of fi bre each day.
                                    Consume more whole grains, whole fruits and vegetables.
                                    Much of the fi bre is in the peel. Nearly all varieties of
                                    beans are a rich source of fi bre. Spinach and romaine lettuce
                                    are healthy choices. White bread and white rice have
                                    had the fi bre processed out of them.
                                </div>

                                <strong> Meat, fi sh, and alternatives</strong>
                                This group includes meat, poultry, fi sh and seafood. Alternatives
                                are soya, pulses, nuts and seeds. These foods are
                                excellent sources of protein, iron and zinc. 100 g per day
                                is suffi cient.<br />
                                1 serving =<br />
                                * 100 g meat, poultry, or fi sh. 100 g is about the
                                size of a deck of cards or the palm of your hand.<br />
                                * ½ C. cooked beans, legumes or nuts<br />
                                * 2 eggs or 4 egg whites<br />
                                <strong> Milk, dairy-products and alternatives</strong>
                                These foods are excellent sources of protein, calcium
                                and B vitamins. Drink 2 to 3 glasses of skimmed or halffat
                                milk or yoghurt per day. And try to eat 2 servings of
                                cheese. Remember to bear in mind the fat quantity in
                                these foods and to try and use low fat products where
                                possible.<br />
                                1 serving =<br />
                                * 250 g or 1 C. of skimmed or half-fat milk or yoghurt.<br />
                                * 50 g hard cheese; lower-fat versions are
                                recommended (you will need to read the labels)<br />
                                * ½ C. low fat cottage cheese<br />
                                <strong> Fats, oil, salt & sugar</strong>
                                Although fat gives energy and contains essential vitamins
                                A,D,E and K, too much of it can lead to increased weight
                                and increased cholesterol levels. Therefore it is important
                                to keep an eye on the amount of fat you eat, so that you
                                don’t eat too much. This group contains chips, mayonnaise,
                                fat sauces, cream, etc. and should be taken in limited
                                quantities.
                                High salt consumption can raise blood pressure which
                                creates a greater risk of developing heart disease.
                                Sugary food and drinks are loaded with calories and provide
                                little by way of nutrition. Such foods are also a major
                                source of tooth decay.<br />
                                1 serving =<br />
                                * 1 teaspoon oil, butter or margarine<br />
                                * 2 teaspoons Tahini paste<br />
                                * 1 tablespoon regular salad dressing<br />
                                <strong>Water</strong>
                                Although water does not give us energy and is not part of
                                this food pyramid, it is indispensable for our body.
                                In normal circumstances 1.5 litres should be consumed
                                per day. In warm climates, when undertaking strong
                                physical activity and playing sport it is necessary to drink
                                more fl uids. It is best to drink water from unopened bottles
                                if the quality of drinking water is uncertain. Not everybody
                                can drink all types of mineral water as some contain a
                                high level of minerals. Variation is the key !
                                Products containing caffeine, such as tea, coffee and soft
                                drinks should not be drunk more than 3 times per shift and
                                should be avoided fi ve hours before sleeping.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone">Healthy Food and Safety</a>
                            </h4>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse">
                            <div class="panel-body">
                                Although it remains diffi cult to estimate the impact of poor
                                nutrition on occupational accidents, the connection
                                between fatigue and nutritional defi ciency (iron and
                                vitamin B) is well known.
                                Iron defi ciency accounts for loss in productivity and results
                                in fatigue and loss of dexterity.
                                Lack of food can induce drowsiness and is a risk
                                onboard ship.
                                Hypoglycaemia (low blood sugar) can shorten attention
                                spans and slow down the processing of information.
                                Snacking on sugary foods and drinks, gives a short surge
                                in energy but can leave the body more tired afterwards.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo"> Healthy Food and Shift work</a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Shift work means that meals cannot be taken at “normal”
                                regular times. Shift work can interfere with the standard
                                eating routine.
                                Poor habits can lead to broken sleep, tiredness, and
                                digestive problems.
                                Light meals are the best solution : soups, salads and lean
                                meat. At the beginning of the shift, eat protein rich food
                                like yoghurt, milk and lean meat. Later on in the shift eat
                                carbohydrates like bread, potato salad, pasta salad, fruit
                                and whole grains.
                                <div class="" style="padding:8px; background:#eee;">
                                    · Try and eat less spicy food, fried and fatty food,
                                    and sweets. Try and cut back on caffeine intake,
                                    try fruit juice for a change.<br />
                                    · Eat light snacks like fruit, yoghurt or a glass of milk.
                                    Eat a meal that provides enough energy before the shift
                                    starts.
                                </div>
                                We all know smoking is bad for your health. Try and
                                cut down and consider others when you light up. Never
                                smoke when others are eating.
                                Take regular exercise, if possible at least 30 minutes per
                                day. (See SHIP topic “FIT ONBOARD” at www.seafarershealth.org).
                                If you are working in the afternoon or evening shifts : eat a
                                warm meal at noon instead of in the middle of the shift.
                                If you are working at night try and eat “breakfast” in the
                                late afternoon or early evening. After work eat a light
                                snack to avoid going to bed feeling hungry.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                    Caffeine
                                </a>
                            </h4>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Caffeine is a natural component of coffee (75 mg per cup)
                                and tea (30 mg per cup), today also energy drinks and
                                even some sports drinks contain varied levels of caffeine
                                up to 80 mg per unit, compared to the 23 mg in a CocaCola
                                which is a lot. Some herbal stimulants can contain
                                naturally occurring caffeine, especially guarana and mate.
                                Caffeine stimulates the short term memory, e.g. to
                                memorize a telephone number before writing it down.
                                It also keeps one awake, but this does not lead to better
                                physical performance.
                                Duty and watch keeping can raise the consumption of
                                coffee or tea drastically and beside the presumed stimulating
                                effect of caffeine, this also has negative effects.
                                Too much caffeine can cause side effects such as tension
                                (stress), restlessness, trembling, insomnia, headaches
                                and heart palpitations.
                                The maximum dose of caffeine is 400 mg per day.
                                Try to drink a maximum of 3 cups of coffee
                                or tea per shift !

                                <div class="" style="padding:8px; background:#eee;">
                                    <strong>   Vitamins</strong>
                                    Food loses a lot of vitamins during the time left between storage
                                    and preparation. The time between harvest and consumption is a
                                    determining factor, but the temperature at which food is stored is also
                                    important. Vegetables that are frozen shortly after harvesting do not
                                    loose more vitamins than so called fresh vegetables. Furthermore,
                                    vegetables will retain more vitamins if they are only cooked for a short
                                    period. The shorter the cooking time, the more vitamins they will retain!<br />
                                    > Vitamin A<br />
                                    Function :<br />
                                    > Necessary for the eyes to function correctly and for adapting to
                                    darkness<br />
                                    > Necessary for the formation of skin cells, hair and gums<br />
                                    > Supports the immune system<br />
                                    > Plays a role in growth, fertility and reproduction
                                    Sources :<br />
                                    > Liver, meat, butter, margarine, fat fi sh, milk and milk products,
                                    cheese and eggs.<br />
                                    > Vegetables such as carrots, cabbage, endive and yellow
                                    or orange fruit<br />
                                    > Vitamin D<br />
                                    Function :<br />
                                    > Necessary for the uptake of calcium and formation of bone tissue<br />
                                    > For strong bones and healthy teeth<br />
                                    > Limits osteoporosis
                                </div>
                                <div style="padding:8px; background:#eee;">
                                    <div class=" col-md-6" style="padding:8px; background:#eee;">
                                        Sources :<br />
                                        > Butter, margarine, meat, fat fi sh, milk and milk products,
                                        cheese and eggs.<br />
                                        > Vegetables such as cabbage and yellow or orange fruit
                                        Good to know<br />
                                        > Vitamin D3 is produced in the skin by sunlight, it is
                                        recommended that people spend at least 15 minutes per day in
                                        the open air, to ensure that their bodies get the necessary
                                        amount of vitamin D3<br />
                                        > Vitamin E<br />
                                        Function <br />
                                        > A role in many enzymatic reactions<br />
                                        > Anti-oxidant activity, especially on Poly Unsatisfi ed Fatty Acids
                                        (PUFA)<br />
                                        > Protection of cells and cell membranes<br />
                                        Sources :<br />
                                        > Plant oils rich in PUFA: nuts, seeds, vegetables,
                                        fruit, bread and whole grain products<br />
                                        > Vitamin K<br />
                                        Function :<br />
                                        > Necessary for blood coagulation<br />
                                        > Active in bone formation<br />
                                        Sources :<br />
                                        > Vitamin K1: Vegetables, fruit, milk and milk products, meat,
                                        eggs and grain products<br />
                                        > Vitamin K2: produced by bacteria in the intestines<br />
                                        > Vitamin C<br />
                                        Function :<br />
                                        > Formation of collagen, necessary for the effi cient healing of
                                        wounds<br />
                                        > Metabolism of carbohydrates, proteins and fat<br />
                                        > Muscle- and brain metabolism<br />
                                        > Control of bone <br />
                                        > Synthesis of hormones<br />
                                        > Improves the absorption of iron from food<br />
                                        > Supports the immune system<br />
                                        > Anti-oxidant activity<br />
                                    </div>

                                    <div class=" col-md-6" style="padding:8px; background:#eee;">
                                        Sources :<br />
                                        > Fruit (citrus, kiwi, guave, berries: strawberries, raspberries)<br />
                                        > Vegetables: especially cabbage and (whole) potatoes<br />
                                        > Vitamin B1<br />
                                        Function :<br />
                                        > Essential for energy production, mainly by carbohydrate
                                        metabolism<br />
                                        > Supports the correct functioning of the nervous system
                                        Sources :<br />
                                        > Bread and whole grain products, potatoes, vegetables, meat,
                                        milk and milk products<br />
                                        > Vitamin B2<br />
                                        Function :<br />
                                        > Essential in metabolism of carbohydrates, proteins and fat<br />
                                        > Mobilizes iron<br />
                                        > For healthy skin<br />
                                        Sources :<br />
                                        > Milk and milk products, meat, vegetables, fruit, bread and whole
                                        grain products
                                        Good to know<br />
                                        > Light sensitive: e.g. it is advisable that milk be stored in a dark
                                        place<br />
                                        > Vitamin B3<br />
                                        Function :<br />
                                        > Important role in energy metabolism<br />
                                        > Involved in enzymatic processes in the cells
                                        Sources:<br />
                                        > Meat, fi sh, whole grain products, vegetables and potatoes<br />
                                        > Vitamin B5<br />
                                        Function :<br />
                                        > Important role in energy metabolism, especially carbohydrate
                                        and fatty acid metabolism<br />
                                        > Important for the synthesis of fatty acids and cholesterol
                                        Sources :<br />
                                        > Meat, eggs, whole grain products, pulses, milk and milk
                                        products, vegetables and fruit<br />
                                    </div>
                                    <div class=" col-md-6" style="padding:8px; background:#eee;">
                                        > Vitamin B6<br />
                                        Function :<br />
                                        > Important role in energy metabolism, especially amino acid
                                        metabolism<br />
                                        > Helps to reduce magnesium shortages<br />
                                        > Control of hormone activities<br />
                                        > Production of red blood cells<br />
                                        > Necessary if the nervous system is to function well<br />
                                        > Metabolism of fatty acids and phospholipids<br />
                                        Sources :<br />
                                        > Meat, eggs, fi sh, bread, whole grain products, potatoes, pulses,
                                        vegetables, milk and milk products, cheese<br />
                                        > Vitamin B8<br />
                                        Function :<br />
                                        > Important role in energy metabolism<br />
                                        > Necessary for formation of fatty acids<br />
                                        > Healthy skin and healthy hair<br />
                                        Sources :<br />
                                        > Eggs, liver, milk and milk products, nuts and peanuts<br />
                                        Good to know :<br />
                                        > Sometimes called vitamin H<br />
                                        > Vitamin B11<br />
                                        Function :<br />
                                        > Important for production of red blood cells<br />
                                        > Involved in the production of histidine, glycine, methionine,<br />
                                        protein synthesis, DNA and RNA synthesis
                                        > Important for growth and preservation of body cells<br />
                                        Sources :<br />
                                        > Whole grain products, bread, green vegetables, fruit,
                                        milk and milk products<br />
                                        > Vitamin B12<br />
                                        Function :<br />
                                        > Important for the production of red blood cells<br />
                                        > Important for the normal function of the nervous system<br />
                                        Sources :<br />
                                        > Can only be found in animal products, vegetarian products do
                                        not contain Vitamin B12<br />
                                        > Meat, fi sh, milk and milk products, cheese and eggs<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                        Anti-oxidants

                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    When the body is metabolising normally, free radicals are
                                    formed which have a negative impact on the body’s functions.
                                    Smoking stimulates the production of free radicals.
                                    High levels of free radicals can damage the body’s cells,
                                    cause heart and vascular diseases and cancer. There is
                                    evidence to suggest that they also speed up the ageing
                                    process and can lead to cataracts and other eye diseases.
                                    - Anti-oxidants neutralise the harmful actions of free
                                    radicals, and as such, have a positive effect on health.
                                    In addition to vitamins, there are other bio-active products
                                    such as fl avonoids and minerals for example, selenium,
                                    which act as anti-oxidants.
                                    - The amount of anti-oxidants we need on a daily basis to
                                    prevent disease is not yet clear to medical professionals.
                                    Research is still underway on the use and safety of antioxidant
                                    preparations.
                                    Therefore healthy food habits are considered suffi cient
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                        Breakfast
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Breakfast is the most important meal of the day :<br />
                                    - It provides a good start of the day and a healthy breakfast
                                    delivers 20 - 25 % of the total energy for a day.<br />
                                    - Breakfast helps to improve concentration and dexterity
                                    throughout the morning.<br />
                                    - People, who skip breakfast tend to eat more snacks and
                                    often overcompensate for the loss of energy by eating a
                                    large lunch, rich in fats and sugar.<br />
                                    - Carbohydrates found a lot in bread, grain products, rice
                                    and pasta are an excellent source of energy.<br />
                                    - Milk and milk products are good sources of protein at
                                    breakfast.<br />
                                    - It is recommended that you eat several pieces of fruit per
                                    day. It is a good idea to start the day with fruit or fruit juice
                                    and also stewed fruit or compote, as it is not always possible
                                    to get the full quota of nutrients from fresh fruit.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                        Fats
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsesix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Some fats are essential for your health.<br />
                                    - Fats in foods are made up of 4 different types of fatty acids
                                    • Polyunsaturated fats<br />
                                    • Monounsaturated fats<br />
                                    • Saturated fats<br />
                                    • Trans fats<br />
                                    - Trans fats are found naturally in some animal-based
                                    foods, but are also formed when liquid oils are made into
                                    semi-solid fats like soft and hard margarine.
                                    Scientifi c evidence has shown that dietary trans fats can
                                    increase your risk of developing heart disease.<br />
                                    - Polyunsaturated fats are healthier than monounsaturated
                                    but today a distinction is made: omega 3-, omega 6- and
                                    omega 9 fatty acids, which are types of polyunsaturated
                                    fats.<br />
                                    - Omega 3 is an essential fat and plays a crucial part in the
                                    development of the brain and nervous system ; it prevents
                                    cardiovascular disease, and supports the
                                    immune system.<br />
                                    - In general, the types of food eaten in the West do not
                                    contain enough omega 3 fatty acids. The balance between
                                    omega 6 and omega 3 is particularly important as both
                                    use the same enzymes in metabolism.<br />
                                    - Omega 3 is found in algae, plankton, rapeseed,
                                    lineseed, walnut or soya oil. Fat fi sh and fi sh oil contain a
                                    lot of omega 3 fatty acids.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                        Snacks


                                    </a>
                                </h4>
                            </div>
                            <div id="collapseseven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    If snacks are available during the day, always ensure that
                                    a healthy alternative such as fruit or yoghurt is available
                                    and try to encourage the crew to go for one of these
                                    options as opposed to a less healthy snack.
                                    - Do not offer snacks rich in fats and sugar.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseight">
                                        Working in Extreme Heat - Salt and Fluid Supplements

                                    </a>
                                </h4>
                            </div>
                            <div id="collapseight" class="panel-collapse collapse">
                                <div class="panel-body">
                                    A person working at an intensive pace or in a very hot environment,
                                    such as the engine room, loses water and salt
                                    through sweat. This loss should be made up by consuming
                                    more water and salt.<br />
                                    - Fluid intake should equal fl uid loss; what goes out must
                                    come in. On average, about 1 litre of water each hour may
                                    be required to replace the fl uid loss.
                                    Plenty of cool (10°-15°C) drinking water should be readily
                                    available and workers should be encouraged to drink
                                    water every 15 to 20 minutes even if they do not feel
                                    thirsty. Sports drinks specifi cally designed to replace
                                    body fl uids and electrolytes can also help workers remain
                                    properly hydrated.<br />
                                    - A worker used to, or acclimatized to, lifting heavy loads
                                    or working in high temperatures, sweats more “effi ciently”<br />
                                    - they sweat sooner and sweat to a greater degree, but
                                    they lose less salt in their sweat than labourers who are
                                    not used to such work. For this reason, the salt in a normal
                                    diet is usually enough to maintain the electrolyte balance
                                    and keep the body working well. <br />
                                    - For workers who are not used to manual labour or working
                                    in high temperatures, and who will therefore lose more
                                    salt in their sweat, it may be a good idea to use extra salt
                                    in your food. Salt tablets are not a suitable alternative,
                                    however, as the salt does not enter the body system as
                                    fast as water or other fl uids. Too much salt can cause
                                    body temperature to rise and can also make someone feel
                                    thirsty or sick. Workers on salt-restricted diets should talk
                                    to their doctor about how much salt they need for their job.<br />
                                    - Some drinks can cause more urine output than the amount
                                    of fl uid consumed: essentially, more comes out than what
                                    goes in. If you want to stay healthy, comfortable, and
                                    hydrated in a hot environment, avoid or limit caffeinated
                                    drinks such as coffee and some sodas.<br />
                                    - Soft drinks and energy drinks deliver relatively high levels
                                    of energy (extra sugar) but do not have
                                    nutrient value (vitamins and minerals).
                                    They are simply “empty” sources of calories.<br />
                                    - Moreover the use of soft drinks is bad for the teeth
                                    and may enhance intestinal problems (IBS).<br />
                                    - Light or dietary drinks contain less sugar
                                    but are high in artifi cial sweeteners which
                                    do not contain that many calories.
                                    The use of these drinks should be limited
                                    to a maximum of 2 to 3 glasses a day.
                                    Water is the best source of liquid !
                                </div>
                            </div>
                        </div>

                    </div>
                    <img src="~/background/pro1.jpg">
                </div>
            </div>
          
        </div>
</body>

