
@{
    ViewBag.Title = "Maintainingfitnessonboard";
}


<link href="~/link/css/static.css" rel="stylesheet" />
<style>
    .pi {
        width: 100%;
        padding: 8px;
    }

</style>
<body>

    <div class="row">
        <div class="head_title">
            <h2 class="ta"> Maintaining fitness on board</h2>
        </div>

        <div class="col-md-12 card backk">
            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Introduction
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Aware of the social benefits of sport, the International
                                Committee on Seafarers’ Welfare has launched the
                                project: FIT ONBOARD, as one of the topics in the
                                Seafarers’ Health Information Programme (S.H.I.P.),
                                sponsored by the Shipowners' Club.
                                Onboard ship, the modern way of life is a sedentary one
                                and opportunities for sport and fitness are limited. Even
                                modern ships cannot always meet the needs of today’s
                                seafarers: to do sport and fitness activities.
                                Sports activities on ships have to take into account the
                                general safety measures onboard. Ships do not always
                                have sufficient or suitable accommodation or facilities for
                                sport. The strict organisation of work and tasks onboard
                                does not leave a lot of time for physical activity.
                                SHIP encourages the individual seafarer to take
                                responsibility for his health within his living and working
                                environment.
                                Sport contributes to a general sense of physical,
                                psychological and social well-being. Sport not only
                                improves health but, through social interaction, it also
                                encourages team-building.
                                These guidelines are designed to help the management
                                of the vessel to facilitate and promote fitness activities.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Tips for Successful
                                    Implementation of
                                    Fitness onboard
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Promoting fitness activities requires proper management.
                                The target group is relatively homogenous in terms of age,
                                work, health and physical condition but attention should be
                                paid to ensuring the participation of as many seafarers as
                                possible.
                                The health benefits, pleasure, social contact and looking
                                better should be used as arguments to encourage
                                participation.
                                Take a multi-route approach to informing and motivating
                                the seafarers onboard. Offer a variety of activities.
                                Provide incentives or prizes for participation that are appropriate
                                to the activity. Use the SHIP posters, leaflets, Fitness
                                Packs and other means to promote the programme.
                                The whole vessel must support the programme: captain
                                and offi cers should show their commitment.
                                Organise activities that can be carried out on several
                                vessels, compare the results, report on them in newsletters
                                and award a prize for the best vessel in the company e.g.
                                a SHIP Fitness pack.
                                Allow sufficient time to implement a fitness programme
                                onboard. Behavioural changes take several months and
                                benefi ts may take even longer to become measurable.
                                Draw up a systematic plan of what you want to achieve in
                                respect to fi tness activities onboard and over what period
                                of time. Link that to a company policy on health and sport.
                                Activities should be planned and organised in a flexible
                                way and must fit in with the work schedules onboard.
                                Activities should not be very demanding to prepare and
                                run.
                                An easy and recognisable form of physical activity is better in order to avoid drop-outs and injuries.
                                Activities should be organised and linked with leisure time, breaks and meals.
                                To motivate seafarers to participate in ﬁ tness activities onboard and to encourage them to take more physical activity on a daily basis, 3 posters are available: “A ﬁ t seafarer = a safer ship”, “Healthy mind, healthy body” and “Your body, your capital. Keep it ﬁ t!” Display them onboard in places where seafarers often pass or spend time together.
                                The Fitness Packs contain a pedometer, a stress ball and a Dyna band; these are lightweight materials with manuals, giving the seafarers the opportunity to exercise at any time and anywhere onboard.
                                In these guidelines, help is provided with assessing the ﬁ tness of seafarers by simple methods. Organise this type of assessment and discuss the results with the seafarers. The same can be done for blood pressure, Body Mass Index and other health issues.
                                Hand out pedometers to the seafarers onboard and keep the scores of every individual for discussion and comparison or even organise a competition: “Who walks most onboard, ”Does anybody onboard reach 10 000 steps a day, the recommended minimum for health beneﬁ ts from walking?”
                                Organise walks onboard after meals with a ﬁ xed route so that people can join in at any time. These walks should take 20 minutes at most and can also be used as meeting time.
                                No special equipment is needed for the training suggested in these guidelines.  This is to allow as many seafarers as possible to participate in the programme.
                                Additional equipment for fi tness onboard is welcome.
                                A number of such items that may be interesting in order to
                                facilitate fi tness and sports activities onboard are:<br />
                                • Weight scale(s) (with body fat calculation?)<br />
                                • Heart rate monitor(s)<br />
                                • Music<br />
                                • Measuring tape(s)<br />
                                • Stopwatch(es)<br />
                                • Bicycle(s)<br />
                                • Ball(s)<br />
                                • Tumbling mat(s)<br />
                                • Cardio-training equipment e.g. treadmill(s), stepper(s),
                                rowing machine(s) or cycle(s)<br />
                                • Weight bench(es)<br />
                                One possible activity could involve putting a treadmill
                                or cycle somewhere onboard and keeping it going for a
                                whole day. Announce the activity and fi nd participants.
                                Draw up a schedule for who trains when and check that
                                the participants are there at the right time. Give feedback
                                on the number of hours trained and kilometres covered.
                                Eventually this can be organised as a competition between
                                departments onboard.
                                Fitness consultants can help the company to implement
                                a fi tness programme. They can come onboard to assess
                                the fi tness level of every seafarer, give instruction on safe
                                exercising and the kind of activities that can be carried out
                                onboard regularly.
                                Participation in sports activities in ports, e.g. organised by
                                the ISS in the “Sports of the Seven Seas”
                                (www.seafarerssport.org), should be encouraged.
                                If the company or captains encourage participation, more
                                seafarers will take the step towards practising more sport.
                                The level of these activities allows everybody to participate;
                                the aim is fun rather than competition.

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Basis of Fitness</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Fitness activities are intended to improve or maintain good physical condition. Fitness and health are closely related. Many elements are important to maintaining good health: healthy food, sufﬁ cient movement, adequate rest and avoiding stress.
                                Many seafarers will say that they are physically active the whole day, climbing stairs, lifting, pulling etc. The important thing is to exercise speciﬁ c skills and maintain them at an appropriate level: stamina (aerobic endurance), strength and ﬂ exibility.
                                Fitness is not power training. Keeping ﬁ t gets our bodies in optimum condition. We move around more easily, recover faster and are less tired. During training, we force our bodies to perform at a high level. During the rest period that follows, the body will compensate for the effort made and become stronger for the next training session until a balance has been achieved between effort and compensation. The level of training must be sufﬁ cient to reach this “supercompensation”; overtraining can make us weaker.
                                Fitness allows each individual to determine his own goals and decide on the number of training sessions per week, the weights he trains with, how long a training session takes, etc

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone">
                                    Testing your condition
                                </a>
                            </h4>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse">
                            <div class="panel-body">
                                Before starting ﬁ tness training, it is important to determine the level of training required.
                                Four categories have been determined:<br />
                                1. Untrained: never trained and/or above 50 years of age<br />
                                2. Beginner: periodic training during the last year <br />
                                3.Advanced: trains 1 - 2 times per week <br />
                                4. Sportsman: trains 3 - 4 times per week<br />
                                <strong> Measure your heartbeat</strong>
                                The heart rate at rest is a general indicator of a person’s physical condition. But also during training, measuring the heartbeat is important in order to maintain the appropriate level of exercise.
                                <br />
                                <img src="~/background/health/1.jpg" /><br />
                                <strong> How to measure your heart rate ?</strong>
                                The Maximum Heart Rate (MHR) determines the level of training you should aim for. It is easy to calculate:<br />
                                220 minus your age in years<br />
                                e.g. for somebody aged 45:<br />
                                MHR = 220 - age = 220 - 45 years = 175 heartbeats per minute <br />
                                For a useful training session, the heartbeat has to be above the “training threshold” of 60% of MHR.<br />
                                In our example, the “training threshold” for a 45 year old is 175 x 60% = 105 beats per minute.<br />
                                <strong> The Step test</strong>
                                To measure aerobic endurance (stamina), we can use the Step test. Before starting this test, measure your heartbeat at rest, sit down for ﬁ ve minutes and measure the heart rate per minute. Compare the result to Table 1; if your heartbeat is in the “weak” category, don’t do the test.
                                Maintain normal breathing during the test. <br />
                                • Stand about 30 cm away from the step <br />
                                • The step should be between 20 and 30 cm high <br />
                                • Place your hands on your hips<br />
                                • Keep your head and back straight <br />
                                • Step up and down: left foot up, right foot up, left foot down, right foot down…<br />
                                Continue this exercise as fast as you can for three minutes. After the test, sit down for 30 seconds and measure the heartbeat again. Read the results in Table 2.
                                <br />
                                <img src="~/background/health/2.jpg" /><br />
                                <strong>  Strength</strong>
                                To measure strength, several tests can be used. Estimate your level of training and do the test according to that category (see Table 3).
                                <br />  Push-ups (upper body strength) <br />
                                Untrained <br />
                                Stand 60 cm away from a wall and face the wall. Stand with your feet slightly apart. Keep your back straight, chest out and stomach pulled in.
                                Place your hands ﬂ at on the wall at shoulder level with ﬁ ngers pointing upwards.
                                Bend your elbows and breathe in. Keep back and legs straight while bending. Touch the wall with your nose and hold this position for
                                a short while. Breathe out as you push your arms away from the wall. Read the results in table 3.

                                <strong>Beginner</strong>  <br />
                                Kneel down and place your hands on the ﬂ oor with your ﬁngers pointing forwards and head in a straight line with your back.
                                Keep your knees directly under your hips and your hands under your shoulders.

                                Bend your elbows while breathing in. Touch the ﬂoor with your nose and hold this position for a short while.
                                Breathe out as you push up again. Read the results in Table 3.<br />
                                <strong>Advanced</strong> <br />
                                Lay down on your stomach with your elbows bent. Place your hands ﬂ at on the ﬂ oor directly under your shoulders with your knees slightly apart. Bend your knees and hook your feet together. Breathe out while pushing up with your arms. Hold this position for a short while and breathe out as soon as you bend your arms again.
                                Touch the ﬂ oor with your chest. Keep your head and back in a straight line during the exercise! Read the results in Table 3
                                <strong>Sportsmen</strong>
                                Lay down on your stomach. Place your feet slightly apart and your hands directly under your shoulders. Your hands should be ﬂ at on the ﬂ oor. Push up on hands and toes. Breathe in as you lower your chest to the ﬂ oor again. Hold this position a short while and breathe out as you push up again. Read the results in Table 3.
                                <br />
                                <img src="~/background/health/3.jpg" /><br />
                                <strong>Abdominals</strong>
                                Sit on the ﬂ oor with your back straight. Place your feet ﬂat on the ﬂ oor and slightly apart. Bend your knees.
                                Lean back until your outstretched hands are on top of your knees. Hold this position for as long as possible with a
                                straight back. Check the time in seconds in Table 4.
                                <br />
                                <img src="~/background/health/4.jpg" /><br />
                                <strong>Lower body strength</strong>

                                Stand about 60 cm away from a wall, facing away from the wall, with your feet slightly apart and toes pointing forwards. Bend your knees and hips at an angle of about 90°. Push the lower part of your back against the wall. Hold this position for as long as you can. Check the time in seconds in Table 5.
                                <br />
                                <img src="~/background/health/5.jpg" /><br />
                                <strong>Flexibility</strong>
                                To assess your ﬂ exibility, do these tests after warming up. Repeat the tests three times and note the best result. Do the test with an assistant if possible as this will achieve better results.
                                <strong> Sit and reach</strong>
                                Sit on the ﬂ oor with your legs straight. Toes pointing upwards. Keep your back straight and look ahead with your head in a straight line with your back. Stretch as far as you can and bend forwards reaching for your toes. Measure the distance between ﬁ ngertips and toes. Check the result of the best of three attempts in Table 6.
                                <br />
                                <img src="~/background/health/6.jpg" /><br />
                                <strong>Shoulder stretching</strong>
                                Lift your arm over your shoulder and place your hand on your back by bending your elbow. Bring your other arm up behind your back, bend your elbow. Move the hands together and try to make your ﬁ ngers meet. Measure the distance between ﬁ ngertips. Check the results in Table 7.
                                <br />
                                <strong>Forward Bend</strong>

                                Sit on the ﬂ oor with your back straight. Spread your legs in a V-shape and breathe in. Bend your hips and the lower part of your back forwards while breathing out. Place one ﬁ st on the ﬂ oor and the other on top. Try to bring your chest as close to your ﬁ sts as possible. Stop when you feel a slight tension. Measure the distance between your chest and the top ﬁ st. Check the result in Table 8.
                                <br />
                                <img src="~/background/health/7.jpg" class="pi" />
                                <img src="~/background/health/8.jpg" class="pi" />



                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">Setting goals</a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                It is important to set realistic goals. “Why do you want to exercise?” is the ﬁ rst question to ask yourself. Is it because you want to become ﬁ tter or lose weight? Maybe you want to improve the state of both your body and mind. You might want to increase your endurance levels or are just concerned about staying healthy. Select the kind of training you want: stamina, strength or ﬂ exibility and the level of intensity: light, moderate or hard.
                                What do you want to achieve and over what period of time? Be realistic and aim for that: set measurable targets in terms of e.g. heart rate and weight; progress is the best motivator!
                                Goals should be - speciﬁ c rather than general - challenging but achievable - divided into short-term sub-goals
                                The contents of your exercise programme depend on your current ﬁ tness level and on your ﬁ tness goals. You know what level you are at now and what level you want to reach in the future.
                                Also, select a location onboard where you want to train: generally you can use the ﬁ tness room or gym, if available, or you can do exercises in your cabin or in the mess rooms with friends.
                                Outside, opportunities may seem limited but you can walk, jog and do exercises (e.g. on staircases).
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                    Warming up and cooling down

                                </a>
                            </h4>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">
                                A good training session starts with 10-15 minutes of warming up to stimulate the blood circulation in the whole body and all muscles. The heart rate should rise to 60% of MHR (see above). A good warming-up session prevents injuries especially in the untrained and beginners.
                                After exercising for at least twenty minutes in your target zone for heart rate, gradually reduce the intensity of the exercises and do the same ‘warm-up’ exercises  to cool down. Stretch the muscles used during warm up:
                                <br /> • Warm up in a rhythmic way<br />
                                • Don’t bounce <br />
                                • Stretch slowly and steadily, making sure you stretch at the end of the movement. <br />
                                • Hold the stretch for a slow count of ten
                                <br />• Don’t push yourself into a painful stretch
                                <strong> Arm swing</strong> <br />
                                Stand with a straight back, chest out, stomach in. Place your feet, slightly more than shoulder width apart. Toes angled 45° outwards. Cross your hands over in front of your hips. Breathe in while you swing your hands sideways above your head. Breathe out while your arms swing back to the starting position. Repeat the exercise for one minute.
                                <strong>Up and Down Swing</strong>  <br />
                                Stand with a straight back, chest out, stomach in. Place your feet slightly apart. Bend your knees slightly. Bring the left arm slowly straight up and simultaneously bring the right arm straight down and slightly behind you until you feel a slight tension. Hold this position for a short while and then swing the left arm down and the right arm up. Repeat this exercise for one minute without stopping.
                                <strong>Side swing</strong><br />

                                Stand with a straight back, chest out, stomach in. Place your feet slightly more than shoulder width apart. Bend your knees slightly.
                                Bend your body to the left from the middle and put your left hand on your knee and your right hand above your head. Hold this position
                                for a short while and do the same to the right-hand side.
                                <strong>
                                    Cycling
                                </strong><br />
                                Lie on your back. Raise both legs at an angle of 90°. Put your arms down alongside your body. Do cycling movements with both legs alternately. Repeat this exercise for one minute without stopping.
                                <strong>Skipping</strong>  <br />
                                Stand with a straight back, chest out, stomach in. Place your feet slightly apart. Bring the left leg up to an angle of 90°.
                                At the same time, bring your right arm up to an angle of 90°. Bring the arm and leg down and repeat the same exercise with the
                                other arm and leg. Repeat this exercise for one minute without stopping.
                                <strong>Heel lift</strong><br />
                                Stand with a straight back, chest out, stomach in. Place your feet slightly apart. Bring your heel backwards and touch your bottom. Bring your foot back down to the ﬂ oor. Touch your bottom with the other foot and bring that foot down again.


                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    Improving ﬁtness

                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                The Seafarers’ Health Information Programme offers you two tools to start improving your condition. Other instruments are available and numerous programmes can be followed according to your condition. SHIP offers simple tools that can be used in cramped spaces and that are easy to take with you when travelling.
                                <br />
                                <strong>Walking with a Step Counter (pedometer)</strong>  <br />
                                The name is self-explanatory: a step counter or pedometer counts the number of steps that you take; whether big or small steps, the counter always adds one. The Fit Onboard Step Counter is not a precision instrument but it helps you to walk more.
                                The Fit Onboard Step Counter gives you an idea of the distance you walk every day and your daily physical activity. Wear your Step Counter every day. Write down the number of steps taken in a day, more or less at the same time every day. Press the reset button on the Step Counter to start from zero again. Your health improves if you move more every day.
                                <div class="" style="border:1px solid #000; padding:7px;">
                                    How to increase the amount of walking you do ?
                                    Step1 Write down the number of steps per day for one week. Do not walk any more than usual during that week.
                                    Step 2 Calculate the average number of steps taken per day. Divide the total number of steps over one week by the number of days. You now know how much or little you move.
                                    Step 3 Determine your goal. Make sure your goal is realistic. If you want to increase the number of steps you take by 1000 a day, take your time to adapt to more walking, e.g. over a period of four weeks.
                                    Step 4 Every day build in some extra steps until you reach your goal. Take four weeks to change your lifestyle towards more physical activity.
                                    Step 5 After six weeks, test yourself again. Write down the number of steps a day and calculate the average over one week. If you are 1000 steps above your starting level, you have reached your goal!
                                </div>
                                <strong> Training with a DYNA BAND</strong> <br />
                                Any form of resistance can be used to train muscle power (weights, bands, bodyweight or any other object).
                                Used correctly, the DYNA BAND can improve stamina, strength and ﬂ exibility.<br />
                                Exercise 1 : Arm pull down<br />
                                Wrap the exerciser around your hands  (shoulder-width apart)<br />
                                Extend your arms above your head <br />
                                Pull your arms down and out to side  (to shoulder level) <br />
                                Slowly raise your arms above your head again <br />
                                Drop your shoulders between reps<br />
                                <strong>Exercise 2 : Horizontal arm pull</strong><br />
                                Grip or wrap the exerciser around your hands   (shoulder-width apart)<br />
                                Be sure that your palms remain facing up <br />
                                Extend your arms in front of your body – approximately 4 inches below shoulder level <br />
                                Pull your arms to the side, level with your body – DO NOT OVEREXTEND YOUR BACK <br />
                                Pinch your shoulder blades together <br />
                                Slowly return your arms to the starting position <br />
                                Drop your shoulders between reps<br />
                                <div class="" style="padding:7px; border:1px solid #000;">
                                    The thickness of the DYNA BAND relates to the level of resistance. Four types are used:<br />
                                    • Pink/red for starters <br />
                                    • Green/blue for medium resistance <br />
                                    • Purple/yellow for the experienced user<br />
                                    • Grey for super athletes
                                </div>
                                <strong>Exercise 3 : Horizontal chest press</strong><br />
                                Place the exerciser against your back across your shoulder   blades<br />
                                Grip the exerciser’s ends with both hands beneath each   armpit <br />
                                Lay the end of the exerciser across your palms <br />
                                Take up the slack in the exerciser until it rests snugly   against your back <br />
                                Push your arms forward <br />
                                Slowly return to starting position<br />
                                <strong>
                                    Exercise 4 : Shoulder Extension/Flexion
                                </strong><br />
                                Grip the exerciser in front of your body <br />
                                Space your hands approximately 12 inches apart <br />
                                Place one arm slightly higher than the other <br />
                                Align the top arm with the same shoulder at approximately  45 degrees shoulder ﬂexion <br />
                                Flex the top to shoulder <br />
                                Simultaneously, extend the bottom shoulder and arm <br />
                                Hold <br />
                                Slowly return to starting position  Repeat<br />

                                <img src="~/background/health/9.jpg" class="pi" />
                                <img src="~/background/health/10.jpg" class="pi" />
                                <img src="~/background/health/11.jpg" class="pi" />
                                To improve muscle strength, maximum intensity is not necessary; 60 to 80 % is enough. 8 to 10 reps at 80% of maximum level for athletic training or 10-16 reps at 60-70% for beginners.
                                Make sure you train every large muscle group equally.
                                Exercise needs to be regular in order to reap the beneﬁ ts. Train on three non-consecutive days a week. Train about 60 to 90 seconds per muscle group.
                                Train slowly and in a controlled way. 2 seconds upwards, 2 seconds hold and 2 seconds back for example.
                                Go from complete extension to complete contraction but never “block” an exercise movement halfway through.
                                Increase systematically and gradually the number of reps and the resistance.
                                Take only short breaks between the different exercises: no more than one minute.
                                Breathe in during exertion and breathe out when relaxing.
                                <div class="" style="background:#e6e6e6; padding:8px;">
                                    S.A.F.E<br />
                                    1. Selection :  choose the appropriate resistance for your training level<br />
                                    2. Alignment :  adopt the correct body posture <br />
                                    3. Form : exercise carefully <br />
                                    4. Effort : respect your limits (training effect)<br />


                                </div>
                                <div class="" style="background:#e6e6e6; padding:8px;">
                                    Be careful !
                                    1. People with hypertension (above 140/90 mm Hg) should NOT work with high resistance; light training under medical guidance is the message for them.<br />
                                    2. People with new or old joint lesions, especially to hands, wrists, arms, shoulders, knees and ankles, should NOT work with high resistance and should pay attention to where they attach the DYNA BAND.


                                </div>
                                <div class="" style="background:#e6e6e6; padding:8px;">
                                    Practical<br />
                                    1. If you knot the DYNA BAND, use a bow with one end longer than the other, to make it easier to undo.<br />
                                    2. Protect the DYNA BAND from damage by removing rings and jewellery; be careful with long nails.<br />
                                    3. When you exercise, keep the DYNA BAND wide to protect legs and hands and prevent slipping.<br />
                                    4. Wearing knee socks or legwarmers is recommended during the exercises.<br />
                                    5. Store the DYNA BAND in a box or dark place ; avoid exposing it to sunlight for too long ; put talc powder on it every now and then and roll it up after use.<br />

                                </div>








                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    Avoiding Injuries

                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Exercising pushes the body out of its comfort zone. In reaction, the body prepares itself for future challenges. Fitness therefore improves during rest and not during exercise. It is very important to adhere to the rest periods and not to overtrain and injure yourself.
                                It is equally important, especially in the management of daily stress and fatigue at work, for relaxation to be part of the daily exercises. Exercises that involve body and mind and require deep concentration improve body alignment, posture and balance. Typical examples are yoga, Pilates and Tai chi.
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <img src="~/background/pro1.jpg">
        </div>
    </div>
</body>

