
@{
    ViewBag.Title = "Maintainingahealthyweightonboard";
}



<link href="~/link/css/static.css" rel="stylesheet" />
<style>
    .pi{width:100%;padding:8px;}
    
</style>
<body>

    <div class="row">
        <div class="head_title">
            <h2 class="ta">Maintaining a healthy weight on board</h2>
        </div>

        <div class="col-md-12 card backk">
            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Overweight prevention,</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                People who are overweight are at greater risk of dying
                                prematurely from chronic health problems!
                                Being OVERWEIGHT can lead to:
                                hypertension, diabetes, coronary heart disease, stroke, gallbladder
                                disease, osteoarthritis, respiratory problems, sleep apnoea and endometrial,
                                breast, prostate and colon cancer.
                                These conditions are the second most common cause of premature
                                death. Smoking is the fi rst.<br />
                                Factors that increase the risk of being OVERWEIGHT onboard:
                                · Lack of physical activity= daily tasks change and life, in general,
                                is more sedentary<br />
                                · Over eating = over intake of carbohydrates, for example a high
                                intake of drinks containing added sugars and eating large
                                portion sizes
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Body Mass Index
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Using the BMI formula (Quetelet index) a person can fi nd out if his weight
                                is normal in relation to his body length.
                                BMI = weight (in kg) divided by square length (in metres).
                                A person weighing 81 kilograms for 1,80 m length has a BMI of 81/1.802
                                = 81/3.24 = 25
                                People with a BMI between 19 and 22 tend to live longest.
                                <br />
                                <span>

                                    A BMI below 17,5 indicates that a person is“underweight”
                                    A BMI between 17,5 and 24,9 indicates that a person
                                    is of normal weight
                                    A BMI of more than 25 indicates that a person is overweight
                                    If the BMI is above 30 a person is known as obese or
                                    pathologically overweight

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Waist Circumference</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Total body fat is no longer seen as the key indicator of
                                weight-related health problems. Fat distribution is just as
                                important.<br />
                                The apple body shape (central obesity) is linked with health problems
                                such as coronary heart disease, diabetes, stroke, high blood pressure and
                                gallbladder disease.<br />
                                Waist circumference provides an independent prediction of risk over and
                                above BMI.<br />
                                Locate the upper hip bone and place the tape measure around the
                                abdomen (horizontal and snug, not compressing the skin!)<br />
                                <img src="~/background/main/4.jpg" /><br />
                                For native South Asian, Chinese, Japanese and South and Central Americans,
                                men are at higher risk starting from > 90 cm
                                People with pear body shape carry their extra weight below the waistline,
                                and do not have as high a risk
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone">Diabetes</a>
                            </h4>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse">
                            <div class="panel-body">
                                Diabetes is linked to insulin which regulates the levels of sugar in the
                                blood.
                                Diabetes can lead to serious complications, such as:
                                blindness, kidney failure, heart disease, and stroke.
                                The number of cases of diabetes in the world is expected to double by
                                2025.
                                Inactive lifestyles and excessive weight gain increase the risk of diabetes.
                                Central obesity (apple body shape) contributes to “insulin resistance”, a
                                condition that underlies most cases of diabetes.
                                Specifi c measures to reduce the risk of diabetes include:<br />
                                · Avoiding weight gain of more than 5 kg in adult life<br />
                                · Maintaining a Body Mass Index (BMI) in the range of 19-22<br />
                                · Moderate levels of physical activity (> 1 hour per day)<br />
                                · Exercising at 80 to 90% of maximum heart rate for at least
                                20 minutes 5 days per week<br />
                                · A low saturated fat intake<br />
                                · At least 20g of fi bre per day (i.e. whole grain cereals, fruit and
                                vegetables)

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">Cardiovascular Risk</a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                A third of the world’s deaths are due to CVD (Cardiovascular Disease) such
                                as heart attacks and strokes.
                                A substantial proportion of CVD deaths are attributable to avoidable risk.
                                Of the global CVD burden, 75% relates to 6 major risk factors:<br />
                                · High Systolic Blood Pressure<br />
                                · High Cholesterol<br />
                                · Smoking<br />
                                · Physical inactivity<br />
                                · A BMI >21 kg/m2<br />
                                · Fruit and vegetables <600 g />day<br />
                                Other factors attributable to the risk of suff ering a heart attack or stroke,
                                include :<br />
                                · Non-modifi able Risk Factors<br />
                                - Age<br />
                                - Gender<br />
                                - Genetic factors / Family history of cardiovascular disease<br />
                                · Modifi able Risk Factors<br />
                                - Elevated heart rate<br />
                                - Absence of key nutritional elements, such as omega-3 fatty acids<br />
                                - Exposure to high levels of environmental noise<br />
                                - Stress<br />
                                - Depression<br />
                                - Poor tooth hygiene<br />

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                    Metabolic Syndrome
                                </a>
                            </h4>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">
                                The metabolic syndrome is a cluster of the most dangerous heart attack
                                and stroke risk factors.
                                This means a person with:
                                Central obesity (apple body shape) (see waist circumference)
                                plus any 2 of the following:<br />
                                · Raised triglyceride level (type of blood fat): >150 mg/dL
                                (1.7 mmol/L), or treatment for this<br />
                                · Reduced HDL cholesterol: < 40 mg/dL (1.03 mmol/L) in males
                                and < 50 mg/dL (1.29 mmol/L) in females, or treatment for this<br />
                                · Raised blood pressure(BP): systolic BP >130 or diastolic BP > 85 mm
                                Hg, or treatment<br />
                                · Raised fasting plasma glucose (FPG) (blood sugar) >100 mg/dL
                                (5.6 mmol/L), or diagnosed diabetes
                                The risk of developing diabetes is 5 times more likely in individuals with
                                metabolic syndrome.
                                The more factors of metabolic syndrome, the higher the risk.
                                To prevent diabetes and CVD (cardiovascular disease) individuals with
                                metabolic syndrome have to be found early.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    Calorie Counting

                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                An average (sedentary) woman needs 1940 Kcal per day. An average
                                (sedentary) man needs around 2400 Kcal per day.
                                The ideal energy value of a complete hot meal, including soup, drinks
                                and dessert should be around 885 Kcal.
                                Weight, age, gender and level of physical activity all aff ect how many
                                calories are needed.
                                As an example the energy value of some common foods is given in the
                                table below, per portion and per 100g.

                                <img src="~/background/main/1.jpg" class="pi"/>
                                <img src="~/background/main/2.jpg" class="pi"/>

                                <img src="~/background/main/3.jpg" class="pi"/>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    Prevention and Treatment
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse">
                            <div class="panel-body">
                                When trying to lose weight, a combination of diet and exercise works
                                better than diet or exercise alone.
                                Good physical fi tness protects against death, independent of weight:
                                unfi t lean people have a cardiovascular disease risk that is twice that of fi t
                                normal weight people!
                                30 min. physical activity per day has health benefi ts for those who are
                                not obese and do not need to lose weight.
                                45 min. / day can prevent you gaining weight.
                                60 min. / day can stop you gaining weight and help you start to lose
                                weight.
                                90 min. / day is for people that were obese and are trying to maintain a
                                normal weight.
                                People with a normal body weight (BMI 17,5–24,9) should monitor their
                                weight regularly and keep an eye on whether their clothes start to feel
                                tighter.
                                People with a BMI of 25–30 BMI should reduce their daily intake by 250
                                Kcal and increase their physical activity by 250 Kcal.
                                People with a BMI of over 30 BMI should follow the same program and
                                eventually reduce their intake by more than 250 Kcal.
                                People with a BMI of >40 may need surgical intervention.
                                <div style="background:#eee; padding:6px;">
                                    · Build meals around fi sh or poultry
                                    · Cut out fried foods! Grill, bake, roast, broil or boil food
                                    · Start with a soup or a salad
                                    · Keep portion sizes in check
                                    · Stop drinking Soft Drinks
                                    · Drink an extra 1.5 litres of water a day
                                    · Eat at least 20g of dietary fibre daily
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <img src="~/background/pro1.jpg">
        </div>
    </div>
</body>


