
@{
    ViewBag.Title = "Maintainingdentalhygiene";
}


<link href="~/link/css/static.css" rel="stylesheet" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/Crew.js"></script>
<style>
</style>
<body>

    <div class="">
        <div class="head_title">
            <h2 class="ta">Maintaining dental hygiene</h2>
        </div>

        <div class="col-md-12 card backk">
            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Introduction</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                The International Seafarers' Welfare and Assistance Network,
                                are aware of the importance of lifestyle on the health of seafarers.
                                is launching "DENTAL CARE· as one of the topics in the
                                Seafarers' Health lnfonnation Programme. supported by the
                                Shipowners' Club.
                                Toothache may range from a distressing inconvenience to
                                intense. miserable pain, that is difficult to treat with only the
                                medication and instruments in the ship's medical chest.
                                Toothache may adversely affect a seafarer's performance,
                                up-set their concentration and generally present a risk to safety.
                                Consequently, the importance of good dental care and regular
                                eheckups at the dentist, cannot be overestimated, especially
                                before embarkation.
                                Prevention of tooth decay can indeed prevent a lot of pain and
                                suffering while onboard.
                                It should also be remembered that dental care systems and
                                the quality of care in ports may be very different from what the
                                seafarer is used to. In some cases. treatment in ports may
                                have to be carried out very quickly because of the fast
                                tuma-round times of today's ships. This may lead to hasty
                                decisions and treatments such as an extraction, where other
                                measures could have saved the tooth.
                                Dental care may be expensive in ports and treatments are
                                not always covered by the seafarer's company or medical
                                insurance especially when crowns, bridges or dentures are
                                needed.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Risks for Seafarers
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Modern dentistry has succeeded in reducing the incidence
                                of dental caries through water fl uoridation, oral hygiene
                                education, and preventive dental care.
                                Cavities are far less prevalent than they were several
                                decades ago and may now be managed by advanced
                                technology.
                                However, the risk of dental problems is increased for
                                seafarers because of their limited access to advanced
                                dental care and regular control whilst at sea.
                                Some of the most frequent Dental Problems are:
                                Tooth Decay (dental “caries”) which is the decomposition of
                                tooth structure caused by the destructive toxins created by
                                Plaque, a combination of natural bacteria and food debris
                                left on the teeth by inadequate oral hygiene.
                                Dental caries has been described as a “disease of civilization,”
                                especially in relation to the last hundred years, as
                                man has strayed from a diet rich in fruit and vegetables to
                                one with a high intake of refi ned sugars.
                                Gum Disease is an infl ammation of the gums that can
                                progress to affect the bone that surrounds and supports the
                                teeth. It is caused by the bacteria in Plaque that constantly
                                forms on the teeth. If not removed through daily brushing
                                and fl ossing, plaque can build up and the bacteria may
                                infect not only the gums and teeth, but eventually the gum
                                tissue and bone that support the teeth. This can cause
                                teeth to become loose, fall out or have to be removed by a
                                dentist.
                                Root Canal Problems occur when the tooth’s pulp, a small,
                                thread-like tissue in the centre of the tooth is damaged or
                                diseased. The most common causes of pulp damage or
                                disease are:<br />
                                a cracked tooth<br />
                                a deep cavity <br />
                                an injury, such as a severe knock to the tooth,
                                either recently or in the past <br />
                                Once the pulp is infected or dead, if left untreated, pus can
                                build up at the root tip in the jawbone, forming an abscess.
                                An abscess can destroy the bone surrounding the tooth
                                and cause pain.
                                Severe, emergency dental pain may be as unrelenting
                                as kidney stones or even labour contractions. Onboard,
                                pain treatment is limited and therefore prevention is most
                                important!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven"> Tooth Anatomy</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span style="color:#ff6a00;"> Parts of a Tooth</span>
                                Crown: the top part of the tooth, and the only part which
                                can normally be seen. The shape of the crown determines
                                the tooth’s function. For example, front teeth are sharp and
                                chisel-shaped for cutting, while molars have fl at surfaces
                                for grinding.
                                Gumline: where the tooth and the gums meet. Without
                                proper brushing and fl ossing, plaque and tartar can build
                                up at the gumline, leading to gingivitis and gum disease.
                                Root: the part of the tooth that is embedded in the jawbone.
                                The root makes up about two-thirds of the tooth and
                                holds it in place.
                                Enamel: the outermost layer of the tooth. Enamel is the
                                hardest, most mineralized tissue in the body - yet it can be
                                damaged by decay if teeth are not cared for properly.
                                Dentine: the layer of the tooth under the enamel. If decay
                                is able to make its way through the enamel, it next attacks
                                the dentine - where millions of tiny tubes lead directly to the
                                dental pulp.
                                Pulp: the soft tissue found in the centre of all teeth, where
                                the nerve tissue and blood vessels are. If tooth decay reaches
                                the pulp, it usually causes pain.
                                <span style="color:#ff6a00;">
                                    Different Types of Teeth
                                </span>
                                Every tooth has a specifi c job or function (the dental
                                diagram at the end of this section may help to locate and
                                identify each type of tooth)
                                Incisors: the sharp, chisel-shaped front teeth (four upper,
                                four lower) used for cutting food.
                                Canines: sometimes called cuspids, these teeth are
                                shaped like points (or cusps) and are used for tearing food.
                                Premolars: these teeth have two pointed cusps on their
                                biting surface and are sometimes referred to as bicuspids.
                                The premolars are for crushing and tearing.
                                Molars: used for grinding, these teeth have several cusps
                                on the biting surface.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone">The Right Way to Brush</a>
                            </h4>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse">
                            <div class="panel-body">
                                Proper brushing takes at least two minutes, but no more!
                                However, most seafarers (and other people) do not brush
                                for nearly that long. To get a feel for the time involved, a
                                stopwatch can be used. For the teeth to be brushed properly,
                                short, gentle strokes should be used, paying extra attention
                                to the gumline, hard-to-reach back teeth, and areas
                                around fi llings, crowns or other restoration work. Each
                                section should be thoroughly cleaned as follows:
                                fi rst the outer surfaces of the upper teeth,
                                then the lower teeth<br />
                                next the inner surfaces of the upper teeth,
                                then the lower teeth<br />
                                fi nally the chewing surfaces should be brushed<br />
                                for fresher breath, the tongue should be brushed too

                                <strong>Toothbrush</strong>
                                Most dental professionals agree that a soft-bristled brush
                                is best for removing plaque and debris from the teeth.
                                Small-headed brushes are also preferable, since they can
                                better reach all areas of the mouth, including hard-to-reach
                                back teeth. For many, a powered toothbrush is a good
                                alternative. It can do a better job of cleaning teeth, particularly
                                for those who have diffi culty brushing or who have
                                limited manual dexterity.
                                <strong>
                                    Toothpaste
                                </strong>
                                It is important that an appropriate toothpaste is used. Today
                                there is a wide variety of toothpaste designed for many
                                conditions, including cavities, gingivitis, tartar, stained teeth
                                and sensitivity. The dentist or hygienist can advise on the
                                most suitable one.
                                <strong>
                                    Replace Toothbrush
                                </strong>
                                A toothbrush should be replaced when it begins to show
                                wear, or every three months, whichever comes fi rst. It is
                                also very important to change toothbrushes after having a
                                cold, since the bristles can collect germs that can lead to
                                reinfection.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo"> Fluorides</a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Fluor is a so-called trace element, necessary for the growth
                                and normal function of the body. Only small quantities are
                                needed; larger doses may be harmful to health.
                                Fluor does not exist as a free molecule in nature, it is linked
                                to other elements to form Fluorides. Fluorides are found in
                                fi sh, bones and tea, and sometimes also in drinking water.
                                The bacteria in tooth plaque metabolise the sugar we eat
                                to form acids. These acids may demineralise the teeth and
                                cause cavities if remineralisation is slow or insuffi cient. Fluorides
                                slow down demineralisation and make remineralisation
                                faster. Tooth tissue that has incorporated Fluor is more
                                resistant to acidity. Fluor in the saliva makes teeth stronger
                                to resist the negative effects of sugars.
                                Since the effect of Fluor is local, it is advisable to have a
                                small quantity of Fluoride in the saliva about three times
                                per day. This can be done by brushing the teeth three times
                                a day with a toothpaste containing Fluoride.
                                Too much Fluor can cause white spots and stripes on the
                                teeth, so Fluoride drops or tablets should only be taken on
                                the recommendation of a dentist!
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                    Emergency Toothache
                                </a>
                            </h4>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">
                                If there is a lost fi lling or defect in the enamel (surface
                                of the tooth), oil of cloves should be applied to the tooth
                                surface.
                                If there is a large defect in the tooth, a temporary dressing
                                should be inserted into the cavity as follows:<br />
                                the tooth should be isolated by putting a 5X5 cm piece
                                of gauze on each side of it<br />
                                the cavity should be dried with a cotton bud or pellet<br />
                                a drop of oil of cloves on cotton wool should be gently
                                pressed into the cavity and left in place<br />
                                the isolating gauze should then be removed<br />
                                This procedure may be repeated two to three times a day
                                as necessary
                                To relieve the pain, 1000mg paracetamol may be taken
                                orally to start with.
                                If a stronger analgesic is necessary, which is often the
                                case, the paracetamol may be replaced with tramadol 50
                                mg orally, or an equivalent analgesic in the medical chest,
                                twice a day.
                                The patients should rinse out their mouth with warm saline
                                solution for fi ve minutes every waking hour, until they can
                                see a dentist.
                                If infection or abscess formation is suspected, amoxicillin/
                                clavulanate 875/125 mg orally, should be taken three times
                                a day for seven days, after the patient has been checked
                                for allergies.
                                Medical advice should be sought urgently if there is:<br />
                                difficulty opening the mouth<br />
                                difficulty swallowing<br />
                                drooling<br />
                                difficulty breathing<br />
                                swelling in the neck<br />
                                pain much beyond the area of the infected tooth<br />
                                If a crew member loses a tooth after a blow to the face or
                                jaw, emergency dental care may not only relieve unnecessary
                                suffering, but may actually save teeth, such as those
                                which are partially, or totally dislodged. Should a tooth
                                be knocked out, it should be handled only by the crown,
                                rinsed with tap water (not scrubbed) and an attempt made
                                to place it back in its socket; the patient should keep it in
                                place with a fi nger or by biting it. If this is unsuccessful, the
                                tooth should be placed in milk or water. Medical advice and
                                dental care should then be sought urgently!

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    Tooth Filling

                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                A fi lling is a way to restore a tooth damaged by decay back
                                to its normal function and shape. The dentist removes the
                                decayed tooth material, cleans the affected area, and then
                                fi lls the cavity with a fi lling material.
                                By closing off spaces where bacteria can enter, a fi lling
                                helps prevent further decay. Materials used for fi llings
                                include gold, porcelain, a composite resin (tooth-colored fi llings),
                                and an amalgam (an alloy of mercury, silver, copper,
                                tin and sometimes zinc).
                                The type of fi lling that is best is determined by the extent of
                                the repair; potential allergies to certain materials; where in
                                the mouth the fi lling is needed; and the cost.
                                If decay or a fracture has damaged a large portion of the
                                tooth, a crown or cap may be recommended. Decay that
                                has reached the nerve may be treated in two ways: through
                                root canal therapy (in which damaged nerve is removed) or
                                through a procedure called pulp capping (which attempts to
                                keep the nerve alive).
                                If the dentist decides to fi ll a cavity, he or she will fi rst remove
                                the decay and clean the affected area. The cleaned-out
                                cavity will then be fi lled with any of the variety of materials
                                described above.
                                Only the dentist can detect whether a cavity needs to be
                                fi lled. During a checkup, the dentist will use a small mirror
                                to examine the surfaces of each tooth.
                                Anything that looks abnormal will then be closely checked.
                                The dentist may also X-ray the entire mouth or a section of
                                it. The type of treatment the dentist chooses will depend on
                                the extent of damage caused by decay.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    Tooth Extraction
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Teeth are extracted for a variety of reasons:<br />
                                decay has reached deep into the tooth<br />
                                infection has destroyed a large portion of the tooth
                                or surrounding bone <br />
                                there is not enough room for all the teeth in the mouth
                                Many dentists recommend extracting impacted teeth
                                that are only partially erupted. Impacted teeth continue
                                trying to break through the gum tissue even if there is not
                                enough room to accommodate them. Removing a tooth
                                that is impacted can often prevent infection, damage to
                                adjacent teeth and bone, and save pain in the future.
                                Before a tooth is removed, the dentist will review the patient’s
                                medical and dental history and take the appropriate
                                X-rays.
                                X-rays reveal the length, shape, and position of the tooth
                                and surrounding bone.
                                Before removal, the dentist uses a local anesthetic to
                                numb the area of the mouth where the extraction will take
                                place.
                                For a simple extraction, once the area is anaesthetized,
                                the tooth is loosened with the help of a tool called an
                                elevator, then extracted with dental forceps.
                                It is critical to keep the area clean and prevent infection
                                immediately following the removal of a tooth. The dentist
                                will ask the patient to bite down on a piece of dry, sterile
                                gauze to limit bleeding while clotting takes place. For the
                                next 24 hours, smoking or vigorous rinsing of the mouth
                                should be avoided.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                    Root Canal Treatment
                                </a>
                            </h4>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Root canal treatment involves several procedures that
                                may require a number of dental appointments, depending
                                on the situation. These procedures are as follows:<br />
                                First an opening is made through the back of a front
                                tooth or the crown of a molar or pre-molar.<br />
                                After the diseased pulp is removed (a pulpectomy), the
                                pulp chamber and root canals are cleaned, enlarged
                                and shaped in preparation for being filled.<br />
                                If more than one visit is needed, a temporary fi lling
                                is placed in the crown opening to protect the tooth
                                between dental visits.<br />
                                The temporary fi lling is removed and the pulp chamber
                                and root canal permanently fi lled. A tapered, rubbery
                                material called gutta-percha is inserted into each of
                                the canals and is often sealed into place with cement.
                                Sometimes a metal or plastic rod is placed in the canal
                                for structural support.<br />
                                In the fi nal step, a crown is usually placed over the
                                tooth to restore its natural shape and appearance.
                                If the tooth is very broken down, a post may be
                                required to build it up prior to fi tting a crown.
                                A treated and restored tooth/teeth can last a lifetime with
                                proper care. However, as tooth decay can still occur in
                                treated teeth, good oral hygiene and regular dental exams
                                are still necessary to prevent further problems.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                    Crowns and Bridges

                                </a>
                            </h4>
                        </div>
                        <div id="collapseseven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Unlike removable devices such as dentures, which can
                                be taken out and cleaned daily, crowns and bridges are
                                cemented onto existing teeth or implants, and can only be
                                removed by a dentist.
                                A crown is used to entirely cover or “cap” a damaged
                                tooth. Besides strengthening a damaged tooth, a crown
                                can be used to improve its appearance, shape or alignment.
                                A crown can also be placed on top of an implant to
                                provide a tooth-like shape and functional structure.
                                Porcelain or ceramic crowns can be matched to the colour
                                of the natural teeth. Other materials include gold and
                                metal alloys, acrylic and ceramic.
                                A crown is recommended to:<br />
                                replace a large fi lling when there isn’t enough tooth
                                remaining<br />
                                protect a weak tooth from fracturing<br />
                                restore a fractured tooth<br />
                                attach a bridge<br />
                                cover a dental implant<br />
                                cover a discoloured or poorly shaped tooth<br />
                                cover a tooth that has had root canal treatment<br />
                                A bridge may be recommended if one or more teeth are
                                missing. Gaps left by missing teeth eventually cause the
                                remaining teeth to rotate or shift, resulting in a bad bite.
                                Bridges span the space where the teeth are missing and
                                are cemented to the natural teeth or implants.
                                As with crowns, there is a choice of materials for bridges.
                                The dentist can advise which to use, based on the location
                                of the missing tooth (or teeth), its function, aesthetic
                                considerations and cost.
                                Before either a crown or a bridge can be made, the tooth
                                (or teeth) must be reduced in size so that the crown or
                                bridge will fi t over it properly. After reducing the tooth/
                                teeth, the dentist will take an impression to provide an
                                exact mould for the crown or bridge.
                                Using this impression, the crown or bridge is then made
                                by a dental lab. A temporary crown or bridge will be put
                                in place to cover the prepared tooth while the permanent
                                one is being made. When it is ready, the new crown or
                                bridge is cemented over the prepared tooth or teeth.
                                While crowns and bridges can last a lifetime, they do
                                sometimes become loose or fall out. The most important
                                step which can be taken to keep them as long as possible
                                is to practice good oral hygiene.
                                A bridge can lose its support if the teeth or bone holding it
                                in place are damaged by dental disease. Gums and teeth
                                should therefore be kept healthy by brushing with Fluoride
                                toothpaste twice a day and fl ossing daily.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseight">
                                    Bleaching, Whitening
                                    and Bonding

                                </a>
                            </h4>
                        </div>
                        <div id="collapseight" class="panel-collapse collapse">
                            <div class="panel-body">
                                Some people are born with teeth that are more yellow
                                than others. Others have teeth that yellow with age. The
                                natural tooth colour can also be affected by many factors
                                such as:<br />
                                tobacco (whether smoked or chewed)<br />
                                coffee, tea, or red wine<br />
                                highly pigmented foods such as cherries and<br />
                                blueberries<br />
                                accumulation of tartar, resulting from plaque<br />
                                But also:<br />
                                treatment with the antibiotic tetracycline in childhood,
                                when the teeth are forming<br />
                                yellowing or greying of the teeth as part of the aging
                                process<br />
                                trauma to the teeth resulting in the death of the tooth’s
                                nerve, giving the tooth a brown, grey or black colour
                                Thorough cleaning by a dental professional will remove
                                most external staining caused by food and tobacco.
                                Using a whitening toothpaste can also help remove these
                                surface stains between dental visits. If stains have been
                                present for years, teeth may need to be professionally
                                whitened to remove these more stubborn external stains.
                                Internal stains can be bleached, bonded or capped
                                (crowned). While each of these methods is safe and effective,
                                the dentist will recommend which treatment is appropriate
                                depending on the state of the teeth and the desired
                                results. Bonding uses composite resins or porcelain/composite
                                veneers to cover the surface of stained teeth and
                                give a good, even appearance to broken or misshapen
                                teeth. To help prevent stains from coming back, smoking
                                and consumption of coffee, tea, red wine and heavily
                                coloured foods should be avoided. Teeth should also be
                                brushed twice a day with a whitening toothpaste.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsenine">
                                    Dry mouth
                                </a>
                            </h4>
                        </div>
                        <div id="collapsenine" class="panel-collapse collapse">
                            <div class="panel-body">
                                Everyone has a dry mouth once in a while, especially
                                when they are nervous, upset or under stress. But a dry
                                mouth all or most of the time, can be uncomfortable and
                                can lead to further health problems or indicate that a more
                                serious medical condition may exist.
                                Symptoms of dry mouth include:<br />
                                a sticky, dry feeling in the mouth<br />
                                trouble swallowing<br />
                                a burning sensation on the tongue<br />
                                a dry feeling in the throat<br />
                                cracked lips<br />
                                reduced ability to taste things or a metallic taste
                                in the mouth<br />
                                mouth sores<br />
                                frequent bad breath<br />
                                diffi culty chewing/speaking<br />
                                There are several reasons why the glands that produce
                                saliva, called the salivary glands, might not function properly,
                                resulting in a dry mouth. These include:<br />
                                the side effects of over 400 medicines , including
                                antihistamines, decongestants, pain killers, diuretics
                                and medicines for high blood pressure and depression<br />
                                diseases such as diabetes, Hodgkin’s, Parkinson’s
                                disease, HIV / AIDS and Sjogren’s syndrome,<br />
                                menopause- changing hormone levels affect the
                                salivary glands<br />
                                smoking — many pipe, cigar and heavy cigarette
                                smokers experience dry mouth.
                                The only permanent way to cure a dry mouth is to treat
                                its cause. If a dry mouth is the result of medication, the
                                patient’s doctor might change their prescription or the
                                dosage. If the salivary glands are not working properly but
                                are still producing some saliva, the doctor might prescribe
                                a medicine that helps the glands work better.
                                If the cause of a dry mouth cannot be eliminated, or until
                                it can be, moisture can be restored to the mouth in a number
                                of different ways. The dentist may recommend mouth
                                moisturizers, such as a saliva substitute and rinsing with
                                mouthwashes specially formulated to help dry mouth, may
                                also bring relief.
                                In addition, the following may help:<br />
                                water or sugarless cordials should be drunk frequently <br />
                                drinks containing caffeine, such as coffee, tea and
                                some sodas, should be avoided<br />
                                sugarless gum may be chewed or sugarless hard
                                candy sucked to stimulate saliva fl ow (if some salivary
                                gland function exists) <br />
                                tobacco or alcohol, which dry out the mouth, should be
                                avoided<br />
                                spicy or salty foods which can cause pain in a dry
                                mouth should be avoided<br />
                                a humidifi er should be used at night
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseaa">
                                    Bad Breath
                                </a>
                            </h4>
                        </div>
                        <div id="collapseaa" class="panel-collapse collapse">
                            <div class="panel-body">
                                Bad breath (Halitosis) may be caused by many factors,
                                including certain diets and inadequate oral hygiene. If dietary
                                adjustments do not help, the dentist should be consulted!
                                If improved oral hygiene does not help, stomach and
                                intestinal problems, or disorders such as diabetes may be
                                the cause.
                                Poor oral hygiene, advanced tooth decay or periodontal
                                disease may result in bad breath that may range from offensive
                                to fetid. For many, bad breath is caused by the accumulation
                                of bacteria lodging in the ridges of the tongue.
                                The inclusion of a small plastic rake (tongue scraper) into
                                a regular oral hygiene programme will prove effective for
                                those who experience this problem. A germicidal mouth
                                rinse, containing chlorine dioxide, may also be benefi cial.
                                Poor dental hygiene may result in acute necrotizing ulcerative
                                gingivitis (ANUG). Once called trench mouth, this
                                condition is fairly uncommon in advanced countries, but
                                may develop in teenagers and young adults. Though not
                                contagious, it can, and should, be treated
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsebb">
                                    Tips for the Successful
                                    Implementation of
                                    a Dental Care Campaign



                                </a>
                            </h4>
                        </div>
                        <div id="collapsebb" class="panel-collapse collapse">
                            <div class="panel-body">
                                The ship, where seafarers not only work but spend all
                                their time during a voyage, is the best place for health
                                intervention. The following measures may therefore be
                                considered to encourage a sensible approach to dental
                                care.
                                Encourage and stimulate the crew members to prevent
                                dental problems. Draw attention to the prevention of dental
                                problems in meetings, at medical check-ups etc.
                                Use a broad approach to inform and motivate the seafarers
                                onboard. Offer information and protection.
                                The whole vessel needs to support the programme: captain
                                and officers have to show their commitment.
                                It is not only a matter of good policy development but also
                                of good policy implementation. It takes time to implement a
                                prevention programme onboard. Make sure it gets where it
                                is needed. Behavioural changes take several months and
                                benefit ts may take even longer to become measurable.
                                Draw up an action plan showing desired results in respect
                                of prevention of dental problems onboard and with a timescale.
                                Involve key persons and link to a company policy on
                                health.
                                Budget the programme, make sure the activities adopted
                                are evaluated and be prepared to adapt the plan if some
                                initiatives are not as successful as others.
                                Announce the planning and changes, organise an event to
                                celebrate the start of the plan.
                                Provide information (posters or leaflets) on prevention of
                                dental problems all over the ship.
                                Ask crew members to participate and comment on the
                                campaign, and encourage them to complete questionnaires.
                                Give crew members the chance to make suggestions
                                on prevention activities.
                                Link DENTAL CARE with SHIP topics on SAFE TRAVEL
                                and HEALTHY FOOD. Provide FIT ONBOARD and other
                                SHIP health initiatives.
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <img src="~/background/pro1.jpg">
        </div>
    </div>
</body>

