
@{
    ViewBag.Title = "Malariaprevention";
}




<link href="~/link/css/static.css" rel="stylesheet" />
<style>
    .pi {
        width: 100%;
        padding: 8px;
    }
</style>
<body>

    <div class="row">
        <div class="head_title">
            <h2 class="ta"> Malaria prevention</h2>
        </div>

        <div class="col-md-12 card backk">
            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Introduction</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                International Seafarers' Welfare and Assistance Network, aware of
                                the importance of malaria prevention and treatment in the health of
                                seafarers, launches “MALARIA” as one of the topics in the
                                Seafarers’ Health Information Programme, sponsored by the
                                Shipowners' Club.
                                The ship, where seafarers not only work but spend all their time
                                during a voyage, is seen as the best place for health intervention.
                                Malaria is a preventable, life-threatening disease transmitted by the
                                bite of the female Anopheles mosquito.
                                Malaria can kill very quickly. Prevention, recognizing its symptoms
                                and acting accordingly is therefore essential knowledge for every
                                seafarer.
                                Malaria is a maritime problem for the following reasons:<br />
                                - unawareness of the fact that malaria is a serious and
                                potentially fatal disease<br />
                                - insuffi cient information regarding the clinical picture of malaria<br />
                                - no or insuffi cient use of anti-mosquito measures and the classical
                                protective medication<br />
                                - increasing resistance of many new malaria strains to the
                                medication<br />
                                - the fl uctuating frequency of malaria occurrence in the most
                                dangerous areas, which leads to miscalculation of the real risk
                                It is the responsibility of every seafarer to prevent malaria, both for
                                himself and his fellow crew members. The availability of malaria
                                protection onboard supports a healthy workplace.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Tips for successful
                                    implementation of the
                                    “Malaria” campaign
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Encourage and stimulate the crew members to protect
                                against malaria. Pay attention to protection and prevention,
                                at medical check-ups, meetings etc.
                                Use a varied approach to inform and motivate the
                                seafarers onboard. Offer correct information and state of
                                the art prevention and protection. Investment in health
                                promotion has a high return.
                                The whole vessel has to be behind the programme: captain
                                and offi cers have to show their commitment.
                                Take enough time to implement a malaria prevention
                                programme onboard. Behavioural changes take several
                                months and benefi ts may even take longer to become
                                measurable.
                                Make a systematic plan of what you want to achieve in
                                respect to malaria prevention onboard and over what
                                period of time. Involve key persons like the captain, company
                                pharmacist and ship chandler and link these efforts
                                to a company policy on health.
                                Budget the programme, make sure the activities are
                                evaluated and corrections are made accordingly.
                                Announce the planning, activities, results and changes.
                                Organise a kick-off event like an information meeting or
                                distribute protective and preventive tools and medication.
                                Display the schedule of prevention and protection when
                                entering a malaria zone and inform the crew about the
                                measures to be taken for a well defi ned period of time.
                                Provide information (posters or leafl ets) on malaria prevention.

                                Ask crew members to do tests and fi ll out questionnaires.
                                Give crew members the possibility to make suggestions to
                                improve compliance of prevention and protection.
                                Keep track of the medication used for prevention and
                                protection onboard and inform the crew about imbalances
                                found.
                                Link MALARIA with SAFE TRAVEL and HIV / AIDS and
                                STD’s. Provide FIT ONBOARD and other SHIP health
                                initiatives.
                                Make Malaria prevention available free of charge.

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                                    Malaria -
                                    The Scale of the Problem
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Malaria, -- one of the world’s most common and serious
                                tropical diseases, causes at least 1 million deaths every
                                year --, the majority of which occur in the most resourcepoor
                                countries. More than half of the world’s population
                                is at risk of acquiring malaria, and the proportion increases
                                each year because of deteriorating health systems,
                                growing drug and insecticide resistance, climate change,
                                natural disasters and armed conflicts.
                                <div class="" style="background:#c5c5c5; padding:7px;">
                                    Malaria represents a major threat to world health<br />
                                    Approximately 40% of the world’s population live
                                    in countries where the disease is endemic and
                                    are at risk of malaria.<br />
                                    3.2 billion people around the world are at risk of
                                    malaria<br />
                                    Up to and around 500 million clinical disease
                                    episodes each year<br />
                                    RBM/WHO 05, RBM/WHO BFM
                                </div>
                                As of 2004, 107 countries and territories reported that
                                they had areas at risk of malaria transmission. Most of
                                these are developing nations, and many have inadequate
                                healthcare systems and poor economic conditions.
                                It is predominantly a disease affecting Africa, south and
                                central America, Asia, and the middle east. The heaviest
                                burden is in Africa, where around 90% of the approximately
                                1 million deaths from malaria worldwide occur each
                                year.
                                <span style="color:#229ec5">
                                    Although Africa is hardest hit, it is estimated
                                    that more than 1/3 of clinical malaria cases occur
                                    in Asia and 3% occur in the Americas. The
                                    estimated cost to effectively control malaria is
                                    several billions in US dollars annually.
                                </span>
                                Climate greatly affects the feeding and breeding habits of
                                the malaria mosquito. It is prevalent in tropical climates,
                                but usually not higher than 1,500-2,000m above sea level.
                                Mosquitoes breed in fresh water. World climate and global
                                warming affect breeding and spread of malaria.
                                Non-immune travellers are at a substantial risk of acquiring
                                “falciparum malaria”. Each year as many as 30,000
                                travellers fall ill with the disease.
                                Malaria and HIV are 2 of the most devastating global
                                health problems of our time. Together they cause more
                                than 4 million deaths a year. To a considerable extent,
                                both are concentrated in the same geographical regions.
                                The resulting co-infection and interaction between the
                                two diseases have major health implications. Where both
                                diseases occur, more attention must be given to specifi c
                                diagnosis for febrile patients.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseone">Malaria - The Disease</a>
                            </h4>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse">
                            <div class="panel-body">
                                Malaria is an infectious disease caused by the Plasmodium
                                parasite. There are 4 types of malaria that affect
                                humans: Plasmodium falciparum is the most dangerous of
                                those species, as it causes the most severe infections and
                                accounts for nearly all malaria-related deaths.
                                P. vivax, P. ovale and P. malariae cause milder but nonetheless
                                debilitating acute disease. P. vivax is the most
                                widely distributed of the 4 species. Like P. ovale, which
                                is mainly confi ned to Africa, it can remain as a dormant
                                form in the human liver for months and even years. These
                                forms are diffi cult to eradicate with existing antimalarials.
                                P. malariae is also widespread, but does not cause severe
                                infections.
                                Malaria is transmitted to humans by infected female Anopheles
                                mosquitoes that feed on human blood. Anopheles
                                mosquitoes feed between dusk and dawn.
                                The mosquitoes tend to respond to light in their feeding
                                habits and are most active in low light hours after dusk
                                and in the hours prior to dawn. Female mosquitoes will
                                have a meal consisting of blood just before laying their
                                eggs, which are laid at night.
                                The mosquito bite injects the malaria parasite into the
                                blood, which then travels through the bloodstream to the
                                liver. In the liver, the parasites grow and develop, until they
                                are ready to leave the liver and enter the bloodstream
                                again. Once the parasites re-enter the bloodstream they
                                invade the red blood cells, fi nish growing, and begin to
                                multiply quickly. The number of parasites increases until
                                the red blood cells burst, releasing thousands of parasites
                                into the bloodstream. The parasites then attack other red
                                blood cells, and the cycle of infection continues, causing
                                the common signs and symptoms of malaria

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">Malaria - Signs and Symptoms</a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                The symptoms of the most life-threatening type of malaria
                                are usually experienced between 1 week and 2 months
                                after infection. There are other, less severe types of malaria,
                                which can cause symptoms more than a year later.
                                Even in its uncomplicated form, malaria is
                                debilitating.
                                It clinically presents with a variety of non-specifi c, fl u-like
                                symptoms, including:<br />
                                · fever (often exceeding 40°C)<br />
                                · chills<br />
                                · malaise<br />
                                · nausea and vomiting<br />
                                · fatigue<br />
                                · myalgia (muscle pain)<br />
                                · headaches<br />
                                · sweating<br />
                                A typical attack lasts 8-12 hours. It is necessary to take
                                the temperature every 3 or 4 hours in order to discover
                                the typical pattern in a patient with a possible malaria.
                                A classic malaria attack is characterised by sudden fever,
                                which lasts several hours.
                                3 successive and clearly distinctive stages may be
                                observed (but this is often not the case in P. falciparum
                                malaria):<br />
                                1. Cold stage (chills) rising fever, patient
                                feels cold, ashen colour, temperature is
                                increasing rapidly, seeks more covering
                                with blankets on bed.
                                <br />
                                2. Hot stage, throws off all blankets, looks
                                red and congestive, very warm, high temperature,
                                splitting headache and severe
                                neck pains.<br />
                                3. Sweat stage, patient suddenly breaks
                                out in perspiration, clothes and bed are wet
                                with sweat, temperature is falling quickly,
                                patient feels better, often gets appetite
                                back and falls asleep.
                                A patient with severe P. falciparum malaria may present
                                with confusion, or drowsiness with extreme weakness.
                                In addition, the following may develop:<br />
                                · cerebral malaria, defi ned as unrousable coma not attributable
                                to any other cause in a patient with falciparum
                                malaria<br />
                                · generalized convulsions<br />
                                · severe anaemia (lack of red blood cells necessary for
                                oxygen transport in the blood)<br />
                                · hypoglycaemia (low blood sugar)<br />
                                · respiratory distress<br />
                                · acute renal failure (no or very little urine production)<br />
                                · acute pulmonary oedema and adult respiratory distress<br />
                                syndrome (ARDS)<br />
                                · circulatory collapse, shock, septicaemia (‘algid malaria’)<br />
                                · abnormal bleeding<br />
                                · jaundice<br />
                                · haemoglobinuria (found in the urine by a chemical stick<br />
                                · high fever<br />
                                Important : These severe manifestations can occur singly
                                or, more commonly, in combination in the same patient.
                                Cerebral malaria is the most serious manifestation
                                of severe falciparum malaria. In non-immune patients,
                                cerebral malaria can develop rapidly from uncomplicated
                                disease. Cerebral malaria is characterised by bleeding,
                                disturbance of consciousness, coma, and rapid death.



                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                    Malaria - prevention
                                </a>
                            </h4>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">
                                The malaria problem is complicated, potentially serious,
                                and present world-wide.
                                It is important to realise that at present a 100 % protection
                                is not possible. Protective measures, such as appropriate
                                clothing, repellents, impregnated bed nets, aerosolised
                                insecticides, screens and air-conditioning (where available)
                                signifi cantly reduce the risk of transmission (from mosquito
                                to human).
                                If transmission occurs despite protective measures,
                                appropriate chemoprophylactic drugs will usually suppress
                                and even eradicate the parasites. There is no method
                                available to prevent malaria completely. All measures are
                                aimed at reducing the risk of a malaria-attack to a minimum.
                                Hence ALL MEASURES HAVE TO BE COMBINED,
                                giving almost 100% risk elimination for severe malaria and
                                malaria death.<br />
                                4 . components of malaria protection :<br />
                                1 . BE AWARE OF THE RISK
                                The ship management needs to review all the ports to be
                                visited, and check the malaria risk. This cannot be done
                                simply by looking at what country the port is in, as risk
                                varies in different areas within each country and the risk on
                                the coast has to be compared to the risk inland.
                                Will the seafarers be staying on board, at anchor, taking
                                shore leave in the vicinity of the port, taking leave and
                                travelling further inland, or will they be joining or leaving the
                                ship at the port in question?
                                How long is the call, and are they in port at dusk, when the
                                risk is highest, or just during the day, with lower risk? All of
                                these factors make a difference to the risk incurred.<br />
                                Malaria Risk Areas for Seaman<br />
                                (not going into the hinterlands) :<br />
                                The risk is often considerably less in coastal regions and
                                in the centre of urban areas. So the risk for seafarers is
                                generally lower if they are not travelling inland. BUT THIS
                                IS NOT TRUE IN SUB-SAHARAN AFRICA. And even in
                                other regions the coast is never completely free of malaria
                                and the wind can carry the mosquitoes far into sea to ships
                                at anchor!
                                All port areas (ports and hinterland) of Africa, Asia, Central
                                and South America situated between 25° NB and 25° SB
                                are potentially contaminated.
                                Even if the risk seems small, a brief visit to a country
                                where malaria is endemic may be suffi cient to contract the
                                disease. It is important to note that even frequent travel to
                                endemic areas does not convey useful immunity against
                                malaria.
                                <div style="background:#c5c5c5; padding:8px;">
                                    “Malaria immunity”<br />
                                    Frequent or chronic exposure to infection with malaria parasites over prolonged periods produces varying degrees
                                    of immunity - from partial to full. Only people constantly living in an area where there is permanently high malaria
                                    transmission may build up a certain immunity, but only after many years.
                                    People at greatest risk are those who have been exposed to malaria only infrequently and have developed little or
                                    no protective immunity.
                                    Immunity reduces the risk of developing clinically signifi cant disease compared with non-immune travellers and
                                    infants.
                                    Although the population in areas with endemic malaria mostly acquires immunity during childhood and adolescence,
                                    this protection is partial and wanes when exposure has ceased.
                                    When previously immune people move outside a malaria area for some years, they are at risk of severe malaria
                                    when they return.
                                    Moreover, immune people are usually chronically infected and are therefore at risk of break-through attacks.
                                    Apart from break-through attacks, immune people generally do not develop symptoms, despite being infected with
                                    malarial plasmodia. In areas with a lot of malaria, immune adults represent a large reservoir of infection,
                                    which threatens the non-immune. Parasite carriers can actually trigger small epidemics of malaria in communities of
                                    non-immune people.
                                </div>
                                2. AVOID BEING BITTEN
                                The best way to prevent malaria infection is to take measures
                                to avoid being bitten. The advent of air conditioned
                                ships has made a change but when within 2 miles of a
                                malaria shore it remains important that:
                                · After dusk all doors are kept closed, windows shall only
                                be left open when mosquito netting in place
                                · Any mosquitoes which enter compartments are killed.
                                Just because mosquitoes can’t be heard it doesn’t mean
                                that there aren’t any : Anopheles mosquitoes don’t buzz
                                loudly!
                                · Use an insecticide spray. Spray in particular under
                                tables, chairs and in dark corners
                                · Persons going on deck or ashore after dusk should wear
                                long sleeved shirts and trousers to avoid exposing their
                                arms and legs
                                · No receptacles, pools of stagnant water or collections of
                                dew water or rain are allowed to develop on deck or in
                                life boats, where mosquitoes might lay their eggs
                                · Refuse bags or drums have to be sealed properly: when
                                this is done the mosquito plague often drops spectacularly,
                                especially on ships lying a few meters off shore
                                Other traditional measures to protect against
                                mosquitoes include:<br />
                                · Placing fi ne wire mesh over portholes, sky lights, ventilators
                                and other openings<br />
                                · Screening lights to avoid attracting mosquitoes<br />
                                · Sleeping spaces or cabins shall be kept closed and
                                ventilated via ventilation holes covered up with mosquito
                                netting<br />
                                · The galley shall be well ventilated but doors and windows
                                shall be covered up with mosquito netting<br />
                                The mosquitoes tend to respond to light in their feeding
                                habits and are most active in low light hours after dusk and
                                in the hours prior to dawn. It is important that repellents are
                                used between dusk and dawn to prevent being bitten.
                                Use a repellent that has DIETHYL-M-TOLUAMIDE (DEET),
                                to be renewed every four/six hours. The optimal concentration
                                of DEET is between 20 and 50 %, for children and
                                pregnant women between 20 and 30 %. Try to avoid using
                                products that are connected to homemade concoctions!
                                While clothing alone will not protect you against mosquito
                                bites, it can help in preventing bites when used along
                                with other careful prevention. Clothing that covers the
                                body, such as long trousers and long sleeves; socks etc.,
                                worn after dark will lower the risk of being bitten. While
                                mosquitoes are able to bite through many materials, canvas
                                mosquito boots and thick denim jeans will make it more
                                diffi cult.
                                Avoid being outside after sunset and especially avoid parties
                                near pools and lakes.
                                Clothing that has been impregnated with permethrin or
                                deltamethrin will also help repel mosquitoes. Research
                                has suggested that mosquitoes are attracted to sweat and
                                so keeping clothes clean, especially socks (!), might help.
                                It has also been suggested that mosquitoes are attracted
                                to dark colours, so wearing light colours or white clothing
                                might help prevent being bitten.
                                While air conditioning does help to keep the mosquitoes
                                away due to the lower temperature, it is important that it is
                                left on all day and that windows are not left open at night!
                                Using an undamaged mosquito net in an area where malaria
                                is present is a good idea. Ideally use previously impregnated
                                mosquito nets, which can be washed. They keep
                                their activity for up to 30 months instead of 6 -12 months
                                with mosquito nets which are impregnated by oneself, they
                                can be washed up to 20 times, and the cost is not extremely
                                high. In the near future improved impregnated mosquito
                                nets will be available, whereby different treatments make
                                the insecticide absorb into the fi bres. The net has to be put
                                under the mattress, fi xed on the 4 corners of the bed.<br />
                                3. Chemoprophylactic drugs -
                                TAKE ANTIMALARIAL DRUGS
                                The fewer the bites, the smaller the risk of infection. But
                                even when the greatest care is exercised it will seldom
                                be possible to prevent mosquito bites either on shore or
                                onboard entirely.
                                For this reason in all cases when a ship is bound for a
                                malaria port, in addition to taking all possible measures to
                                prevent mosquito bites, medication has to be given to the
                                whole crew systematically.
                                The captain has to make sure that everybody onboard
                                takes the prophylactic medication. Although many people
                                are very reluctant to take medication when they do not feel
                                sick, in case of malaria risk they will have to be persuaded
                                to do so.
                                Preventative medication does not stop the malaria parasite
                                from getting into the bloodstream but strongly reduces the
                                chance of disease, if the medication is taken correctly.
                                All persons, therefore, should be warned that they are
                                exposed to the chance of malaria infection. If they fall ill at
                                a later date, they should inform their doctor without delay
                                that the fever from which they are then suffering may be
                                due to malaria contracted abroad.
                                Resistance of the parasite against malaria medication
                                exists and is high in several regions.
                                If you are visiting a malaria zone, see your company
                                medical service, your doctor or travel clinic at least a
                                month prior to travelling so that suitable medication can be
                                arranged. If you suffer from any heart condition, allergy or
                                other medical problem, this might infl uence the medication
                                you are given.
                                Most medication is taken for a set period before going,
                                this continues while you are in a malaria zone and for a set
                                period after leaving the malaria zone.<br />
                                <img src="~/background/malariya/1.jpg" class="pi" />
                                EUROPE<br />
                                <img src="~/background/malariya/2.jpg" class="pi" />
                                AFRICA<br />
                                <img src="~/background/malariya/3.jpg" class="pi" />
                                <img src="~/background/malariya/4.jpg" class="pi" />
                                <img src="~/background/malariya/5.jpg" class="pi" />
                                <img src="~/background/malariya/6.jpg" class="pi" />
                                <img src="~/background/malariya/7.jpg" class="pi" />
                                <h2>
                                    NEAR AND MIDDLE EAST
                                    AND THE INDIAN SUBCONTINENT
                                </h2>
                                • Yemen : chemoprophylaxis type IV, no risk in Sana’a city ; on Socotra Island chemoprophylaxis type I<br />
                                • In the ports of Iran, Pakistan, Bangladesh : risk is present but variable and moderate.<br />
                                • For India the situation is more complex and several areas, including on the coast require chemoprophylaxis
                                type IV : in the north-eastern states, in Andaman and Nicobar Islands, Chhattisgarh, Goa, Gujarat, Jharkhand,
                                Karnataka (with exception of the city of Bangalore), Madhya Pradesh, Maharashtra (with the exception of the
                                cities of Mumbai, Nagpur, Nasik and Pune), Orissa, and West Bengal (with the exception of the city of Kolkata).<br />
                                • Colombo and Galle in Sri Lanka are malaria free.<br />
                                • In many areas seafarers may drop their chemoprophylaxis after a detailed discussion of their itinerary with a
                                specialist doctor and careful evaluation of the malaria risk.<br />
                                <img src="~/background/malariya/8.jpg" class="pi" />
                                <img src="~/background/malariya/9.jpg" class="pi" />
                                <img src="~/background/malariya/10.jpg" class="pi" />
                                <img src="~/background/malariya/11.jpg" class="pi" />
                                <img src="~/background/malariya/12.jpg" class="pi" />
                                <img src="~/background/malariya/13.jpg" class="pi" />
                                SOUTH AMERICA <br />
                                • At the west coast malaria is present from South Panama to the north of Ecuador, plus at the border of Ecuador-Peru; The risk is very
                                low on the coast of the remainder of Ecuador and again very low on the coast of Peru.
                                There is also a low risk for seafarers in the port of Guayaquil and in the port of Buenaventura: protection type I only. But if a patient
                                has fever, think of a possible malaria attack.<br />
                                • Hence, there is no risk at all in the coastal areas south from Fortaleza on the east coast and south from the Ecuadorian-Peruvian
                                Border on the west coast.<br />
                                • In many areas seafarers may drop their chemoprophylaxis after a detailed discussion of their itinerary with a specialist doctor and
                                careful evaluation of the malaria risk in relation to shipping, on condition that strict anti-mosquito measures are taken from sunset to
                                sunrise and that malaria emergency treatment and full instructions are on hand.<br />
                                • Colombia: chemoprophylaxis type III in regions of Orinoquía ; chemoprophylaxis type IV in Amazonia, Pacífi co and Urabá-Bajo
                                Cauca.<br />
                                <img src="~/background/malariya/14.jpg" class="pi" />
                                <img src="~/background/malariya/15.jpg" class="pi" />
                                <div class="" style="background:#ffd800; padding:20px; margin-bottom:4px;">
                                    NOTE :
                                    There is also a risk for seamen travelling by air to join the ship or on repatriation when they make a stopover in
                                    infected malaria regions (especially when arriving at night in Sub-Saharan African airports).
                                    As many different areas may be visited during a trip, the fi nal advice about which malaria chemoprophylaxis to be
                                    taken for the whole route of travel need preferably to be decided in communication with an expert.
                                </div><br />
                                <img src="~/background/malariya/16.jpg" class="pi" />
                                4. Early diagnosis and treatment
                                for a febrile illness<br />
                                In the event of a probable malaria attack at sea, it is really
                                of paramount importance to give the appropriate treatment
                                correctly and in time.
                                Immediate diagnosis of malaria is essential since complications
                                arise within hours or days of the fi rst symptom,
                                and because falciparum malaria can rapidly progress to
                                life-threatening disease.<br />
                                If the diagnosis of malaria is suspected onboard, treat
                                fi rst, and then arrange for defi nitive diagnosis.<br />
                                Fever occurring in a seafarer 1 week or more after entering
                                a malaria risk area, and up to 3 months after departure, is a
                                medical emergency that should be investigated urgently.
                                Malaria is usually diagnosed by the characteristic signs
                                and symptoms, then treated empirically, without waiting for
                                a defi nite diagnosis. However, this can lead to problems
                                as the disease produces symptoms very similar to those
                                caused by other infections.
                                Use of malaria chemoprophylaxis does not preclude
                                malaria as the presenting cause of fever, especially if the
                                prophylaxis used is inappropriate for the region visited.
                                A defi nitive diagnosis can usually be made by microscopy
                                of stained blood fi lms. However, other laboratory techniques
                                are now available, including immune assay (ELISA)
                                for parasitic antigen, which may be performed very quickly.
                                In most cases, a fi rst attack occuring at night goes
                                unnoticed as a persons temperature is not generally taken
                                at night.
                                some occupational groups, such as seafarers, who make
                                frequent short stops in endemic areas over a prolonged
                                period of time. These travellers may choose to reserve
                                chemoprophylactic drugs for high-risk areas only.
                                Malaria by P. Falciparum is life-threatening, especially for
                                travellers coming from regions where malaria does not
                                exist. Treatment of probable malaria onboard is focussed
                                in the fi rst place on falciparum malaria and because these
                                treatments are usually effective against other forms of
                                malaria.
                                Standby emergency treatment is started when fever
                                and fl u-like symptoms occur after being in an area with
                                a malaria risk and where it is not possible to obtain
                                medical attention within 24 hours.
                                Contact radio medical advise when standby emergency
                                treatment is considered. If the patient has taken chemoprophylaxis,
                                then the same medicine should not be used
                                for treatment.
                                Combinations of antimalarials are now (2006) recommended
                                by the WHO for treatment of P. Falciparum malaria.
                                Artemisinin and its derivatives (artesunate, artemether,
                                artemotil, dihydroartemisinin) produce rapid resolution of
                                symptoms. Artemisinins are commonly used in free combination
                                with other antimalarials. Given in combination with
                                other antimalarials, short courses of treatment (3 days) are
                                effective.
                                <div class="" style="padding:10px; border:1px solid #ff6a00; margin-bottom:4px;">
                                    Examples of Artemisinin-based Combination
                                    Therapies (ACT)*
                                    • artemether/lumefantrine
                                    (e.g. Riamet™, Coartem™)<br />
                                    Artemether 20 mg and lumefantrine 120 mg - 4 tablets
                                    - twice daily - for 3 consecutive days. To be taken with
                                    high fat food or drinks, such as milk.<br />
                                    • artesunate + amodiaquine (e.g. Larimal™)<br />
                                    artesunate 4 mg/kg bodyweight and amodiaquine 10
                                    mg/kg bodyweight for 3 consecutive days. For
                                    example amodiaquine 150 mg 2 tablets twice daily
                                    and artesunate 50 mg 2 tablets twice daily for 3 days.<br />
                                    • artesunate + mefl oquine (e.g. Artequin™)<br />
                                    artesunate 200mg and mefl oquine 250 mg 1 single
                                    dose – of 2 tablets – for 3 consecutive days. The
                                    dosage forms may differ per country.
                                </div>
                                <div class="" style="padding:10px; border:1px solid #ff6a00;">
                                    • artesunate + sulfadoxine/pyrimethamine.
                                    (e.g. Artidox™)<br />
                                    artesunate 4mg/kg bodyweight daily for 3 days plus 1
                                    single dose of sulphadoxine/pyrimethamine 25 / 1.25
                                    mg/kg bodyweight. Adequate fl uid intake must be
                                    maintained in order to prevent crystalluria and stone
                                    formation. If anorexia or vomiting occur during the
                                    therapy, these adverse effects may be minimized by
                                    taking the drug with meals.<br />
                                    * the list of artemisinin derivatives currently used,
                                    is too long but combination therapy is the key!
                                </div>
                                Partial treatments should not be given even when patients
                                are considered to be semi-immune or the diagnosis is
                                uncertain. A full course of effective treatment should always
                                be given once a decision to give anti-malarial treatment
                                has been reached.
                                Where ACT has been adopted as the fi rst-line treatment
                                for P. falciparum malaria, it may also be used for P. vivax
                                malaria in combination with primaquine. Artesunate +
                                sulfadoxine-pyrimethamine is the exception as it will not be
                                effective against P. vivax in many places.
                                Severe malaria is a medical emergency, full doses of
                                parenteral anti-malarial treatment should be started without
                                delay with whichever effective anti-malarial is fi rst available.
                                The risk of death from severe malaria is greatest in the fi rst
                                24 h, yet many ships will not be near appropriate health
                                facilities. Delaying the commencement of appropriate antimalarial
                                treatment may cause deterioration or even death
                                of the patient.
                                It is recommended that patients are treated with the fi rst
                                dose of one of the recommended treatments by the parenteral
                                route if possible or by the intra-rectal route before
                                referral. This could be intramuscular artemether, artesunate
                                or quinine, or a rectal formulation of artemisinin or artesunate.
                                Artesunate 2.4 mg/kg bodyweight i.v. or i.m., repeated
                                after 12 h and 24 h, then once a day is the recommended
                                choice.
                                Following initial parenteral treatment, once the patient can
                                tolerate oral therapy, it is essential to continue and
                                complete treatment with an effective oral antimalarial.
                                Current practice is to continue the same medicine orally as
                                given parenterally to complete a full treatment.Examples of other Standby Emergency Treatments
                                (SET) in Areas with Resistance (WHO)<br />
                                1. Atovaquone + proguanil (Malarone™)
                                an adult should take 4 tablets (1 tablet = 250 mg
                                atovaquone + 100 mg proguanil) daily in 1 intake, for 3
                                days, at the same time, with some food. Sometimes the
                                intake of this medicine can cause vomiting.<br />
                                2. Quinine + tetracycline OR doxycycline
                                Start with quinine (capsules of 500 mg quinine sulphate
                                or tablets of 100 mg) every 8 hours. For an average
                                adult 3 tablets of 500 mg quinine or 3 x 7 tablets of 100
                                mg Quinimax per day ( 1 tablet of 100 mg contains only
                                70 mg active quinine).
                                At the same time, start with either:<br />
                                - tetracycline 20 mg per kg (maximum 3 x 500 mg
                                per day) for 7 days.
                                Or
                                - doxycycline 2 tablets of 100 mg (= 3.5 mg per kg)
                                the fi rst day, followed by 1 tablet of 100 mg
                                (= 2 mg per kg) per day during the next 6 days.
                                In case retching or vomiting are present, postpone this
                                part of the treatment until the third day.
                                Taking tetracycline or doxycycline can cause hypersensitivity
                                reactions in the skin when exposed to sunlight.
                                When the medication is vomited, quinine = Quinimax®
                                can also be injected in the large muscle of the thigh
                                every 8 hours: 3 injections a day during 4 days (severe
                                malaria).<br />
                                3. Quinine + sulphadoxine/pyrimathamine
                                (Fansidar®)
                                Start with Quinine or Quinimax® for at least 4 days as
                                in scheme 2.
                                On the 3rd day sulphadoxine/pyrimethamine
                                (Fansidar®) has to be taken, 3 tablets at once
                                When the fever decreases slowly, it is recommendable
                                to take quinine up to 7 days.
                                <div class="" style="padding:10px; border:1px solid #ff6a00; margin-bottom:4px;">
                                    Examples of other Standby Emergency Treatments
                                    (SET) in Areas with Resistance (WHO)<br />
                                    1. Atovaquone + proguanil (Malarone™)
                                    an adult should take 4 tablets (1 tablet = 250 mg
                                    atovaquone + 100 mg proguanil) daily in 1 intake, for 3
                                    days, at the same time, with some food. Sometimes the
                                    intake of this medicine can cause vomiting. <br />
                                    2. Quinine + tetracycline OR doxycycline
                                    Start with quinine (capsules of 500 mg quinine sulphate
                                    or tablets of 100 mg) every 8 hours. For an average
                                    adult 3 tablets of 500 mg quinine or 3 x 7 tablets of 100
                                    mg Quinimax per day ( 1 tablet of 100 mg contains only
                                    70 mg active quinine).
                                    At the same time, start with either:
                                    - tetracycline 20 mg per kg (maximum 3 x 500 mg
                                    per day) for 7 days.
                                    Or
                                    - doxycycline 2 tablets of 100 mg (= 3.5 mg per kg)
                                    the fi rst day, followed by 1 tablet of 100 mg
                                    (= 2 mg per kg) per day during the next 6 days.
                                    In case retching or vomiting are present, postpone this
                                    part of the treatment until the third day.
                                    Taking tetracycline or doxycycline can cause hypersensitivity
                                    reactions in the skin when exposed to sunlight.
                                    When the medication is vomited, quinine = Quinimax®
                                    can also be injected in the large muscle of the thigh
                                    every 8 hours: 3 injections a day during 4 days (severe
                                    malaria).<br />
                                    3. Quinine + sulphadoxine/pyrimathamine
                                    (Fansidar®)<br />
                                    Start with Quinine or Quinimax® for at least 4 days as
                                    in scheme 2.
                                    On the 3rd day sulphadoxine/pyrimethamine
                                    (Fansidar®) has to be taken, 3 tablets at once
                                    When the fever decreases slowly, it is recommendable
                                    to take quinine up to 7 days.
                                    The areas where Fansidar®-resistance has been signalised
                                    are growing! Especially in South
                                    East Asia, where Fansidar should not be used.<br />
                                    4. Mefl oquine (Lariam™)<br />
                                    Only if there is no alternative possible, because unsupervised
                                    intake of mefl oquine for treatment of malaria is
                                    not advised. Taken in a dose of 25 mg/kg, spread over
                                    3 intakes (every 8 hours). For average adult respectively
                                    3 tablets of 250 mg - 2 tablets of 250 mg - 1 tablet
                                    of 250 mg, with intervals of 8 hours between. The
                                    maximum total dose amounts to 1500 mg (6 tablets of
                                    250 mg). After intake of mefl oquine the fever does not
                                    always disappear immediately, but can still continue for
                                    approximately 3 days.
                                    The World Health Organisation advises for an adult
                                    who takes mefl oquine as emergency treatment on his
                                    own initiative, the following dosage: 2 tablets of 250
                                    mg, followed by 2 tablets of 250 mg after 8 hours. This
                                    dosage is smaller than the one mentioned above. This
                                    dosage is adjusted because mefl oquine in treatment
                                    level dosage, often has unpleasant side effects (gastrointestinal
                                    discomfort, dizziness, anxiety, heart palpitations,
                                    nightmares and insomnia), that sometimes are
                                    very pronounced and cause the already ill person to
                                    panic. These side effects should occur less frequently
                                    with a reduced dosage.
                                </div>
                                <div class="" style="padding:10px; border:1px solid #ff6a00;">
                                    Examples of Standby Emergency Treatment
                                    (SET) in Areas with NO Resistance (WHO)<br />
                                    Chloroquine<br />
                                    For a stay in some regions in Central America and
                                    some Mediterranean regions): 25-mg/kg body weight in
                                    three days time, not shorter and not longer.

                                </div>
                                The use of some of these drugs is limited.
                                There are problems relating to tolerance and resistance
                                has developed in some areas.
                                Good reference can be found in the “INTERNATIONAL
                                MEDICAL GUIDE FOR SHIPS” by the World Health
                                Organisation and on www.who.int
                                Beware of homeopathic drugs, which are not active and
                                may be the cause of lethal evolution.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    Malaria - treatment onboard

                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                A person who is developing an attack of “probable
                                malaria” * onboard, is best assisted and controlled by a
                                colleague constantly. Contact radio medical advice immediately.
                                When the temperature is rising the patient shall be
                                covered and if necessary, in the second stage the blankets
                                shall be removed, in the third stage pyjamas and sheets
                                may have to be changed. When the patient is still able to
                                swallow medication, most cases can be treated onboard.
                                Since fever is a prominent aspect of malaria, the use of
                                antipyretic medication may help to control the disease.
                                Paracetamol and ibuprofen are the preferred drugs to
                                administer for fever caused by malaria.
                                The patient can be given cool drinks in small quantities and
                                cold or preferably tepid water compresses can be applied
                                on the forehead. At the same time the psychic condition
                                should be observed. During an attack the patient may be
                                confused and consequently require continued control,
                                because in his confusion he can get overboard.
                                All seafarers who were treated on board for “probable
                                malaria” * have to consult a doctor upon arrival (if possible
                                with blood slides).
                            </div>
                        </div>
                    </div>






                </div>
            </div>
            <img src="~/background/pro1.jpg">
        </div>
    </div>
</body>



