
@{
    ViewBag.Title = "Protectingyourskinonboard";
}

<h2></h2>
<link href="~/link/css/static.css" rel="stylesheet" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- style CSS -->
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/colors/default.css" id="colorSkinCSS">

<link href="dist/dual-listbox.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/Crew.js"></script>
<style>
</style>
<body>

    <div class="row">
        <div class="head_title">
            <h2 class="ta"> Protecting your skin on board</h2>
        </div>

        <div class="col-md-12 card backk">
            <div class="">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Crew Health: Protecting your skin on board</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                13 October, 2016
                                Did you know that skin is our largest and fastest growing organ? It has three crucial functions:
                                Protection: The skin acts as a barrier from temperature variations, micro-organisms and chemicals.
                                Regulation: The skin helps us to maintain an optimum body temperature through the use of hair and
                                sweat.
                                Sensation: The skin has an extensive network of nerve cells that help to detect changes in the
                                environment and alert you to high or low temperatures, and pain.
                                Being such an important organ it is imperative that skin is protected and taken care of. Being on board
                                ships can result in long periods of time working outside, sometimes in regions where the sun’s intensity
                                can be high. This article highlights key factors that can harm skin while on board, and provides advice on
                                how to protect and take care of skin.
                                The effect of the sun on skin
                                Exposing skin to appropriate amounts of sunlight is essential for health as it provides Vitamin D which
                                helps the body absorb calcium and phosphate, fundamental for strong and healthy bones. However
                                over exposure to sunlight also carries with it risks and can cause a range of diseases as highlighted by
                                the World Health Organisation (http://www.who.int/en/) (WHO):<br />
                                • Sunburn and other skin changes: sunburn ranges from skin reddening to severe and painful
                                blistering of the skin.<br />
                                • Cataract of the eye lens: opacities in the eye lens lead to decreased vision and eventual
                                blindness.<br />
                                • Skin carcinoma: several types of malignant skin tumours of the non-melanoma type are caused
                                by UV radiation.<br />
                                • Malignant melanoma of the skin: this is a very severe cancer that can develop many years
                                after excessive exposure to the sun.
                                There are many measures that can be taken to ensure time spent in the sun is beneficial, not
                                detrimental, to personal health. This is especially helpful for crew on board ships, who often have to work
                                in hot climates, on deck with exposure to sun. The WHO recommend:<br />
                                • Limiting time in the midday sun: The sun’s UV rays are strongest between 1000hrs and
                                1400hrs (2 hours each side of the solar noon).<br />
                                • Using shade wisely: Seek shade when UV rays are the most intense. The shadow rule: “Watch
                                your shadow – short shadow, seek shade!” may be helpful.<br />
                                • Wearing protective clothing: A hat with a wide brim and tightly woven, loose-fitting clothes,
                                provide protection from the sun. Sunglasses that filter all UV-A and UV-B radiation will greatly
                                reduce the risk of eye damage.<br />
                                • Using sunscreen: A broad-spectrum sunscreen with a sun protection factor (SPF) of 15+ should
                                be used, and should be reapplied at least every two hours. This can help reduce the skindamaging
                                effects of UV radiation. Remember, don’t prolong your stay in the sun even if you have
                                used sunscreen.<br />
                                • Knowing the UV index: The UV index is a measure of UV radiation (see who.int/uv
                                (http://www.who.int/uv)). The higher the UV index, the higher the risk of skin and eye damage.
                                Use the UV index to plan sun-safe outdoor activities. When the UV index predicts radiation levels
                                of 3 (moderate) or above, sun safety precautions should be taken.<br />
                                Chemicals<br />
                                Chemicals are often used in ship operation, cleaning and maintenance. If skin is exposed to chemicals
                                side effects such as drying and irritation of the skin, permanent skin damage, allergic reactions and more
                                serious side effects such as cancer can occur.<br />
                                It is recommended that protective clothing should always be worn when working with chemicals.<br />
                                Keep moisturised<br />
                                On a day to day basis moisturising is essential for healthy skin. Moisturisers should be applied day and
                                night, and ideally following a shower or bath as the moisturiser is able to trap some of the moisture and
                                use it to hydrate the skin.<br />
                                ISWAN has developed thee posters to help highlight skincare best practice on board. All three posters
                                can be downloaded from the right hand side of this page.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    Read a Book
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                The second most common view held by seafarers in beating stress was Reading. With the advent of laptops, smartphones and internet, you barely find seafarers reading books these days. Even the ship’s library which in the earlier days was full of books is now full of DVDs or glossy magazines at the best. A bit of bedtime book reading can help one sleep better as compared to dozing off after spending time on your smartphone or watching a movie. Research shows that spending time on electronic gadgets before sleeping can adversely affect your sleep quality. Watching action thrillers just before bedtime can increase your heart rate thereby making it difficult to fall asleep quickly. Reading though can be very relaxing and is the perfect recipe for good quality sleep.

                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</body>



